[2021-04-17 10:59] #369 closed

[2021-04-17 11:02] #374 closed

[2021-04-17 11:03] ravikr126 commented on #414
You can work on it.@shrishti-c

[2021-04-17 11:04] ravikr126 commented on #418
Someone work on this issue already

[2021-04-17 11:04] #418 closed

[2021-04-17 11:04] ravikr126 commented on #417
Someone already work on it @shrishti-c

[2021-04-17 11:04] #417 closed

[2021-04-17 11:05] ravikr126 commented on #416
Someone's already work on it @shrishti-c

[2021-04-17 11:05] #416 closed

[2021-04-17 11:05] ravikr126 commented on #415
Someone already work on it @shrishti-c

[2021-04-17 11:05] #415 closed

[2021-04-17 11:06] ravikr126 commented on #413
Kya dikkat aai hai ishme?? @aditidewangan

[2021-04-17 12:36] tanishq-arya opened #419 "JavaScript Error in team.html"
## **Describe the bug**

- There is an error in scroll functionality in team.html
- Check by inspecting the team element console. { Shift + Ctrl + i }

[2021-04-17 12:37] tanishq-arya commented on #419
Please assign me this issue under gssoc

[2021-04-18 06:35] AnshikaAgrawal5501 opened #420 "About Us Section Enhancement"
## Proposal

The About Us section doesn't look attractive, I would like to enhance its content by adding a related GIF or some image and changing the font family of the text present.

I am a GSSOC participant and would like to work on this issue.

[2021-04-18 06:42] AnshikaAgrawal5501 opened #421 "Roadmap Page"
## Proposal

I think the Roadmap page needs to be changed completely. We should replace the image of the roadmap with proper text (text taken from image) and we can put proper images related to context.

[2021-04-18 07:42] aditidewangan commented on #413
The slidebar icon of Instagram is not correct. I would like to change it to its correct icon please assign me this.

[2021-04-18 08:56] tend2infinity opened #422 "Add navbar for the DSA.html page"
## **Is your feature request related to a problem? Please describe.**

At present, there is no navbar on DSA.html page, so I would like to add a navbar that would be identical to that on the index page.

[2021-04-18 09:03] tend2infinity opened #423 "Navbar for practicedsa.html page"
## **Is your feature request related to a problem? Please describe.**

- Since we don't have a navbar for the practicedsa.html page, I can make one similar to the one in index.html

[2021-04-18 13:38] ravikr126 commented on #420
what you like to implement in about us section? @AnshikaAgrawal5501

[2021-04-18 13:39] ravikr126 commented on #421
ok can you share some ss of this implementation? @AnshikaAgrawal5501

[2021-04-18 13:41] ravikr126 commented on #423
someone already work on this issue @tend2infinity

[2021-04-18 13:41] #423 closed

[2021-04-18 13:41] ravikr126 commented on #422
someone already work on this issue @tend2infinity

[2021-04-18 13:41] #422 closed

[2021-04-18 13:42] ravikr126 commented on #413
what is the error @aditidewangan

[2021-04-18 13:43] ravikr126 commented on #407
someone already work on it @RaveenaBhasin

[2021-04-18 13:43] #407 closed

[2021-04-18 13:44] ravikr126 commented on #406
ok you can work on it @ishwari20

[2021-04-18 13:46] #373 closed

[2021-04-18 14:52] AnshikaAgrawal5501 commented on #420
Hey @ravikr126,
At present the About Us section is having only text, I would like to add an image related to text or coding.

![Untitled1](https://user-images.githubusercontent.com/56653257/115149802-5e688480-a083-11eb-84d6-66d2d2abe674.png)

As you can see, it's just plain text with no attractiveness. Also, I feel like we should try a different font family which will make the text look better.

[2021-04-18 14:55] ravikr126 commented on #420
Ok @AnshikaAgrawal5501 you can work on it .

[2021-04-18 15:09] AnshikaAgrawal5501 commented on #421
I have not prepared anything till now. But I am thinking of making this like the FAQ section not exactly like that but kind of.
There is a list of all the major headings and when we click on that a small note will appear describing that heading.

![screen-capture (1)](https://user-images.githubusercontent.com/56653257/115150243-2feba900-a085-11eb-81b4-042fcb92fc90.gif)

For instance, assume that t

[2021-04-18 15:09] AnshikaAgrawal5501 commented on #420
Thank you for assigning me this issue.

[2021-04-18 15:16] ravikr126 commented on #421
Please dm me in discord server.i will share some information there @AnshikaAgrawal5501

[2021-04-18 16:42] ishwari20 opened #426 "Align and design "Sharpen Your Skills" section on homepage"
## **Is your feature request related to a problem? Please describe.**

- The "Sharpen Your Skills" section on the homepage is not center-aligned and the design can be improved a lot

## **Describe the solution you'd like**

- Center align that section and change the color (also when hovered) and improve the design

[2021-04-18 16:59] #421 closed

[2021-04-19 11:47] codebuzzer01 opened #427 "Add links to topics given under SHARPEN YOUR SKILLS."
## Proposal

The topics which are specified under SHARPEN YOUR SKILLS section redirect to the homepage. Here, I would like to add the links to the topics which will redirect the user to the new webpage consisting the stuffs of the same. So, I would be creating webpages of each topic and add the link for it.
For ex. The 'DATA STRUCTURES' skill given under SHARPEN YOUR SKILLS section will redirect t

[2021-04-20 08:23] yashikabhargava opened #431 "Enhancement in Book List Section"
### Is your feature request related to a problem? Please describe.

1. The font size of heading is too small, and book list is too large.
2. The background does not match the theme of the website.
3. while hovering the color of link changes that also not visible clearly.
4. currently does not look attractive.

### **Describe the solution you'd like**

1. Change in the font size and font family of

[2021-04-20 08:25] yashikabhargava commented on #431
I am a gssoc21 participant and would like to work on this issue. Can you please assign it to me.

[2021-04-20 15:00] vedant-jain03 commented on #347
Sorry for late reply,
I want to make responsive to whole homepage but If you are asking for About us only I will definitely make wrap to the fonts and also make size that suits in responsiveness.
@ravikr126 If you want any more changes I will provide you with that also

[2021-04-20 15:01] vedant-jain03 opened #432 "Night Mode"
## **Is your feature request related to a problem? Please describe.**

- I want to add night mode feature to the website.

## **Describe the solution you'd like**

- I will make switch toggle button and using javascript I will toggle the Dark mode class in the website sections.

[2021-04-20 15:01] vedant-jain03 commented on #432
@ravikr126 If valid Please assign me

[2021-04-20 15:02] ravikr126 commented on #347
Please come to discord server

[2021-04-20 15:08] vedant-jain03 commented on #347
Sure I have messaged you. Ravi

[2021-04-21 10:40] codebuzzer01 commented on #427
hey @ravikr126  shall I work on it??

[2021-04-21 13:09] ravikr126 commented on #427
yes you can work on it @codebuzzer01

[2021-04-21 13:10] ravikr126 commented on #432
no need of night mode on website @vedant-jain03

[2021-04-21 13:10] #432 closed

[2021-04-21 13:10] ravikr126 commented on #431
someone already work on it @yashikabhargava

[2021-04-21 13:10] #431 closed

[2021-04-21 13:14] ravikr126 commented on #51
hii @padmajabhol  .are you complete with your work???

[2021-04-21 13:15] ravikr126 commented on #80
hii @poojitha2002 . work completed???

[2021-04-21 13:16] ravikr126 commented on #88
completed work??? @123mansha

[2021-04-21 13:17] #64 closed

[2021-04-21 13:19] ravikr126 commented on #90
what is your progress @osamamagdy @amrzaki2000 ???

[2021-04-21 13:23] ravikr126 commented on #108
on what basis you will give a certificate to the participant.? there are no quizzes section and code editor . I think it will implement in the future so you can works on other available issues also. @shrishti-c @Dimple115

[2021-04-21 13:23] #111 closed

[2021-04-21 13:25] ravikr126 commented on #119
you can work on it @kamalkarolya

[2021-04-21 13:26] ravikr126 commented on #118
can you implement and send ss here? @Deepak-dex

[2021-04-21 13:26] ravikr126 commented on #125
no need to change readme file @rohank2502

[2021-04-21 13:26] #125 closed

[2021-04-21 13:28] ravikr126 commented on #158
is any progress in this issue @nikhil-Vaibhav ??

[2021-04-21 13:29] ravikr126 commented on #159
any progress @ashutosh-cusat     ? and also msg me on discord server

[2021-04-21 13:29] ravikr126 commented on #166
@surbhi594  what about your pr???

[2021-04-21 13:30] ravikr126 commented on #177
any progress @saswatsam786 ??? or i will assign this issue to @Muskan-creator

[2021-04-21 13:33] #188 closed

[2021-04-21 13:33] ravikr126 commented on #190
please tell me the pr no??

[2021-04-21 13:34] ravikr126 commented on #197
please elaborate your idea @Adityakarthik18

[2021-04-21 13:36] ravikr126 opened #434 "removal of social side bar in home page"
## **Is your feature request related to a problem? Please describe.**

- remove the social sidebar.it overlaps with every message on mobile view

## **Describe the solution you'd like**

- remove this features

[2021-04-21 13:40] ravikr126 commented on #386
any progress @kanishka8276

[2021-04-21 13:44] kanishka8276 commented on #386
@ravikr126 yes, Actually somebody has made a PR for navbar in dsa.html  so I was waiting for it to be merged.

[2021-04-21 14:11] ishwari20 commented on #434
@ravikr126 I would like to work on it. Please assign it to me

[2021-04-21 14:36] ravikr126 commented on #434
Ok @ishwari20 you can work on it

[2021-04-21 14:50] ishwari20 commented on #434
@ravikr126  Is it to be done in phone view only or remove it totally?

[2021-04-21 14:51] ravikr126 commented on #434
If it possible to remove only in phone view then remove only in phone view .If not then remove from both view @ishwari20

[2021-04-21 14:52] ishwari20 commented on #434
Okay will do!

[2021-04-22 12:03] harshb02 commented on #51
I want to work on this issue if not completed @ravikr126

[2021-04-22 15:03] sohini3062 opened #436 "Footer not up to date on Teams Page and Suggested Book Page"
GSSOC 2021 PARTICIPANT

## **Describe the bug**
The footer on the teams and Suggested Books page is missing certain links under features.
- A clear and concise description of what the bug is.

## **Possible solution**
Update the footer of both these pages like in the home page.
- Describe the solution you thought of.

## **Screenshots**
Home Page
![1](https://user-images.githubusercontent.com/6425

[2021-04-22 15:54] surbhi594 commented on #166
Sir, I have created pr #381.

[2021-04-22 20:03] harshb02 commented on #434
This issue has already been raise by you Ravi a week ago. Kindly check the issue #392 @ravikr126

[2021-04-23 04:00] Aarti002 opened #437 "Right position of "Go back" button"
"Go back" button in Roadmap to DSA page seems to be at wrong position , which is giving odd look to the page
Can i work on this issue ?
Thank you!

[2021-04-23 04:02] Aarti002 commented on #437
hey @ravikr126 can i work on this issue please assign this to me.

[2021-04-23 04:09] Aarti002 opened #438 "Adding book link or a playlist"
In SHARPEN YOUR SKILL section we can provide book links and a playlist links to make it easier for user to learn that particular topic.
@ravikr126 can i work on it?
Thank you!

[2021-04-23 04:12] ravikr126 commented on #437
Someone can already work on it @Aarti002 .If they not work then I will assign you.

[2021-04-23 04:16] Aarti002 opened #439 "Adding back button on practicedsa.html and booklist.html"
It will be better if this page has a "Go back"  feature in it.
@ravikr126 should i work on this?
Thank you!

[2021-04-23 04:30] Aarti002 commented on #437
okay , let me know if i can work @ravikr126
Thank you!

[2021-04-23 04:39] Aarti002 opened #440 "Error in last card in team.html"
Bottom right card not showing effects on moving cursor around the card like other remaining card does.
Please assign this to me @ravikr126  i will look into it.
Thank You!

[2021-04-23 04:44] Aarti002 opened #441 "Alert message on entering website"
Whenever a user visits the website an alert or a kind of welcoming box will pop up from the top.
@ravikr126 shall i work on it?
Thank you!

[2021-04-23 04:55] Aarti002 opened #442 "Review section at home page"
Can we add a review section to make our more trustworthy for the user ?
I would love to work on it please assign this to me @ravikr126 .
Thank you!

[2021-04-23 05:31] Pushpit07 commented on #441
What kind of alert are you talking about?

[2021-04-23 05:33] Pushpit07 commented on #323
This need to be implemented on Algo-Phantoms-Backend first. Then it'll be possible to integrate login using google feature to  the website.

[2021-04-23 05:58] Aarti002 commented on #441
i will be using SweetAlert which will just provide option whether user want continue using this website or not , can we send them emails or not?
or if i can add something better i will you know, currently i'm out of options @Pushpit07

[2021-04-23 08:43] #434 closed

[2021-04-23 08:56] ravikr126 commented on #51
@harshb02 you can work on it

[2021-04-23 08:58] ravikr126 commented on #327
hii @tier3guy are you completed?

[2021-04-23 08:58] RahulBansal0502 commented on #51
I was commented first @ravikr126

[2021-04-23 09:14] RahulBansal0502 opened #443 "Background of About us section"
![image](https://user-images.githubusercontent.com/56486309/115849125-35107580-a442-11eb-8e6e-74ce1784c55e.png)
![image](https://user-images.githubusercontent.com/56486309/115849398-799c1100-a442-11eb-8d7a-d6781386869e.png)
![image](https://user-images.githubusercontent.com/56486309/115849447-828ce280-a442-11eb-8ba0-04f86e35f3e3.png)

I want to make such type of background @harikesh409 @ravikr126

[2021-04-23 10:09] K-jais opened #444 "Add the links of the DSA in a better way"
Add the links of the DSA in a better and more styled way. Removing its layout of the excel file and adding the links like a list.

[2021-04-23 16:35] #354 closed

[2021-04-23 17:30] ravikr126 commented on #444
we are planning to remove that list. if you have some ideas to add new dsa problems then please elaborate on your idea  @K-jais

[2021-04-23 17:33] K-jais commented on #444
I am thinking of adding those questions which are there in the excel but with a better frontend in the form of lists with categories like array, dynamic programming,etc.
And when the person clicks on that particular problem , he will be straight away go to that problem.

[2021-04-23 17:45] K-jais commented on #444
@ravikr126

[2021-04-23 18:06] ravikr126 commented on #444
We want something different from the sheet .Please tag me on discord server .i will tell you more details

[2021-04-23 19:02] K-jais commented on #444
Sir @ravikr126 I have tagged you in the discord server.

[2021-04-23 19:12] #400 closed

[2021-04-24 03:31] Ankita297 opened #446 "Add a welcome bot"
## **Is your feature request related to a problem? Please describe.**

Add a welcome bot using github action like when contributor makes his/her first PR or open his/her first issue  it will greet them .
## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.
![New issue · Issue #1 · Ankita297_Story - Google Chrome 22-04-2021 00_53_11](https://user-im

[2021-04-24 04:25] Aarti002 commented on #441
can i work on it? @Pushpit07

[2021-04-24 07:16] ravikr126 commented on #218
what is the progress @amangupta37 ?

[2021-04-24 07:18] #406 closed

[2021-04-24 07:30] #420 closed

[2021-04-24 07:38] harikesh409 commented on #325
There is already an issue #177 for sign in/ sign up so don't create a new one.

[2021-04-24 07:38] harikesh409 commented on #325
Okay go ahead

[2021-04-24 07:43] harikesh409 commented on #403
Can you elaborate a bit more as there is already a topic wise problems list under DSA problems.

[2021-04-24 08:12] harikesh409 commented on #443
Duplicate of #175

[2021-04-24 08:12] #443 closed

[2021-04-24 09:08] RahulBansal0502 commented on #175
@harikesh409 I want to use white but its gradient like in #443 which seems cool

[2021-04-24 09:13] harikesh409 commented on #175
What ever the color no need to change it.

[2021-04-24 09:40] Mukta-Sawant opened #447 "Add github link in sidebar"
## **Describe the bug**

- Github sidebar's icon directs to the algo-phantom website whereas the github icon in the footer section directs to the Algo-Phantoms Github repo.

## **Possible solution**

- We can add a link in the sidebar's Github icon too.

**GSSOC'21**

[2021-04-24 09:55] harikesh409 commented on #391
You are viewing an old code pull the latest code then you can get those changes and view it.

[2021-04-24 10:02] harikesh409 commented on #365
What is the progress @sakshigoel19

[2021-04-24 10:18] harikesh409 commented on #276
This is not needed as of now kindly work on some other issue.

[2021-04-24 10:20] harikesh409 commented on #447
Please go ahead and add the github link. @Mukta-Sawant

[2021-04-24 10:21] harikesh409 commented on #441
No need of any kinds of alerts on website entering.

[2021-04-24 10:21] #441 closed

[2021-04-24 10:28] harikesh409 commented on #446
Already a bot is present greeting all the users on creating an issue you can see the first comment on this issue that is by the github bot only.

[2021-04-24 10:28] #446 closed

[2021-04-24 10:29] harikesh409 commented on #413
It is the correct Instagram icon only no need to change it.

[2021-04-24 10:29] #413 closed

[2021-04-24 10:42] harikesh409 commented on #442
It is not needed as of now.

[2021-04-24 10:47] harikesh409 commented on #439
There is already issues for the backbutton so it is not needed now for practicedsa.html page and we need a navbar for `booklist.html` and not an go back button for it.

[2021-04-24 10:47] #439 closed

[2021-04-24 10:48] harikesh409 commented on #397
Go ahead @tanishq-arya

[2021-04-24 10:57] #447 closed

[2021-04-24 11:05] 1vivekanand commented on #403
when we click on DSA Problems button it opens the list of problems. The present UI is like an excel sheet having all the topics at the same place. what I think is instead of that we can have cards of different topics( eg-> 1 card for Array, another for Linked list or tree and so on) and under that the same problems will be there for that specified topic only in a tabulated manner .In this manner t

[2021-04-24 11:26] harikesh409 commented on #403
A similar suggestion was suggested at https://github.com/Algo-Phantoms/Algo-Phantoms-Frontend/issues/444#issuecomment-825809972 and @ravikr126 has some suggestions on it ping him on discord he can guide you through it.

[2021-04-24 11:36] harikesh409 commented on #438
Duplicate of #427

[2021-04-24 11:36] #438 closed

[2021-04-24 11:40] harikesh409 commented on #282
Any progress @shruti-mayank

[2021-04-24 11:41] harikesh409 commented on #436
Please go ahead @sohini3062

[2021-04-24 11:49] harikesh409 commented on #409
Go ahead @archanagandhi

[2021-04-24 12:44] AB-san opened #450 "Add github action to auto-message the contributor when their pr is merged"
## Proposal

(A clear and concise description of what the proposal is.)

Message like -  "Well Done @username !! Looking forward for more such contributions" or any other message as per the mentor's wish
would be sent to the contributor after their pr is merged successfully

[2021-04-24 12:44] AB-san commented on #450
I would like to work on this issue

[2021-04-24 12:48] AB-san opened #451 "Add github action to add auto reply whenever a new pr is opened"
## Proposal

(A clear and concise description of what the proposal is.)
Message like -  " We got your pr !! Please kindly wait for team to review it " or any other message as per the mentor's wish
would be sent to the contributors when they open a pr

[2021-04-24 12:48] AB-san commented on #451
I would like to work on this issue

[2021-04-24 14:04] #378 closed

[2021-04-24 14:44] AB-san opened #453 "Add auto issue labler"
## Proposal

(A clear and concise description of what the proposal is.)

there are three templates for issues - bug , feature , proposal

How about if we have a github action to add tags(bug tag, feature tag, proposal tag) for the same if similar keywords are present in the issue

[2021-04-24 14:45] AB-san opened #454 "Add github action tht ll send auto request to the mentors to review pr"
## Proposal

(A clear and concise description of what the proposal is.)
Add a github action that will send auto request to the mentors to kindly review the opened pr

[2021-04-24 14:46] AB-san commented on #454
I would like to work on this issue

[2021-04-24 14:46] AB-san commented on #453
i would like to work on this issue

[2021-04-24 14:53] #409 closed

[2021-04-24 15:20] harikesh409 commented on #453
Most of the participants are new to open sources and may not keep the description with the expected keywords so automating labels is not suggested.

[2021-04-24 15:21] harikesh409 commented on #454
It is not needed as the github will send us notifications if we watch the repo.

[2021-04-24 15:21] #454 closed

[2021-04-24 15:24] harikesh409 commented on #450
It is not needed as mentors will be commenting and on a successful PR merge the github will send an notification.

[2021-04-24 15:24] #450 closed

[2021-04-24 15:24] #386 closed

[2021-04-24 15:26] ravikr126 commented on #80
Are you completed or I will assign to next participant .You have one day more for make pr of this issue @harshb02

[2021-04-24 15:26] AB-san commented on #453
For that we can add a github action which will ask the participant - "Make sure you follow the guidelines/template to create a issue " as soon as they create a new issue . Does that sound good?

[2021-04-24 15:35] harikesh409 commented on #453
Already templates are present but most of them are just deleting the template and writing it on their own forcing them to follow the template is difficult.

[2021-04-24 15:35] #453 closed

[2021-04-24 15:40] harikesh409 commented on #426
Alignment is already being done in #391 and what kind of design changes are you suggesting? If possible post us some screenshots.

[2021-04-24 15:41] harikesh409 commented on #419
Duplicate of #397

[2021-04-24 15:41] #419 closed

[2021-04-24 15:43] harikesh409 commented on #404
Already the input type is `email` so no additional validation is needed and already the cursor is pointer for the contact us button.

[2021-04-24 15:43] #404 closed

[2021-04-24 15:45] harikesh409 commented on #405
I don't see any issue in the alignment on which browser and resolution are you observing this issue and if possible post some screenshots so we can confirm the bug.

[2021-04-24 15:47] harikesh409 commented on #395
Duplication of #177

[2021-04-24 15:47] #395 closed

[2021-04-24 15:48] #88 closed

[2021-04-24 15:53] ashutosh-cusat commented on #80
please assign to me @ravikr126

[2021-04-24 15:55] ravikr126 commented on #80
Wait for tomorrow if harsh not work on it then I will assign to you @ashutosh-cusat

[2021-04-24 16:29] #427 closed

[2021-04-24 16:46] harikesh409 commented on #402
Please go ahead @AmanBisht01

[2021-04-24 16:50] harikesh409 commented on #401
Please go ahead @sreetu

[2021-04-24 16:55] harikesh409 commented on #203
The social media sidebar has been removed in phone views in #435

[2021-04-24 16:55] #203 closed

[2021-04-24 16:56] harikesh409 commented on #383
Go ahead @Harshit-Pathak

[2021-04-24 17:33] Harshit-Pathak commented on #383
Ok sir

[2021-04-25 05:14] #436 closed

[2021-04-25 05:55] sakshigoel19 commented on #365
Please give some more time.Having some emergency at home because of covid situation.

[2021-04-25 06:44] harikesh409 commented on #365
Okay, take care of your health.

[2021-04-25 07:15] archanagandhi opened #456 "Enhancement animation in About page"
Hey @harikesh409 I would like to add a animation effect to the image in about us page.

Demo of the animation:

https://user-images.githubusercontent.com/74424757/115984305-015d5900-a5c4-11eb-8991-2500a12686a4.mp4

[2021-04-25 07:17] harikesh409 commented on #456
Already the home page is heavy loaded so no need of any additional animations.

[2021-04-25 07:17] #456 closed

[2021-04-25 07:29] harikesh409 commented on #440
I can't replicate the issue I have tested in chrome, edge and Firefox. Can you specify under which browser and browser version this issue exists?

[2021-04-25 07:41] harikesh409 commented on #277
What is the progress @tier3guy ?

[2021-04-25 07:48] harikesh409 opened #457 "Image and data not being hidden on page flip in team.html in Firefox browser"
## **Describe the bug**
In Firefox browser in `team.html` page on hover of the cards the image and the data is not being hidden as it is being hidden in chrome or edge, refer the screenshots below.

## **Screenshots**
- In Firefox
![image](https://user-images.githubusercontent.com/3501554/115985187-4edbc500-a5c8-11eb-9760-054a9470ca63.png)
- In Chrome or Edge
![image](https://user-images.githubuse

[2021-04-25 07:53] #397 closed

[2021-04-25 11:56] tanishq-arya commented on #457
Please assign me this issue.

[2021-04-25 17:23] K-jais commented on #328
@harshb02 @ravikr126 please assign this issue to me.

[2021-04-25 17:27] harikesh409 commented on #328
It is already done and the review is being going on. Please look into some other issue.

[2021-04-27 04:14] Shivangi-ch opened #459 "Add floating animation in image of about us section"
## **Is your feature request related to a problem? Please describe.**

-No its not related to a problem.

## **Describe the solution you'd like**

- I would like to add the floating animation in image so that the page looks more attractive .
-
![Screenshot from 2021-04-27 09-33-06](https://user-images.githubusercontent.com/57783826/116184219-f11cb980-a73c-11eb-9f44-ab6f23b5006b.png)
Originally it

[2021-04-27 05:37] harikesh409 commented on #459
Duplicate of #456

[2021-04-27 05:37] #459 closed

[2021-04-27 16:55] ishwari20 commented on #426
@harikesh409 The white and peacock blue color doesn't go with each other. It is looking like the blue section is totally a different part. I would like to change the color to a peacock blue theme (light and dark) or white with light grey will also look very good.

[2021-04-27 16:56] ishwari20 commented on #457
@harikesh409 I would like to work on it. Please assign it to me.

[2021-04-29 17:22] #390 closed

[2021-04-29 17:23] ravikr126 commented on #80
You can work on it @ashutosh-cusat

[2021-04-29 19:59] ashutosh-cusat commented on #80
can u give me 2-3 days to complete @ravikr126

[2021-04-30 03:36] ravikr126 commented on #80
Contact me on discord @ashutosh-cusat

[2021-04-30 07:49] harshb02 opened #461 "Aligning the footer in the mobile view"
## **Describe the bug**
The spacing and alignment of the text has not been done properly in the footer in the mobile view. I want to work on this issue and fix it

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-05-01 06:58] #401 closed

[2021-05-01 07:00] harikesh409 commented on #457
Go ahead @ishwari20

[2021-05-01 07:04] harikesh409 commented on #426
Already for alignment there are issues #359 #373.
Regarding the design the theme color is being used anyways if you have some other color design if possible show us some screenshots so if it is appealing then we apply those design changes.

[2021-05-02 13:52] ravikr126 commented on #73
hii @shalmoly79  are you completed with your work?

[2021-05-02 18:03] ashutosh-cusat commented on #80
anyone want to collaborate @harikesh409 @poojitha2002 @harshb02

[2021-05-03 03:41] SilverGraph opened #462 "Banner text not center-aligned in mobile-view"
## **Describe the bug**

- The banner text is not center-aligned in mobile-view

## **Possible solution**

- Aligning the banner text at center in mobile-view

## **Screenshots**

![Screenshot 2021-05-03 091025](https://user-images.githubusercontent.com/74287708/116839292-70076b80-abef-11eb-848d-58b2ad97e04d.png)

[2021-05-04 04:25] Ankita297 commented on #166
Can i work on this @harikesh409 ?

[2021-05-04 07:24] raks924 commented on #402
hey i would like to work on this issue.kindly assign it to me.

[2021-05-04 07:29] raks924 commented on #73
Hey @ravikr126 i would like to submit the pr by today itself.Kindly let me work on this issue

[2021-05-04 07:31] raks924 commented on #457
hey @harikesh409 can i work on this issue?

[2021-05-04 07:32] raks924 commented on #365
hey @harikesh409 @ravikr126 i really want to merge a few PRs .can i work on this issue?

[2021-05-04 07:37] ravikr126 commented on #365
Let me.talk.to the participate if she not work then i will assignment you @raks924

[2021-05-04 07:44] sakshigoel19 commented on #365
Sorry for the delay. I will make a PR by today or max tomorrow. After tomorrow, you can assign to anybody else.

[2021-05-04 17:49] RuchiGitHu opened #464 "Scroll bar not scrolling smoothly"
## **Is your feature request related to a problem? Please describe.**

I want to make scroll bar run bottom to top with smoothness

## **Describe the solution you'd like**

I will reduce speed of scrolling with smoothness.

[2021-05-06 16:41] anushka-srivastava22 commented on #119
Can i work upon this issue? i would love to contribute to it.

[2021-05-07 05:37] Anmolreshi opened #466 "FAQs Modification in Design"
I would like to redesign FAQ section of webapp and data would be random ! Just want to contribute to open source

[2021-05-07 05:44] Anmolreshi opened #467 "Transition modification of header on hover"
As We hover over the Header a Line extends itself but its increasing on large scale. I could put transition on hovering the header thus improving the UI

[2021-05-07 20:05] aanchalrakheja opened #468 "We can add some team related image instead of this circle in the "Team" page."
![image](https://user-images.githubusercontent.com/68388581/117502758-98032000-af9d-11eb-9062-d3de9faa93a7.png)

[2021-05-08 09:29] #365 closed

[2021-05-08 09:30] harikesh409 commented on #457
Already @ishwari20 has been assigned on this issue if she shows not progress in another 3 to 4 days then I will assign it to you.

[2021-05-08 09:32] harikesh409 commented on #166
Already it is being worked on by @surbhi594 in #381 if there is no update from her within a day or two I will assign it to you.

[2021-05-08 09:34] harikesh409 commented on #80
Added the help wanted label to state open for collab.

[2021-05-08 09:34] harikesh409 commented on #402
What is the progress @AmanBisht01? If there is no progress then I will reassign it to @raks924 .

[2021-05-08 09:42] harikesh409 commented on #464
Already [scroll-behavior: smooth;](https://github.com/Algo-Phantoms/Algo-Phantoms-Frontend/blob/c15b95be78da55394191211befbfc7e3293a3640/css/style.css#L53-L54) is present in the CSS what else are you planning to add to make it more smoother?

[2021-05-08 09:43] harikesh409 commented on #468
Go ahead and add if you are unable to find any image then you can add the logo itesef.

[2021-05-08 09:45] harikesh409 commented on #467
Are you saying about the line effect present in menu?

[2021-05-08 09:47] harikesh409 commented on #466
What kind of design changes are you proposing? If possible show us some rough screnshots.

[2021-05-08 09:48] harikesh409 commented on #119
Go ahead @anushka-srivastava22

[2021-05-08 09:52] harikesh409 commented on #73
GO ahead @raks924 you can work on it.

[2021-05-08 10:13] harikesh409 commented on #462
Duplicate of #112

[2021-05-08 10:13] #462 closed

[2021-05-08 10:15] harikesh409 commented on #451
Not needed.

[2021-05-08 10:15] #451 closed

[2021-05-08 10:16] harikesh409 commented on #440
Closing the issue as there is no reply from @Aarti002 and cannot be replicated when tested.

[2021-05-08 10:16] #440 closed

[2021-05-08 10:21] harikesh409 commented on #405
Closing the issue as there is no response from the creator.

[2021-05-08 10:21] #405 closed

[2021-05-08 10:22] harikesh409 commented on #414
Any progress @shrishti-c ?

[2021-05-08 10:23] harikesh409 commented on #391
Any progress @harshb02 ?

[2021-05-08 10:27] harikesh409 commented on #37
Check changes on #38 if interested tell me I will assign it to you.

[2021-05-08 10:28] harshb02 commented on #391
Already solved the issue @harikesh409

[2021-05-08 10:42] AmanBisht01 commented on #402
No progress you can reassign..

[2021-05-08 11:01] Anmolreshi commented on #467
Yes Could I add a Transition over it

[2021-05-08 11:18] harikesh409 commented on #391
Closing as it has been resolved.

[2021-05-08 11:18] #391 closed

[2021-05-08 11:18] harikesh409 commented on #467
Show us a demo if it is appealing then we can proceed.

[2021-05-08 11:19] harikesh409 commented on #402
@raks924 you can start working on it.

[2021-05-08 16:34] harikesh409 commented on #414
Let's wait for a day and if there is no reply from @shrishti-c then I will assign it to you @Kalashri99

[2021-05-09 08:05] #383 closed

[2021-05-09 11:01] Anmolreshi commented on #467
Yes ! kindly click on the link given below it will redirect you to page with desired effect.
Link : https://codesandbox.io/s/underlinetab-izs8c

[2021-05-09 11:01] Anmolreshi commented on #466
Okay I shall share with you screenshots of design

[2021-05-09 11:04] harikesh409 commented on #467
It looks nice go ahead @Anmolreshi

[2021-05-09 17:23] Saumya-07 opened #470 "Enhance responsiveness"
## **Describe the bug**
Make a better responsive webpage

## **Possible solution**
I would like to make responsive this sharpen skill section

## **Screenshots**
![Screenshot (571)](https://user-images.githubusercontent.com/68998355/117581151-015b6e00-b119-11eb-8f8d-9201e60a9384.png)

I am a GSSOC'21 participant and would like to work on this issue.
please assign this issue to me if you find it va

[2021-05-09 18:08] PranavChauhan22 opened #471 "Adding animations in home page"
I want to add animations in home page so that it doesn't appear to be static to customers plus i also want to include transition
effect in email section of footer.

[2021-05-09 18:13] PranavChauhan22 commented on #471
should i proceed on this task mentors/admins ?

[2021-05-10 04:47] harikesh409 commented on #471
Email transition is not needed and what kind of animations are you talking about?

[2021-05-10 07:11] ShrutiKhatri826 commented on #414
I would like to contribute to this issue as a GSSOC'21 participant. Please assign it to me, hoping for a positive reply soon.

[2021-05-10 07:12] ShrutiKhatri826 commented on #159
I would like to contribute to this issue as a GSSOC'21 participant. Please assign it to me, hoping for a positive reply soon.

[2021-05-10 07:15] ShrutiKhatri826 commented on #37
I would like to contribute to this issue as a GSSOC'21 participant. Please assign it to me, hoping for a positive reply soon.

[2021-05-10 08:18] PranavChauhan22 commented on #471
I want to add scroll animations in about page and i also want to add a background animations like rotating globe in about page.
You can go through the landing page of my blog for better description of the same.
https://pranavchauhan22.github.io/PranavBlog/pranavblog.html

[2021-05-10 14:48] RuchiGitHu commented on #464
ok, I didn't knew about it, thanks for clearing....

[2021-05-10 16:27] #464 closed

[2021-05-10 17:52] PranavChauhan22 commented on #471
should i proceed for it..?

[2021-05-10 18:06] Alenjojo opened #473 "Adding custom scrollbar for Firefox"
## **Describe the bug**
I'm curently for for gssoc'21
I know the scrollbar had been added but not for Firefox only for chrome and safari

## **Possible solution**

For Firefox the code syntax is different.There are limited options but i'll try my best.

[2021-05-11 06:47] siddharth-bhatnagar opened #474 "Replacing the existing scrollbar"
## **Is your feature request related to a problem? Please describe.**
I am a GSSOC'21 participant, and I would like to make changes to the existing scrollbar.

## **Describe the solution you'd like**
Replacing the existing scrollbar with a variation of Perfect Scrollbar (npm) would make the overall website look much cleaner.

[2021-05-11 10:31] prayas7102 commented on #468
@harikesh409 sir can i work on this project? I am also comfortable to collaborate with @aanchalrakheja .

[2021-05-11 14:38] Kalashri99 commented on #414
Can you please assign it to me?

[2021-05-12 17:00] Ankita297 commented on #85
Can i  work on this @ravikr126 @harikesh409 ?

[2021-05-12 17:01] Ankita297 commented on #112
Can i work on this @ravikr126 @harikesh409 ?

[2021-05-12 17:04] Ankita297 commented on #166
Can i work on this @harikesh409 ?

[2021-05-12 17:10] Ankita297 commented on #177
Can i work on this @harikesh409 ?

[2021-05-12 17:16] Ankita297 opened #476 "Sharpen your skill enhancement"
## Proposal
the  current section is not aligned properly  or we can convert it into cards  which will look better or we can align it center

(A clear and concise description of what the proposal is.)
![Algo Phantoms - Google Chrome 12-05-2021 22_39_37](https://user-images.githubusercontent.com/67833077/118016833-7e821f80-b373-11eb-995e-c116e03cc244.png)

[2021-05-12 17:18] Ankita297 commented on #85
The current welcome  bot greet only when issue is first time open  not for the first PR .

[2021-05-13 04:51] Aarti002 opened #477 "Responsiveness"
when we switch to any other mode page starts behave abruptly, can i work on it?

[2021-05-13 05:14] Aarti002 opened #478 "Adding "why to choose us?" section"
It will be always a good approach to represent yourself in a nice way , can i add that section in the page?
Thank you!

[2021-05-13 05:36] Aarti002 opened #479 "Suggesting coding sites"
Can i add a section in which we would suggest the user about some coding websites for practice also will suggest why to choose any particular coding website?

[2021-05-13 16:12] anushka-srivastava22 commented on #119
@harikesh409 Sir i have made few changes in the footer. But i am having a small problem. Like after alignment of Content. I want to align everything in center and i have tried few ways but it isn't working on the code.

[2021-05-14 07:50] harikesh409 commented on #468
The picture looks good but need to see if it goes with the website page or not.

[2021-05-14 07:50] harikesh409 commented on #468
I don't think this issue is needed to be done by 2 members, look into some other issue.

[2021-05-14 07:52] harikesh409 commented on #85
As labelled by @ravikr126 we can do it at a later point of time as of now it is not needed.

[2021-05-14 07:54] harikesh409 commented on #112
Yes you can work on it. There is already a PR #141 if needed you can refer to that.

[2021-05-14 07:56] harikesh409 commented on #166
Yes, you can work on it, check the changes requested in #381. If you have a separate idea or design in mind you can propose it with.

[2021-05-14 08:00] harikesh409 commented on #177
Already PR review is going on, if the requested changes are not done then I will assign it to you.

[2021-05-14 08:01] harikesh409 commented on #37
Go ahead, check the requested changes in #38.

[2021-05-14 08:02] harikesh409 commented on #414
Go ahead @Kalashri99

[2021-05-14 08:05] harikesh409 commented on #471
Not needed.

[2021-05-14 08:05] #471 closed

[2021-05-14 08:08] harikesh409 commented on #402
Currently in sharpen your skills section the user need to click on the text to go to the link but we want to make the whole cell clickable, i.e. if a user clicks anywhere in the cell not only the text the user should be able to navigate to the link.

[2021-05-14 08:12] harikesh409 commented on #479
Don't add a section instead create a new page just like Suggested books and give the list of coding websites with the reasons. Make sure the design is sync in with the website and use the same header and footer.

[2021-05-14 08:14] harikesh409 commented on #474
Not needed.

[2021-05-14 08:14] #474 closed

[2021-05-14 08:16] #73 closed

[2021-05-14 08:17] harikesh409 commented on #473
Go ahead @Alenjojo

[2021-05-14 08:19] #457 closed

[2021-05-14 08:20] harikesh409 commented on #477
What mode are you talking about? Please elaborate on your issue and post some screenshots.

[2021-05-14 09:38] aanchalrakheja commented on #468
Will try placing it once and adjusting the color scheme.

[2021-05-14 09:56] arpit456jain opened #480 "Bug in home page"
## **Describe the bug**

Due to table present there is a bug in home page its looking like this in mobile view
<img width="960" alt="bug in home" src="https://user-images.githubusercontent.com/55352601/118254398-ae8f0700-b4c8-11eb-96ae-0416f4c1895a.png">

## **Possible solution**

I have to remove extra space and decrease its font size so that it fits in small screem\n

## **Screenshots**

- If ap

[2021-05-14 09:57] arpit456jain commented on #480
@harikesh409 can I start work please assign me this issue . I will make the PR as soon as possible

[2021-05-14 13:37] harikesh409 commented on #480
There are many similar responsiveness issues so I can't assign it to you.
#470

[2021-05-14 13:37] #480 closed

[2021-05-14 13:38] harikesh409 commented on #347
Any progress @vedant-jain03 ?

[2021-05-14 13:45] arpit456jain commented on #347
@harikesh409 assign it to me please

[2021-05-14 13:54] arpit456jain commented on #470
I am also interested in this issue . I can solve it within 3 hours.

[2021-05-14 13:57] vedant-jain03 commented on #347
@harikesh409 I have messaged ravikr in discord but I didnt get reply and I was not even get assigned

[2021-05-14 14:14] harikesh409 commented on #470
As @Saumya-07 asked first I am assigning it to her and give her time if she wasn't able to complete it I will assign it to you @arpit456jain

[2021-05-14 14:15] ravikr126 commented on #347
Ok @vedant-jain03 you can work now and make some relevant changes for website

[2021-05-14 14:16] vedant-jain03 commented on #347
Sure @ravikr126 thanks for assigning

[2021-05-14 18:15] aanchalrakheja commented on #468
![image](https://user-images.githubusercontent.com/68388581/118311990-4ebb4f00-b50e-11eb-8ab4-aba34f14db8d.png)
This is how it looks. Should I continue with it?

[2021-05-14 18:48] harikesh409 commented on #468
Looks good go ahead.

[2021-05-15 05:46] aanchalrakheja commented on #468
Ok sure

[2021-05-15 08:26] mansijain980 commented on #371
@ravikr126 is the issue resolved ? If not , please assign it to me.

[2021-05-15 08:27] mansijain980 commented on #437
@ravikr126 I would like to do work on it . Please assign it to me .

[2021-05-15 08:29] mansijain980 commented on #327
@ravikr126 as it is not solved from tha long time ,  till now . Please assign it to me .
Thanks.

[2021-05-15 08:31] Aarti002 opened #483 "Option missing"
In roadmap page "suggested book" option is missing, can i add that? @harikesh409
Please assign me
Thank you!

[2021-05-15 09:09] ravikr126 commented on #327
You cam work now @mansijain980

[2021-05-15 09:09] ravikr126 commented on #437
You can work on it @Aarti002

[2021-05-15 09:10] ravikr126 commented on #437
If @Aarti002 not work on it then I I'll assign to you @mansijain980

[2021-05-15 09:11] ravikr126 commented on #371
This work is on progress so u can't assign to you @mansijain980

[2021-05-15 09:58] Aarti002 commented on #437
Thanks @ravikr126 will soon show  you  the result!

[2021-05-15 12:18] subhangi2731 commented on #218
@ravikr126 @harikesh409 please assign this issue to me

[2021-05-15 12:19] ravikr126 commented on #218
Sure @subhangi2731 you can work on it

[2021-05-15 12:20] subhangi2731 commented on #158
@ravikr126 @harikesh409 please assign this I want to work on this

[2021-05-15 12:21] ravikr126 commented on #158
Now you can work on it @subhangi2731

[2021-05-15 14:24] harikesh409 commented on #483
Duplicate of #366

[2021-05-15 14:24] #483 closed

[2021-05-15 14:41] #468 closed

[2021-05-15 14:57] #473 closed

[2021-05-15 15:16] #177 closed

[2021-05-15 15:51] Aarti002 commented on #437
hey @ravikr126 should i add that button because  there is no button?

[2021-05-15 18:19] saswatsam786 opened #484 "Alignment of sharpen your skills is not centered"
## **Describe the bug**
Sharpen your skills is not centered
- A clear and concise description of what the bug is.

## **Possible solution**
margins should be fixed
- Describe the solution you thought of.

## **Screenshots**

![image](https://user-images.githubusercontent.com/77463804/118374062-bc7f7d80-b5d7-11eb-8cf1-ee424b569e9a.png)
![Capture](https://user-images.githubusercontent.com/77463804/1

[2021-05-16 05:19] ravikr126 commented on #80
hii @amritakesh are you like to work ?

[2021-05-16 05:20] ravikr126 commented on #51
sorry @RahulBansal0502 i forget to see your comment .please you can choose different issue

[2021-05-16 05:27] ravikr126 commented on #89
you can work on it @aakankshabhende

[2021-05-16 05:36] #89 closed

[2021-05-16 05:37] ravikr126 commented on #90
what is your progress @osamamagdy @amrzaki2000 ???

[2021-05-16 05:38] #95 closed

[2021-05-16 05:40] ravikr126 commented on #112
any progress @Ankita297 ?

[2021-05-16 05:40] #118 closed

[2021-05-16 05:51] ravikr126 commented on #159
hii @ShrutiKhatri826 if you like to work you can contribute to @ashutosh-cusat

[2021-05-16 05:57] ravikr126 opened #487 "NAVBAR SECTION"
## **Describe the bug**

-in mobile view navbar section has a
![algo-phantoms github io_Algo-Phantoms-Frontend_booklist html](https://user-images.githubusercontent.com/53082978/118387071-b15d3980-b639-11eb-8b12-232ef4c1bdc3.png)
bug.
![algo-phantoms github io_Algo-Phantoms-Frontend_booklist html](https://user-images.githubusercontent.com/53082978/118387066-a7d3d180-b639-11eb-820a-9183c8694b0c.png)

[2021-05-16 05:59] ravikr126 opened #488 "book.html paage have error"
## **Describe the bug**

-the
![algo-phantoms github io_Algo-Phantoms-Frontend_booklist html](https://user-images.githubusercontent.com/53082978/118387111-f2554e00-b639-11eb-83ee-ee37f10ef13c.png)
 navbar section overlap with book content page
## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-05-16 05:59] kanishka8276 opened #489 "Center align the Hover text in Booklist.html"
The Hover text containing the information About the books should also be in center.
Please assign this to me.
#GSSoC'21

[2021-05-16 06:03] ravikr126 opened #490 "sharpen your skills"
## **Describe the bug**

- in mobile view, sharpen your skill section is not show

## **Possible solution**

- align at the
![algo-phantoms github io_Algo-Phantoms-Frontend_index html (1)](https://user-images.githubusercontent.com/53082978/118387170-6db6ff80-b63a-11eb-90f4-387fbb5999e7.png)
center

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-05-16 06:04] ravikr126 opened #491 "footer section"
## **Describe the bug**

- in mobile view , footer section is not aligned

## **Possible solution**

- align at the center
![algo-phantoms github io_Algo-Phantoms-Frontend_index html](https://user-images.githubusercontent.com/53082978/118387205-ae167d80-b63a-11eb-8622-3e8ef2891e2e.png)

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-05-16 06:05] ravikr126 commented on #489
you can work on it @kanishka8276

[2021-05-16 06:15] #488 closed

[2021-05-16 06:23] Ankita297 commented on #476
@ravikr126 can i work on this ?

[2021-05-16 06:41] kanishka8276 commented on #491
@ravikr126 Please assign this to me.
GSSoC'21

[2021-05-16 06:43] ravikr126 commented on #476
May be someone already raised this issue .Please check once again the previous issue .If this issue not available then I will assign to you @Ankita297

[2021-05-16 07:09] AshuKV commented on #487
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-05-16 07:35] #112 closed

[2021-05-16 07:36] Ankita297 commented on #476
@ravikr126  Sir there are issues related to it but it is not assigned to someone  and also i am thinking of converting these items into cards form which will look more interactive .

[2021-05-16 08:13] harikesh409 commented on #484
Duplicate of #426 #391

[2021-05-16 08:13] #484 closed

[2021-05-16 08:14] harikesh409 commented on #487
Go ahead @AshuKV

[2021-05-16 08:18] harikesh409 commented on #426
Closing due to inactivity.

[2021-05-16 08:18] #426 closed

[2021-05-16 08:19] harikesh409 commented on #476
Are you saying that you want to create a card for each skill and show it in a grid layout?

[2021-05-16 08:22] saswatsam786 commented on #402
@harikesh409 sir I also want to give a try in this issue please assign it to me if possible.

[2021-05-16 08:30] harikesh409 commented on #402
If @raks924 doesn't show any progress by EOD I will assign it to you.

[2021-05-16 08:37] #489 closed

[2021-05-16 08:39] #491 closed

[2021-05-16 08:45] ishwari20 commented on #490
@ravikr126 I would like to work on this issue. Please assign it to me

[2021-05-16 08:47] ishwari20 commented on #81
@ravikr126 I want to work on this issue. Please assign it to me

[2021-05-16 08:53] ishwari20 commented on #90
@ravikr126 I want to work on this issue. Please assign it to me

[2021-05-16 13:01] Ankita297 commented on #476
Yes @harikesh409 .

[2021-05-16 13:23] Abhishekkr93 commented on #51
I want to fix this, please assign me

[2021-05-16 14:49] Muskan-creator commented on #490
@harikesh409 I want to work on this issue please assign it to me.

[2021-05-16 16:53] ravikr126 commented on #490
you can work now @ishwari20

[2021-05-16 23:30] subhangi2731 opened #497 "Setting up eslint and linting the code"
I want to make the code prettier by setting up eslint in the project and linting the code

[2021-05-16 23:31] subhangi2731 commented on #497
@ravikr126 please assign this issue to me

[2021-05-17 07:18] raks924 commented on #402
@harikesh409 what method must i use?

[2021-05-17 14:55] harshb02 commented on #159
I would like to work on this issue with @ashutosh-cusat. Kindly assign us this issue @ravikr126

[2021-05-17 14:55] harshb02 commented on #461
Kindly check this issue @ravikr126  @harikesh409

[2021-05-17 14:56] harshb02 commented on #81
I want to work on this issue @ravikr126 @harikesh409

[2021-05-18 00:57] NehaK745 opened #500 "Adding space in paragraph"
## **Describe the bug**

I think adding space in the paragraph after the text "Open source organization" will look better.
please allow me to make a PR.

## **Screenshots**

- If applicable, a
![Algo Phantoms - Google Chrome 18-05-2021 5_43_22 (2)](https://user-images.githubusercontent.com/64440607/118574384-eedcd680-b7a1-11eb-907c-fe160fe640a2.png)
dd screenshots to help explain your problem.

[2021-05-18 07:04] Spardha-hash opened #501 "Motion of the about us image"
I want to make the about us image in motion somewhat like bouncing that make it more interactive. So @harikesh409 please assign this issue to me.

![Screenshot (103)](https://user-images.githubusercontent.com/65541725/118606558-33359a00-b7d5-11eb-9244-f99a2ff61e3a.png)

[2021-05-18 07:19] ashutosh-cusat commented on #159
@harshb02 message me on discord server.

[2021-05-18 08:22] Saumya-07 commented on #470
Please review PR #496 @harikesh409

[2021-05-18 13:11] AnjiAgrawal commented on #51
Can I work for this as a participant of GSSOC21.. I can solve it.

[2021-05-18 15:09] harikesh409 commented on #501
Duplicate of #456 #459

[2021-05-18 15:09] #501 closed

[2021-05-18 15:24] harikesh409 commented on #51
It is almost ready so look into other isssues. @Abhishekkr93 @AnjiAgrawal

[2021-05-18 15:33] harikesh409 commented on #500
Go ahead @NehaK745

[2021-05-18 15:38] harikesh409 commented on #81
The issue is already resolved in #131

[2021-05-18 15:38] #81 closed

[2021-05-18 15:47] #166 closed

[2021-05-18 16:17] harikesh409 commented on #402
What do you mean by what method, do you still have trouble understanding the issue?

[2021-05-18 16:28] harikesh409 commented on #497
Go ahead @subhangi2731

[2021-05-18 16:29] harikesh409 commented on #282
Moved to #497

[2021-05-18 16:29] #282 closed

[2021-05-18 16:31] subhangi2731 commented on #497
@harikesh409 thanku can u please provide the gssoc and level tags

[2021-05-18 16:37] harikesh409 commented on #476
go ahead @Ankita297

[2021-05-18 19:59] ravikr126 commented on #90
Ok @ishwari20 you can work on this issue

[2021-05-19 04:23] saswatsam786 commented on #402
@harikesh409 can i work in this issue I have some design ideas for this

[2021-05-19 18:07] muskangupta042002 commented on #80
I'm taking part in gssoc as a participant kindly assign this issue to me

[2021-05-20 15:56] Kalashri99 commented on #414
[https://github.com/Algo-Phantoms/Algo-Phantoms-Frontend/pull/504#issue-649007695](url)

[2021-05-20 15:56] Kalashri99 commented on #414
[Kalashri99:algo-Phantoms#414](url)

[2021-05-20 16:17] Kalashri99 commented on #414
please review PR https://github.com/Algo-Phantoms/Algo-Phantoms-Frontend/pull/504

[2021-05-21 10:50] Astrodevil opened #506 "Adding some source codes in Sharpen Your Skills section"
I am GSSoC participant
## **Is your feature request related to a problem? Please describe.**

- I just want to add some source codes related to (Sharpen Your Skills) section of Algo Phantom website.

## **Describe the solution you'd like**

- I want to add some codes and resource from below repository to your website *Sharpen your Skill* Section.
## **Please visit this link to see what items i wan

[2021-05-21 13:31] Ankita297 commented on #466
Can i work on this @harikesh409 @ravikr126 ?

[2021-05-21 13:45] ravikr126 commented on #466
@Ankita297

[2021-05-21 13:49] Ankita297 commented on #466
we can change the design of faq page by box shadow ,hover effect ,styling of it .

[2021-05-21 14:52] Anmolreshi commented on #466
@ravikr126  I am working on this .

[2021-05-21 14:53] ravikr126 commented on #466
Ok @Anmolreshi

[2021-05-21 18:46] Sowmya-Betina opened #507 "adding time clock"
I would like to add a clock on the homepage to make website easy to use and feasible

[2021-05-22 02:32] sandipswain commented on #487
Can I work on this issue?

[2021-05-22 07:13] Anmolreshi commented on #466
Thank You

[2021-05-22 08:45] Anmolreshi commented on #466
@ravikr126  I have added a Pull request #509  Kindly review it .

[2021-05-22 13:50] #470 closed

[2021-05-22 13:53] harikesh409 commented on #402
can you elaborate what are your ideas?

[2021-05-22 14:36] #414 closed

[2021-05-22 14:40] harikesh409 commented on #80
Go ahead @muskangupta042002

[2021-05-22 14:43] #476 closed

[2021-05-22 14:52] harikesh409 commented on #506
Not needed.

[2021-05-22 14:52] #506 closed

[2021-05-22 14:55] #500 closed

[2021-05-22 18:18] saswatsam786 commented on #402
i am thinking of creating cards which can be swiped.......if I am unable to that then I will Make the block of skill section clickable rather than just the text

[2021-05-22 18:24] saswatsam786 commented on #392
@ravikr126 can i work on this issue

[2021-05-22 20:08] ravikr126 commented on #392
@saswatsam786 this is already done by harsh

[2021-05-23 07:42] harikesh409 commented on #402
okay go ahead @saswatsam786

[2021-05-23 10:47] subhangi2731 commented on #158
@ravikr126 can u please tell what exactly I have to do in

[2021-05-23 14:20] subhangi2731 commented on #158
@ravikr126 @harikesh409 please help and reply

[2021-05-23 14:23] subhangi2731 commented on #218
@harikesh409 @ravikr126 please help me in this

Access to XMLHttpRequest at 'https://api.hackerearth.com/v4/partner/code-evaluation/submissions/' from origin 'http://127.0.0.1:5500/' has been blocked by CORS policy: No 'Access-Control-Allow-Origin' header is present on the requested resource.

I am getting this error by running in live server also please help me

[2021-05-23 14:37] harikesh409 commented on #218
Refer the articles present in [this](https://github.com/Algo-Phantoms/Algo-Phantoms-Frontend/issues/218#issuecomment-808691452) comment.

[2021-05-23 14:40] harikesh409 commented on #158
In the existing site for Data Structures, it is being redirected to 3rd party websites so instead of doing that we can create a page with all the data structures information and practise problems.

[2021-05-23 16:40] tanishq-arya opened #513 "About us Text"
## Proposal

Modify the about us text. Content as well as font-size. The text in paragraph now looks very odd.

![image](https://user-images.githubusercontent.com/77333275/119269091-99764e80-bc13-11eb-89ae-a8e28f07934e.png)

[2021-05-23 16:40] tanishq-arya commented on #513
Please assign me this issue.

[2021-05-24 00:20] keven321 commented on #487
Can I work on this issue?

[2021-05-25 14:26] #218 closed

[2021-05-25 14:51] #37 closed

[2021-05-25 14:53] harikesh409 commented on #513
No need to change it.

[2021-05-25 14:53] #513 closed

[2021-05-25 21:46] ishwari20 commented on #490
@ravikr126 I run the code, so the "Sharpen your skills" section is visible in phone view also. Will you please check it once and let me know?

[2021-05-26 03:05] ravikr126 commented on #490
Yes @ishwari20 it look fine in chrome .I think mene kisi other browser me dekha tha ushme thoda error aaraha tha.so I will close this issue.

[2021-05-26 03:05] #490 closed

[2021-05-26 03:06] ravikr126 commented on #90
Yes @AnushkaS09 if @ishwari20 like to work with you then you will collaborate with @ishwari20

[2021-05-26 08:42] AnushkaS09 commented on #90
Yes @ishwari20  and I will be working together..Kindly assign me the issue @ravikr126

[2021-05-27 07:08] subhangi2731 opened #518 "To add inline JS support to eslint"
I will add inline JS support extensions to ESlint

[2021-05-27 07:09] subhangi2731 commented on #518
@ravikr126 please assign me this issue

[2021-05-28 14:58] harikesh409 commented on #497
Reopening as it is not resolved.

[2021-05-28 15:34] #466 closed

[2021-05-28 15:40] harikesh409 commented on #518
go ahead.

[2021-05-28 15:44] subhangi2731 commented on #518
@harikesh409 thanks please assign the labels

[2021-05-29 03:56] subhangi2731 commented on #518
@harikesh409 @ravikr126  can I add a package.json to add the package HTML plugin please reply

[2021-05-29 05:08] kanishka8276 opened #520 "Suggested books navbar option is not present in dsa.html"
## **Describe the bug**
The navbar of DSA.html does not have Suggested books link.
## **Possible solution**
I will like to add the link.
## **Screenshots**
![Screenshot (29)](https://user-images.githubusercontent.com/66053534/120058644-02255700-c06a-11eb-83e4-c695ae8d4f15.png)

Please assign this to me.
GSSoC'21

[2021-05-29 05:13] kanishka8276 opened #521 "Changing the colour of hover text and link on hover in Booklist.html"
## **Is your feature request related to a problem? Please describe.**
I will like to change the colour of Link on hover and the hover text in the Booklist.html.
Please assign this to me.
GSSoC'21

[2021-05-29 05:19] kanishka8276 opened #522 "The navbar in practicedsa.html is different from other pages."
I will like to make the navbar in practicedsa.html just like the other pages navbar.
Please assign this to me.
GSSoC'21

[2021-05-29 10:10] MonalikaKapoor opened #523 "Correct the description in contact section"
## **Describe the bug**

In the contact section, there's a grammatical error in the description of AlgoPhantoms.

## **Possible solution**

Completed the sentence as "An Open Source organization 'which' focuses on Data Structure and Algorithms.

[2021-05-29 10:36] MonalikaKapoor opened #525 "Change in Background color of the Team section"
## Proposal

The current colour is too dark, the contrast is high so a lighter one would look better!

[2021-05-29 15:18] harikesh409 commented on #518
Do not add `package.json` as it is not any nodejs project just add the `.eslintrc.json` and `.prettierrc` files which are used by vs code or any other editor to format the project, later we can add actions in GitHub to perform linting on every PR.

[2021-05-29 15:19] #51 closed

[2021-05-29 15:28] #523 closed

[2021-05-29 15:30] harikesh409 commented on #521
Go ahead @kanishka8276

[2021-05-29 15:33] harikesh409 commented on #522
Go ahead @kanishka8276

[2021-05-29 15:33] harikesh409 commented on #520
Go ahead @kanishka8276

[2021-05-29 19:35] #288 closed

[2021-05-30 10:53] Sukriti-sood opened #530 "Github Bot Feature"
Github Bot Will COmment on Every PR Open and PR merged

[2021-05-30 12:31] #520 closed

[2021-05-30 12:33] harikesh409 commented on #530
Already a bot is present to greet the users.

[2021-05-30 12:33] #530 closed

[2021-05-30 12:35] Sukriti-sood commented on #530
But that is only for first time contributors .

[2021-05-30 12:37] harikesh409 commented on #530
That is enough we don't want unnecessary bot comments on every PR.

[2021-05-30 12:39] harikesh409 commented on #497
Moved to #518

[2021-05-30 12:39] #497 closed

[2021-05-30 12:45] #479 closed

[2021-05-30 12:47] harikesh409 commented on #478
Add it as an FAQ question no need for a separate section.

[2021-05-30 12:47] harikesh409 commented on #477
Closing due to inactivity.

[2021-05-30 12:47] #477 closed

[2021-05-30 12:48] harikesh409 commented on #467
Any progress @Anmolreshi ?

[2021-05-30 13:04] ravikr126 commented on #403
Now @ishwari20 you can work on it

[2021-05-30 16:42] MonalikaKapoor opened #532 "Heading of "Sharpen Your Skills" is not in similarity with others"
## **Describe the bug**

The heading of "Sharpen Your Skills" is not looking in line with others, the font size is less and not bold enough in comparison to others.

## **Possible solution**

Match the css

## **Screenshots**
![image](https://user-images.githubusercontent.com/67543895/120112592-16657300-c194-11eb-8556-d8e563af634a.png)

- If applicable, add screenshots to help explain your problem

[2021-05-30 16:53] MonalikaKapoor opened #533 "The skills in the "skill cards" are not in center"
## **Describe the bug**

There positioning is not in centre for each one.

## **Possible solution**

Putting the name of skill above and the logo in the next line and then set the padding!

## **Screenshots**
![image](https://user-images.githubusercontent.com/67543895/120112924-a8ba4680-c195-11eb-8722-023e148548c2.png)

- If applicable, add screenshots to help explain your problem.

[2021-05-30 17:15] #522 closed

[2021-05-30 17:16] #525 closed

[2021-05-30 17:17] harikesh409 commented on #532
Go ahead @MonalikaKapoor

[2021-05-30 17:24] ishitakapoor26 opened #534 "Designed Contact Us section and made it responsive"
Added map to contact us section and added user details section.

[2021-05-30 17:24] ishitakapoor26 commented on #534
/assign

[2021-05-30 17:26] ishitakapoor26 commented on #534
Please assign me this issue.

[2021-05-30 17:27] ishitakapoor26 commented on #534
I've already completed it. Pls assign me.

[2021-05-30 18:10] MonalikaKapoor commented on #533
Please assign me this issue @harikesh409

[2021-05-30 18:11] ishitakapoor26 commented on #534
Please check I have created a pull request Designed Contact Us#534 #536
commit d7c7ba6

[2021-05-30 19:19] ishitakapoor26 opened #537 "Alignment, margin bug"
Fixed below alignment and margin issue.
![Capture2](https://user-images.githubusercontent.com/78542333/120117283-0d7f9c00-c1aa-11eb-9aa6-9e28675c18cf.PNG)

![Capture1](https://user-images.githubusercontent.com/78542333/120117269-f3de5480-c1a9-11eb-851e-8be286cda825.PNG)

[2021-05-30 19:21] ishitakapoor26 commented on #537
Pls assign me this issue @harikesh409

[2021-05-30 20:04] ishitakapoor26 opened #539 "Updated FAQ section"
![Capture3](https://user-images.githubusercontent.com/78542333/120118458-3dca3900-c1b0-11eb-9f79-d676e4b01716.PNG)
Fixed above by adding some questions and their answers accordingly.

[2021-05-30 20:04] ishitakapoor26 commented on #539
Pls assign me this issue @harikesh409 @anubhavitis @parthpandyappp @chaitanyashimpi

[2021-05-30 20:12] ishitakapoor26 commented on #539
pls review my pr #540 @harikesh409

[2021-05-31 14:10] ishitakapoor26 commented on #539
@harikesh409 pls review my pr.

[2021-05-31 14:11] harikesh409 commented on #534
Not needed as already a contact page is present.

[2021-05-31 14:11] #534 closed

[2021-05-31 14:26] harikesh409 commented on #533
Proceed @MonalikaKapoor

[2021-05-31 14:29] #532 closed

[2021-05-31 15:10] ishitakapoor26 commented on #539
@harikesh409 removed contact us pls review and merge pr.

[2021-05-31 15:55] ishitakapoor26 commented on #537
@harikesh409 pls review i've made changes and removed contact us

[2021-05-31 16:18] #537 closed

[2021-05-31 16:22] harikesh409 commented on #539
resolve merge conflicts.

[2021-05-31 16:31] harikesh409 commented on #467
Closing due to inactivity.

[2021-05-31 16:31] #467 closed

[2021-05-31 16:36] #539 closed

[2021-05-31 18:13] AnushkaS09 opened #544 "Book List heading overlapped by navbar"
## **Describe the bug**

- Book List heading overlapped by navbar

## **Possible solution**

- Increase Margin

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-06-01 14:00] harikesh409 commented on #544
Go ahead @AnushkaS09

[2021-06-01 14:03] #533 closed

[2021-06-01 14:14] MonalikaKapoor commented on #533
Not to be merged?

On Tue, Jun 1, 2021 at 7:33 PM Harikesh Pallantla ***@***.***>
wrote:

[2021-06-01 14:56] harikesh409 commented on #533
It is merged

[2021-06-01 14:56] #403 closed

[2021-06-07 12:27] Shruti3004 commented on #544
@AnushkaS09 please make the navbar sticky-top instead of fixed top this will resolve the issue.

[2021-06-21 05:44] restrictedCodex opened #546 "Alignment of text and the '+' button is not consistent in FAQ section."
## **Describe the bug**

In the Frequently asked questions section, the + or - button is inconsistently aligned with the text in different questions.

## **Possible solution**

The alignment can be improved using simple CSS and some div wrapping.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![fggg](https://user-images.githubusercontent.com/65292146/122712651-

[2021-06-21 05:45] restrictedCodex commented on #546
Assign me this Issue I would like to work on it.

[2021-06-24 00:33] #90 closed

[2021-07-14 17:07] kaffan opened #547 "changes in books.html"
## **Describe the bug**
The heading in "booklist.html" was not clearly dispalyed and there was display problem in the description boxes ,when hovered on
the links to the books.

Before changes
![before_1](https://user-images.githubusercontent.com/53649298/125663282-e924c544-4213-4bf6-9a77-334abffe90ce.JPG)

after changes
![after_changes](https://user-images.githubusercontent.com/53649298/125663495

[2021-07-15 07:32] kaffan commented on #547
There is actually one more issue which I don't understand. I changed few css properties of elements but it's not getting reflected in the output and when i checked chrome developer tools i noticed the changes i made are not present in the code.

changes made in code
![change_in_code](https://user-images.githubusercontent.com/53649298/125747501-d67f23c6-ed5d-4e9d-a85d-869988b98d94.JPG)

no change a

[2021-07-30 11:35] jatin831 commented on #544
Can I fix this bug?

[2022-04-01 06:51] jyotivakare33 commented on #547
Hi @todi-2000 Can you assign me this issue under GSSOC'22