[2021-01-24 16:13] Shruti3004 opened #2 "Images are not responsive in team page"
@rudrakshi99 assign me

[2021-01-24 16:14] Shruti3004 opened #3 "The design of volunteer section should be improved"
@rudrakshi99 please assign me

[2021-01-25 12:04] #2 closed

[2021-01-25 12:06] #3 closed

[2021-01-28 18:32] Shruti3004 opened #8 "Site is not responsive"

[2021-01-28 18:33] Shruti3004 opened #9 "Alignment of footer is not proper"

[2021-01-29 02:56] #9 closed

[2021-01-29 02:57] #8 closed

[2021-02-03 13:02] dsnehasish74 opened #12 "Alignment Problem of Banner Text"
![Screenshot (518)](https://user-images.githubusercontent.com/58779604/106750356-c21b0e00-664d-11eb-9ee0-d850d8764a46.png)
The Text is not centered properly and also some text like "we are" is not visible. I would love to fix this issue. Please assign this to me. And If you have any work can you can mention I want to contribute to this repo.

[2021-02-04 08:31] frappelatte28 opened #13 ""Back to top" button should not be displayed when we are already at top."
![Algo_phantoms](https://user-images.githubusercontent.com/64382399/106865622-71f58780-66f1-11eb-9211-7e34eb16e4cb.png)

[2021-02-04 08:33] frappelatte28 commented on #13
I would like to work on this issue @diyajaiswal11 @todi-2000

[2021-02-04 09:13] frappelatte28 opened #14 "Documentation - Spelling error and spacing error"
![Algo_phantom_docError](https://user-images.githubusercontent.com/64382399/106870639-57bea800-66f7-11eb-9136-945958f009d2.jpeg)

[2021-02-04 09:33] frappelatte28 commented on #14
@diyajaiswal11 @todi-2000 @dheerajkotwani Can i raise a PR?

[2021-02-08 19:02] Devenkapoor7303 opened #18 "Link is not Working"
In the Useful Links, the contact link is not working.
![Issue](https://user-images.githubusercontent.com/73438023/107268259-e9b70f80-6a6d-11eb-9779-88048b7df550.PNG)

[2021-02-10 12:33] hitblunders opened #19 "Shifting hamburger menu to the right side of the screen"
![image](https://user-images.githubusercontent.com/72441280/107510267-b25d7580-6bc9-11eb-8a24-cace5237c879.png)

The hamburger menu would look better in the right side than below the icon. May I work on this?

[2021-02-11 16:08] gaurav24072002 commented on #14
I would like to contribute in this issue please assign it to me.

[2021-02-13 16:38] ranjal007 commented on #18
Hey @Devenkapoor7303  Can I work on this issue?

[2021-02-13 18:28] Devenkapoor7303 commented on #18
Go Ahead @ranjal007

[2021-02-14 17:39] archana-9430 commented on #13
Please allow me to work on this issue @diyajaiswal11 @todi-2000

[2021-02-16 07:58] Nagsenwaghmare commented on #19
@hitblunders should I work on this issue?

[2021-02-18 06:45] samfubuki commented on #19
I would like to work on this issue

[2021-02-18 14:44] reachaadrika commented on #19
Can I work on this issue?

[2021-02-19 05:32] WaderManasi opened #23 ""Contact Us" button not working (in footer)"
In footer, email is not being submitted by clicking on "contact us", rather it has not been assigned with button functionality

[2021-02-19 15:36] samfubuki commented on #23
I would like to work on this issue as a part of gssoc 21

[2021-02-19 17:55] DeepanshuSarswat commented on #23
I would like to solve this problem as a part of girls script summer code 2021

[2021-02-20 04:18] DeepanshuSarswat commented on #12
I would like to solve this problem as a part of girl Script Summer of code 2021

[2021-02-20 17:02] ArchishmanSengupta commented on #23
Will the contact us button direct to a mailing link? please clarify

[2021-02-20 20:16] sidmohanty11 opened #24 "Is there any changes you would like to make?"
I want to contribute but I don't know what changes you would like me to make. Can you suggest?

###EVENT
GSSOC

[2021-02-22 11:05] ChitvanRamani22 commented on #14
I would like to contribute, can you please assign this to me.

[2021-02-22 11:06] ChitvanRamani22 commented on #12
@dsnehasish74 i would like to work on this issue could you please assign this to me.

[2021-02-22 21:45] hitblunders commented on #19
Only project admins can assign the issues.

[2021-02-23 05:56] sheetalj2205 opened #25 "Features are not working"
In the features section code editor, quizzes ad DSA guidance are not the links and are not working. I would like to work on this issue for GSSOC'21.

[2021-02-23 10:56] IdealisticINTJ commented on #14
I would like to work on this. Please assign this to me.

[2021-02-26 14:33] Shruti3004 commented on #13
Yours @frappellate28

[2021-02-26 17:48] frappelatte28 commented on #13
Hey @Shruti3004  I am not working on this project anymore, I guess you can assign @archana-9430 :)

[2021-02-26 21:55] Shruti3004 commented on #13
@archana-9430

[2021-02-26 21:58] Shruti3004 commented on #25
Yours @sheetalj2205

[2021-02-26 22:00] Shruti3004 commented on #24
@sidmohanty11 I'll be opening some issues you can start working on that.

[2021-02-26 22:00] #24 closed

[2021-02-26 22:02] Shruti3004 opened #26 "UI/UX improvement of the site"

[2021-02-26 22:05] Shruti3004 opened #27 "Site is not browser comaptible"
![Screenshot from 2021-02-27 03-34-20](https://user-images.githubusercontent.com/56133783/109360152-b4535400-78ac-11eb-84b5-013a26b3e010.png)
On Firefox the background video is not visible.

[2021-02-26 22:07] Shruti3004 commented on #23
Contact us button should link it to the mail **algophantom0101@gmail.com**

[2021-02-26 22:07] Shruti3004 commented on #23
Go ahead @WaderManasi

[2021-02-26 22:10] Shruti3004 opened #28 "Styling of hover should be changed for "Back-to-top" button"
![Screenshot from 2021-02-27 03-38-44](https://user-images.githubusercontent.com/56133783/109360618-8d495200-78ad-11eb-80ac-f2687adb47d1.png)

[2021-02-26 22:11] Shruti3004 commented on #14
Go ahead @gaurav24072002

[2021-02-26 22:16] Shruti3004 opened #29 "Implement a preloader"

[2021-02-26 22:19] Shruti3004 opened #30 "Dynamic Page title for teams page"
Title as Algo Phantoms | Team

[2021-02-26 22:26] Shruti3004 opened #31 "SEOs"
Add various meta tags required for it boost up the rating using lighthouse, pageinsights

[2021-02-26 22:29] Shruti3004 opened #32 "Implementing Dark theme for the site"

[2021-02-26 22:45] #14 closed

[2021-02-27 03:38] WaderManasi commented on #23
Yeah sure..Thank you for assigning the task @Shruti3004

[2021-02-27 04:18] maneprajakta opened #33 "Nav bar brand Redirection on Team.html Page"
On the Team.html page when we click on Algo Phantoms (nav-bar brand) is doesn't redirect to the Home page.

[2021-02-27 04:29] maneprajakta opened #34 "Adding GitHub issue templates"
Hi :)
Right now there is no issue template for Project.
I think we should take advantage of GitHub’s support for multiple issue templates.

You can see here :
![64684565-3c595a00-d47d-11e9-8ea4-589cffa16375](https://user-images.githubusercontent.com/57425995/109375319-d6b39480-78e1-11eb-9a72-3c14118cde19.png)

I think right now two templates for creating an issue will do great.
1.For bug report
2.

[2021-02-27 04:50] maneprajakta opened #35 "Adding Pull Request Template"
It will be super easy to see the changes made by a pull request on Project before merging it through a pull request template.
I think the project should have one.

Smple PR template :

![Screenshot from 2021-02-27 10-18-57](https://user-images.githubusercontent.com/57425995/109375784-57c05b00-78e5-11eb-8088-0e8ecbd47f29.png)

[2021-02-27 05:43] sheetalj2205 commented on #25
Thanks for assigning, can you please tell me to which links do you want to redirect them all?

[2021-02-27 06:54] Shruti3004 commented on #33
Go ahead @maneprajakta

[2021-02-27 07:17] maneprajakta commented on #33
Sure will work on this issue @Shruti3004  :+1:

[2021-02-27 12:28] Ankita297 commented on #29
can i work on this ?

[2021-02-27 12:42] Shruti3004 commented on #29
Yours @Ankita297

[2021-02-27 14:05] javpintos opened #37 "Suggestion: uppercase in team.html"
Suggestion: uppercase in team.html
(testing issues and PR in GH)

[2021-02-27 20:03] satcasm commented on #30
Hi, would like to work on this under GSSOC' 21.
Thanks.

[2021-02-27 20:09] Shruti3004 commented on #30
Go ahead @satcasm

[2021-02-28 05:52] hachi-studio commented on #26
Adding a max-width or padding to the hero 'Algo Phantoms is an Open Source organization focusses on Data Structure and Algorithms' section as it's touching the edge of the screen.

Also possibly increase the contrast of the text against the video background, maybe darken the video with an overlay?

[2021-02-28 10:44] A7abhilash opened #39 "Revamp using ReactJS"
Going ahead with basic html and vanilla javascript would be a troublesome process as per the features needed. So I would like to completely revamp the site using React JS with minimalistic UI using bootstrap and framer motion and then go ahead for adding the features mentioned(code editor and quiz).

#GSSOC'21

[2021-02-28 13:18] satcasm commented on #30
Should I wait till 8th march ? As on that day GSSOC' 21 coding period starts or should I start now?
Thanks.

[2021-02-28 15:26] archana-9430 commented on #13
Yes, I'm here. I'll work on this.

[2021-02-28 17:13] WaderManasi commented on #23
@Shruti3004  Will you kindly clarify the need of input field =>'Email-id' at left of contact us button?
![mail](https://user-images.githubusercontent.com/52437677/109426977-3d39cf00-7a16-11eb-92de-a90f67c39c63.PNG)

[2021-02-28 21:16] akashbwj commented on #28
I want to work on this issue as a part of GSSOC'21

[2021-03-01 02:44] maanpatel2492 commented on #31
I would like to work on this issue

[2021-03-01 03:15] Shruti3004 commented on #31
Go ahead @maanpatel2492

[2021-03-01 05:49] saaiswetha commented on #32
I would like to contribute to this issue, am a part of GSSoC'21.

[2021-03-01 05:56] chehak123 commented on #13
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 05:56] chehak123 commented on #18
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 05:57] chehak123 commented on #23
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 05:57] chehak123 commented on #25
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 05:57] chehak123 commented on #29
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 05:57] chehak123 commented on #33
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 05:58] chehak123 commented on #35
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 05:58] chehak123 commented on #34
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 05:58] chehak123 commented on #32
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 05:59] chehak123 commented on #30
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 05:59] chehak123 commented on #28
Hi, i want to contribute as a participant of gssoc'21

[2021-03-01 06:10] Shruti3004 commented on #29
Hy @chehak123, currently @Ankita279 is working on this issue. You can look for the issues which are not assigned to anyone yet or you can open new issues and can start working on it.

[2021-03-01 11:44] Ankita297 commented on #29
can you add the GGSOC label ?
I have made a PR .Please review it .

[2021-03-01 12:16] Ankita297 commented on #27
Mam , the  size of video is large so i think it takes  some time to upload . But after  some time it is visible  and after adding the preloader the issue will be resolved .

[2021-03-01 12:22] Ankita297 commented on #35
Can i work on this issue under GSSOC 21?

[2021-03-01 12:23] Ankita297 commented on #29
Can you please add the GSSOC label?
I have made a PR .Please review it .

[2021-03-01 17:21] aniketsingh98571 opened #44 "Changing the input type of Email element."
@todi-2000 I saw that the `<input type="text" class="form-control py-3" placeholder="Enter your Email">` `type` of input element for the email is `text` which is not recommended instead we can add `input type="email"`.
And also I suggest it, use Firebase database storage for contact saving or you can just redirect the link to the mailing system using `mailto`.

I would like to go with this issue a

[2021-03-01 17:22] aniketsingh98571 commented on #44
@rudrakshi99 I would like to go with this issue as part of GSSoC 2021

[2021-03-02 04:32] maanpatel2492 commented on #37
Kindly tell me about this issue. I will solve it.

[2021-03-02 04:35] maanpatel2492 commented on #32
Hey,I would like to implement a dark theme. I added it to my personal project so I have some what idea about it.
(under GSSOC'21)

[2021-03-02 05:44] Shruti3004 commented on #32
Go ahead @saaiswetha

[2021-03-02 06:35] Avnish5 commented on #28
I am doing web dev from last 1 year.
I am also selected as a participant under GSSOC 2021.
Kindly assign this task to me.

[2021-03-02 06:37] Avnish5 commented on #23
I am doing web dev from last 1 year.
I am also selected as a participant under GSSOC 2021.
Kindly assign this task to me...

[2021-03-02 06:38] Avnish5 commented on #27
I am doing web dev from last 1 year.
I am also selected as a participant under GSSOC 2021.
Kindly assign this task to me...

[2021-03-02 07:00] saaiswetha commented on #32
1. Can I add a button (say at the top right corner of the website) to toggle between the 2 themes ??
2. Should the overall theme change to dark or only changes the about section?

[2021-03-02 07:06] Shruti3004 commented on #32
@saaiswetha yes please add the toggle button on the top and i would suggest overall theme should change to dark.

[2021-03-02 15:10] saaiswetha commented on #26
In team page, the nav-bar-brand isn't bold (as it is in the home page). Can I fix this issue? Am a part of GSSoC'21.

[2021-03-02 19:15] maanpatel2492 commented on #26
Hey ,
I saw the full website .According to me there are following UI/UX mistakes:
1)navbar contains 2 options contact and team:
   It is not good UX .
  Enhancement: There should be only one tab named "Contact" and it should contain team in it.

2) Another thing is it already contains dark color so do not require dark theme.

[2021-03-03 07:09] maanpatel2492 commented on #18
I can solve this.
(under GSSOC21).

[2021-03-03 08:04] ashusharma-cs commented on #28
Can I contribute to this issue?

[2021-03-03 12:35] DharmikPansuriya commented on #44
Hello @aniketsingh98571, have you solved this issue? Otherwise, I would like to solve!

[2021-03-03 14:29] aniketsingh98571 commented on #44
@DharmikPansuriya This issue has been resolved and I have raised the PR regarding the same.

[2021-03-04 04:08] DharmikPansuriya commented on #44
Okay :) @aniketsingh98571

[2021-03-04 04:08] DharmikPansuriya commented on #44
Okay :) @aniketsingh98571

[2021-03-04 06:30] chaitanyashimpi opened #47 "Create a Site Map for the Website"
@anubhavitis
It is necessary that your website should have the **siteMap**.

I would like to solve this issue, can you please assign it to me.

[2021-03-04 06:31] chaitanyashimpi commented on #47
I would like if you assign the issue to me. @tarun26091999

[2021-03-04 06:47] chaitanyashimpi commented on #47
I would like to solve this issue as the part of GSSOC. @todi-2000

[2021-03-05 02:08] Ankita297 commented on #34
Can i work on this ?

[2021-03-06 12:08] vedant-jain03 commented on #19
I have already made a portfolio website of mine and I know the trick behind this.
Please assign me the issue so that I can work further on this. Thankyou

[2021-03-07 10:48] yashsehgal commented on #32
I would also love to contribute to this issue.

[2021-03-07 18:30] akashbwj commented on #28
I want to work on this issue as a part of GSSOC'21

[2021-03-08 05:22] Devenkapoor7303 commented on #28
Is this issue open for all?? If not can i work on this issue

[2021-03-08 07:42] medhavi11 commented on #27
I would like to work on this issue, I am GSSOC 2021 participant.

[2021-03-08 07:43] medhavi11 commented on #12
I would like to work on this issue, I am GSSOC 2021 participant.

[2021-03-08 07:45] Shruti3004 commented on #27
Go ahead @Avnish5

[2021-03-08 08:06] Avnish5 commented on #27
Thanku mam for assigning this task to me.

[2021-03-08 08:15] Avnish5 commented on #27
@Shruti3004 mam can you please elaborate the issues like in which browsers site is not compatible.

[2021-03-08 09:59] Avnish5 commented on #27
![Algo Phantoms - Mozilla Firefox 08-03-2021 15_24_49](https://user-images.githubusercontent.com/68527921/110305300-a0cd8900-8022-11eb-8ed0-33b2e4b7699f.png)
 @Shruti3004 There is no need for any change in the code.
The background-video work properly in the fire-fox.
Kindly check it .

[2021-03-08 13:20] parthpandyappp commented on #31
@Shruti3004 If you feel it's been a long time for this issue, feel free to assign me.

[2021-03-08 13:58] sohini3062 opened #49 "Add animation to the about us section"
I am a GSSOC '21 participant.

I wish to add a typing animation to the about us section using css and javascript

[2021-03-08 15:29] padmajabhol commented on #29
I want to add a preloader.

[2021-03-08 15:32] ArchishmanSengupta commented on #49
Hey i am a GSSoc'21 participant i want to add a dispersion of text which when pointed by cursor will disperse using Javascript.

Please assign me the task! Thank you

[2021-03-08 15:47] sayna3311 commented on #28
I would love to contribute to this issue, under GSSoC'21.

[2021-03-08 16:16] Priyanka7011 commented on #49
Hii!
I am a GSSOC 2021 participant.
I would like to add animation on about us section . The heading would expand to 1.5x on hover and the text section would be in a transparent box which glows up on hovering .

[2021-03-08 16:50] padmajabhol opened #51 "Add contact us form in the contact section."
I want to make the contact us section better by adding a form. Please assign me this issue.

[2021-03-08 17:29] pi-squared-4 commented on #49
Hi, I would love to work on this, can you please assign me. I would do better.

[2021-03-08 17:34] subhangi2731 commented on #39
can you please assign this issue to me?

[2021-03-08 17:34] subhangi2731 commented on #35
assign me this please?

[2021-03-08 17:46] Sloth-Panda opened #52 "code of conduct file"
There is no code of conduct file so would like to add it as part of gssoc'21

[2021-03-08 17:47] Sloth-Panda opened #53 "issue and pr templates"
would like to add issue and pr templates

[2021-03-08 18:42] amangupta37 opened #54 "Assistant bot"
### bot for solving the real-time query for better user experience

[2021-03-08 18:49] amangupta37 commented on #54
I would like to work on this feature

[2021-03-08 19:06] debjani1413 opened #55 "Add an animated search bar to the navigation bar"
Hello, I am a GSSOC'21 participant and I would like to add an animated search bar to the navigation bar.  I would be very  grateful if this issue is assigned to me.

[2021-03-08 19:19] raveena69 commented on #23
Hi, I'm Raveena and I would like to contribute to this issue.

[2021-03-08 19:22] raveena69 commented on #44
I would like to go with this issue

[2021-03-09 01:53] Shivam-Shandilya1 commented on #28
Hey!!! I want to give assisstance to your nice project as a GSSOC participany?

[2021-03-09 01:54] Shivam-Shandilya1 commented on #28
Heyy!!! I want to give assisstance to your nice project as a GSSOC participant?

[2021-03-09 04:16] WebVishal commented on #25
hi, can I Contribute to this issue as of part the gssoc'21

[2021-03-09 04:44] tanishq-arya opened #56 "Back to Top Button"
The button is not visible due to it's dark color. I would like to suggest to add some contrast to it by changing some CSS on the button for it's color, preferably to white.
Please assign me this issue as a GSSOC participant.
![Screenshot (937)](https://user-images.githubusercontent.com/77333275/110419845-19ceee00-80c0-11eb-8394-234e86ba4448.png)

[2021-03-09 05:56] Simran2337 commented on #51
I want to contribute. Thankyou

[2021-03-09 05:57] Simran2337 commented on #25
i want to contribute

[2021-03-09 06:00] Simran2337 commented on #18
i want to contribute as a GSSOC participant

[2021-03-09 06:01] Simran2337 commented on #56
i want to contribute as a GSSOC participant

[2021-03-09 06:01] Simran2337 commented on #55
i want to contribute as a GSSOC participant

[2021-03-09 06:13] Divya871 commented on #51
I want to contribute. Thank you!

[2021-03-09 06:53] Riya764 commented on #56
I would like to work on this issue.Please assign this to me as a part of GSSOC'21

[2021-03-09 06:53] Riya764 commented on #51
I would like to work on this issue.Please assign this to me as a part of GSSOC'21

[2021-03-09 07:12] hgoyal254 opened #60 "Change Text Size to resolve overlapping"
![image](https://user-images.githubusercontent.com/47057631/110431905-6a504680-80d4-11eb-8cf5-da0796236a55.png)

As we can see from the provided image that on resizing the window size the text is overlapping. I want to resolve this issue.

Please assign me this issue as a GSSOC Participant.

[2021-03-09 07:16] shairanshrawat commented on #56
I am a participant in GSSOC 2021. I want to contribute to this issue and work on the same. Please could you assign me this issue as a part of GSSOC 2021.
Thank you

[2021-03-09 07:36] somya51p opened #62 "Heading text not aligned properly"
The title on the main page "We are Programmers, Algo Phantoms is an Open Source organization focusses on Data Structure and Algorithms" is not centered aligned.

I wish to work on this issue under [GSSoC'21].

[2021-03-09 07:52] Simran2337 commented on #62
i want to contribute as a GSSOC participant

[2021-03-09 08:06] gnikita432 opened #63 "the contact us button on hover should have some styling"
the contact us button should have a cursor: pointer and also have some background color or color changed when the user hovers on it.
![issue1](https://user-images.githubusercontent.com/61223163/110438214-2a8d5d00-80dc-11eb-935b-b00932f77458.PNG)
![issue2](https://user-images.githubusercontent.com/61223163/110438291-3711b580-80dc-11eb-8e7e-3d8550badde7.PNG)

[2021-03-09 08:15] gnikita432 commented on #63
I want to contribute to this as a GSSOC'21 participant. please assign it me.

[2021-03-09 08:25] 435akashjha commented on #51
I want to contribute so that in contact section of the page a form can be made where the user can contact.Assign it to me.

[2021-03-09 08:27] 435akashjha commented on #63
I can make the contact us hover with adding a background color or effect so that it looks nice.
Assign it to me.

[2021-03-09 08:29] 435akashjha commented on #29
Can you provide it to me I will contribute to this

[2021-03-09 09:15] bug-debug-done opened #64 "video playing in background is not smooth."
Hey! I am a participant for GSSOC'21.
The video in the background is not smooth it gets stuck sometimes.  And it's also easy to tell when the video ended even though it is on autoplay loop. It does not look good
I can solve this please assign this issue to me.

[2021-03-09 09:16] Aditya7494 commented on #60
I am a GSSOC'21 participant and i am interested to work on this issue.
Can you please assign it to me?

[2021-03-09 09:29] bug-debug-done opened #65 "improvement in footer section"
Hey! I am a participant for GSSOC'21
In the footer section after the contact us section, there should be the algo-phantoms icon and its description on its side.
And beneath that, there should be other options and links. and there can also be line beneath the column heading like useful links, features, and follow us.
I would like to work on this issue please assign this to me.

[2021-03-09 09:34] WebVishal commented on #65
I want to contribute to this bug, Can I it?

[2021-03-09 10:07] lipsa199 commented on #56
I am GSSOC participant , I would like to work on this issue.

[2021-03-09 10:23] Surabhi0910 opened #68 "Adding social media sidebar for the website."
Hey! I am a participant for GSSOC'21. I would like to make this contribution to making a social media sidebar for the site with attractive icons which will hold the links to your social media handles. Please, consider! And assign it to me so that I can start working on it at the earliest.

[2021-03-09 10:41] Mrinal81 opened #69 "A teams section carousel in the home page."
I am GSSOC'21 Participant. I would like to make a slidebar that would give information about team members on a auto play loop. It would look good on the webpage.
I would like to work on this issue please assign this to me.

[2021-03-09 11:20] srisatya1197 commented on #69
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 12:00] aanchalrakheja commented on #65
Hey!! I am a participant in GSSOC'21 and would like to contribute to this issue. Can u assign this to me please.

[2021-03-09 12:13] lopamudra2000 opened #70 "Can we transform and rebuild the entire website on MERN stack."

[2021-03-09 12:14] lopamudra2000 commented on #70
For the frontend we can Refractor it to Reactjs.

[2021-03-09 12:17] mridulabatra opened #71 "adding parallax effect"
adding a parallax effect to the background  will built a beautiful user experience

[2021-03-09 12:29] mridulabatra commented on #71
Please assign me this task as a part of GSSoC'21

[2021-03-09 13:09] #70 closed

[2021-03-09 17:19] pbpcodes opened #72 "re-sizing main-head and improvement in footer"
Hello. I am a GSSoC'21 participant. I would like to resize the main-head which says
 "We are Programmers
Algo Phantoms is an Open Source organization focusses on Data Structure and Algorithms"

In desktop, the text is set to margin: 0 and hence, it is shifted to the right. Also, there is a typo in the word "focusses".

In the footer, the contact us button has to be responsive and functional.

I wo

[2021-03-09 18:04] kumarishalini6 commented on #72
Hii, i would like to work in re-sizing main-head " Algo Phantoms is an Open Source organization focusses on Data Structure and Algorithms" it should be more atteractive , font-family should be attractive,
and i also want to make logo attractive,
and in  contact us input should be more ,
footer and contact us has to be  different.
i am participant of GSSoC21. i want to contribute , can i.

[2021-03-09 19:17] shalmoly79 opened #73 "Typographical error on the website's landing page"
Hello, I'm a GSSOC'21 participant. The first thing that catches the eye is the typo on the landing text on the website's homepage.
Please assign this task to me, I point out minute errors and details that would be very much beneficial collectively. Lookin forward to contributing more.

[2021-03-09 19:31] shalmoly79 opened #74 "Website's "About us" section is not convincing enough."
Hello Algo-phantoms, I am a GSSOC'21 participant. The "About us" section of this website does not look convincing enough to increase the frequency of visitors and users. CSS grid/flexbox can be used along with JavaScript to improve the UI/UX. Brief information/specification/categorization on why(e.g. - programming languages present, total number of questions present etc.) and how to use(e.g.- a sm

[2021-03-09 21:01] Shruti3004 commented on #74
go ahead @shalmoly79

[2021-03-09 21:02] Shruti3004 commented on #73
@shalmoly79 can you please elaborate your issue, with some screenshots

[2021-03-09 21:03] Shruti3004 commented on #72
@pbpcodes go ahead

[2021-03-09 21:04] Shruti3004 commented on #69
Yours @Mrinal81

[2021-03-09 21:20] Shruti3004 commented on #65
@bug-debug-done yours

[2021-03-09 21:23] Shruti3004 commented on #65
@WebVishal @aanchalrakheja @kumarishalini6 issues are assigned on the first come first serve basis, you can look for the other issues and can open the issues of yours.

[2021-03-09 21:26] Shruti3004 commented on #71
@mridulabatra go ahead

[2021-03-09 21:27] Shruti3004 commented on #47
@chaitanyashimpi go ahead

[2021-03-09 21:30] Shruti3004 commented on #49
@ArchishmanSengupta @Priyanka7011

[2021-03-09 21:33] Shruti3004 commented on #54
go ahead @amangupta37

[2021-03-09 21:34] Shruti3004 commented on #53
go ahead @Sloth-Panda

[2021-03-09 21:35] Shruti3004 commented on #63
go ahead @gnikita432

[2021-03-09 21:38] Shruti3004 commented on #64
@bug-debug-done how you are planning to solve it, can you share a glipmse of it

[2021-03-09 21:39] #30 closed

[2021-03-10 01:37] gnikita432 commented on #63
Hey @Shruti3004, thank you for assigning the issue. Can you please label this issue with **gssoc'21** so that my contribution will get counted under gssoc.

[2021-03-10 04:53] Manish-kasera commented on #23
Hiiii. I Would like to solve this Issue..

[2021-03-10 05:00] Manish-kasera opened #77 "Footer part in not looking great."
It's not looking as a different part of the website..This part is mixes with Contact us and  Useful links...
I would like to fix this Issue.
![issue](https://user-images.githubusercontent.com/66238224/110578804-8fec5700-818b-11eb-8f0e-c1d3cc2d7abb.png)

[2021-03-10 05:09] Manish-kasera opened #78 "Link is not Working"
Issue : Hovering over Contact Us Text ,their is nothing happens...
Solution: We should give a link (link Email id) when anyone hover over contact us...

https://user-images.githubusercontent.com/66238224/110579466-e3ab7000-818c-11eb-9669-644a2611f1c4.mp4

[2021-03-10 05:50] poojitha2002 opened #79 "Adding sliding images on home page"
Could you please assign this issue to me? I would like to work on it.

[2021-03-10 05:53] poojitha2002 opened #80 "Quizzes section"
I would like to make some quizzes on DSA. Could you please assign this issue to me? I would like to work on it.

[2021-03-10 06:17] abhishek96k commented on #79
Please assign me this issue as a part of GSSoC'21

[2021-03-10 06:21] shubhraagarwal opened #81 "Adding smooth scrolling in the back to top button"
The scroll behaviour is not smooth in the back to top button, I would like to improve this as a part of GS'SOC21. Adding smooth scroll behaviour will make the UX better.

[2021-03-10 06:24] shubhraagarwal opened #82 "Aligning the header text in the center"
![image](https://user-images.githubusercontent.com/67220475/110585713-2bcf9000-8197-11eb-94ca-347a156c863e.png)
The header text is currently aligned to the left while the heading is aligned to the center, I would like to align the text to the center so that it looks better.

This contirbution is under GS'SOC21

[2021-03-10 06:31] shubhraagarwal opened #83 "Improving the contact us form"
The contact us form is only having the email section, this might be inconvinient as the Algo phantoms team won't know why the user wants to contact them and sending mails back and forth will be time consuming, so I am proposing to include other sections in the form too like Name, email, contact number and a message section. It will look something like this in the end.
![image](https://user-images.

[2021-03-10 06:37] Sloth-Panda commented on #53
@Shruti3004 hey, plz add gssoc'21 and other required tags to this issue :p

[2021-03-10 06:40] Sloth-Panda opened #85 "welcome bot"
this bot basically greets someone who opens up an issue or makes a pr for the first time in the repo

download the bot from here
https://github.com/apps/welcome

[2021-03-10 06:43] Sloth-Panda opened #86 "contributing file"
There is no contributing.md file explaining how to  contribute to this repo so would like to add one

[2021-03-10 06:50] shalmoly79 commented on #73
![image_2021-03-10_121903](https://user-images.githubusercontent.com/74116513/110588279-cda4ac00-819a-11eb-97a9-c3dc0349c7bb.png)
@Shruti3004 The spelling of "focusses" needs to be corrected.

[2021-03-10 06:51] Sloth-Panda commented on #86
@Shruti3004

[2021-03-10 06:52] shalmoly79 commented on #74
Thank you so much.

[2021-03-10 06:52] Sloth-Panda commented on #85
@Shruti3004

[2021-03-10 07:31] gayatri517 opened #87 "Adding another opportunities section in the features section"
I want to add another opportunities section in the features section below the DSA Guidance part where I provide the link to a website where different opportunities are listed for students.

I am a participant of GSSOC'21, I would like to contribute to this issue. Please assign it to me.

[2021-03-10 07:54] 123mansha opened #88 "Team members card correction."
Hi !! I am a GSSOC'21 participant. The very first thing I saw is an error in the arrangement of the team member cards. So I want to want to improve the arrangements of the team member cards so that they will be aligned taking equal spaces and will look good.
@Shruti3004 please assign this issue to me so that I can start working on it.

![team](https://user-images.githubusercontent.com/59260493/110

[2021-03-10 08:58] Goheljay commented on #78
I want to work on this issue. I participate in gssoc 2021. can you assign me

[2021-03-10 09:26] Shruti3004 commented on #88
go ahead @123mansha

[2021-03-10 09:28] Shruti3004 commented on #87
go ahead @gayatri517

[2021-03-10 09:33] Shruti3004 commented on #81
go ahead @shubhraagarwal

[2021-03-10 09:36] aakankshabhende opened #89 "Adding email validation and a functioning contact us button in contact section"
![image](https://user-images.githubusercontent.com/63249668/110608332-27fd3700-81b2-11eb-82e9-e7ac5a7bef5e.png)

[2021-03-10 09:38] Aakanksha0407 commented on #89
I am GSSOC'21 participant.
I want to work on this issue. Can you please assign me this.

[2021-03-10 10:14] amrzaki2000 opened #90 "[GSSoC '21] Data structures simulation feature"
Hello,
I'm a GSSoC participant.
Can I work on a feature that provides simulation for operations in data structures ?
Eg. Simulation that shows how push and pop in stack works.

[2021-03-10 11:01] samrat1223 commented on #83
Can I work on this issue ?

[2021-03-10 11:03] Mirnalin commented on #56
Hey! I am GSSOC participant , I would like to work on this issue.

[2021-03-10 11:10] Aditya201551 opened #92 "Integrating DSA question page to the site and putting features of the site on the navbar."
The main purpose of AlgoPhantoms is to provide its visitors with proper guidance and practice area with DSA.
But to be honest on visiting it gets very hard to find the questions and code playground to practice.
if a user does not know about GitHub and wanted to practice the question on DSA the how will he/she do it, so it would be great to integrate a DSA question page to the site(example site: [4

[2021-03-10 12:17] FireQueen-3010 opened #94 "Spelling Mistakes in the footer."
"An Open Source organization focuses (should be focusing not focuses) on Data Structure and Algorithms." Under the logo in the footer section.
Please assign me this.

[2021-03-10 12:17] HarinandhanPSGiTech commented on #83
I am a GSSOC'21 participant, I would love to contribute to this issue, and I will deliver my best output

[2021-03-10 12:20] WebVishal opened #95 "long footer section in Mobile Format"
Hi !! I am a GSSOC'21 participant. I think some improvement in the Footer section. When I looked at the footer section on mobile, it is looking quite long, So I  want to improve the footer section by using flexbox and grid display property so that they will be aligned taking equal spaces and width and height, and will look good.
@Shruti3004 please assign this issue to me so that I can start workin

[2021-03-10 12:54] HarinandhanPSGiTech commented on #94
Hi! I am a GSSOC'21 participant, I think the error on the footer is that the text describing the organization  should be "An Open Source organization  _**that**_  focuses  on Data Structure and Algorithms."

I would love to contribute to this issue, Please assign this to me!

[2021-03-10 13:13] FireQueen-3010 commented on #94
Both "that focuses" and "focusing" mean the same. Since I raised this issue, please assign me this. Will go for the word which the admin assigns me as part of the GSSOC'21. Thank you!

[2021-03-10 13:37] shubhraagarwal commented on #81
I have made a PR #96 with respect to this issue

[2021-03-10 14:48] 123mansha commented on #88
@Shruti3004 Please check the changes made #97

[2021-03-10 15:25] ShrutiKhatri826 commented on #83
I am a GSSOC'21 participant. I would love to take on this issue. Can you please assign it to me? Hope to hear from you soon!

[2021-03-10 15:26] ShrutiKhatri826 commented on #82
I am a GSSOC'21 participant. I would love to take on this issue. Can you please assign it to me? Hope to hear from you soon!

[2021-03-10 15:26] ShrutiKhatri826 commented on #79
I am a GSSOC'21 participant. I would love to take on this issue. Can you please assign it to me? Hope to hear from you soon!

[2021-03-10 15:27] ShrutiKhatri826 commented on #62
I am a GSSOC'21 participant. I would love to take on this issue. Can you please assign it to me? Hope to hear from you soon!

[2021-03-10 15:29] ShrutiKhatri826 commented on #12
I am a GSSOC'21 participant. I would love to take on this issue. Can you please assign it to me? Hope to hear from you soon!

[2021-03-10 16:14] ambivert-sam commented on #74
Hey!!
@Shruti3004  I am participate at GSSoC'21 I would like to work with this issue
Would you please assign it to me?

[2021-03-10 16:25] Goheljay commented on #82
I am a GSSOC'21 participant. but I have already complete this issue. and also have already sent a pull request. https://github.com/Algo-Phantoms/Algo-Phantoms-Frontend/pull/66

[2021-03-10 16:48] Goheljay commented on #23
I participated in gssoc 2021.
The "Contact us" Button not work. So I am able to do solve this issue. a have many web designs and also make my portfolio. if see my portfolio you goto my GitHub account I have already mentioned my portfolio link. a small change in code and add some code and the issue will be solved easily.
So can you assign this issue to me?

[2021-03-10 17:11] ambivert-sam commented on #71
Hey!! @mridulabatra, I am a participant of GSSoC'21. I would take up this issue.
Can you please assign me this issue.

[2021-03-10 17:19] ambivert-sam commented on #83
Hey!!
@shubhraagarwal I am participate at GSSoC'21 I would like to work with this issue
Would you please assign it to me?
I'll put my best in it.

[2021-03-10 17:22] ambivert-sam commented on #68
Hey!!
@Shruti3004 I am participate at GSSoC'21 I would like to work with this issue
Would you please assign it to me?
I'll put my best in it.

[2021-03-10 17:26] amrzaki2000 opened #99 "[GSSoC '21] Card hover effect"
Hello,
I noticed that this last card does not rotate on hover as other cards do.
I'd like to fix this as part of my GSSoC participation.
Thank you
![image](https://user-images.githubusercontent.com/62449903/110670802-758b9b00-81d6-11eb-96a1-720d2b44b209.png)

[2021-03-10 17:34] khareyash05 commented on #86
Hi! I would like to work on this issue as a part of GSSOc'21

[2021-03-10 18:22] shreya-1398 commented on #99
You might be mistaken. It's working. Do check it, again

[2021-03-10 18:25] shreya-1398 commented on #99
@amrzaki2000  You might be mistaken. It's working.

[2021-03-10 18:28] AviJuneja2007 opened #100 "Adding Social Links to the website"
Hey! I am a participant in GSSOC'21. I would like to make this contribution by making a social media sidebar for the site with attractive icons which will hold the links to your social media handles. Please, consider! And assign it to me so that I can start working on it at the earliest.

[2021-03-10 18:29] #100 closed

[2021-03-10 18:32] amrzaki2000 commented on #99
@shreya-1398 looks like there was a problem with my browser
thanks

[2021-03-10 18:32] #99 closed

[2021-03-10 19:54] sakshigoel19 opened #101 "Typing Effect on the heading "We are Programmers""
I am a GSSOC'21 participant. I would like to emphasize the the heading "We are programmers" by adding a typing effect on the word programmers using javascript.It would enhance the look and feel of the header section.Please assign me this issue.

[2021-03-10 20:06] sakshigoel19 commented on #101
@Shruti3004 Please assign this issue to me.

[2021-03-11 03:34] archanagandhi opened #102 "[Navbar] Transparent Navbar to Solid On scrolling"
Hey @Shruti3004, I've gone through the site. I would like to **change the navbar**. On the landing page, the navbar should be transparent. On scrolling, the navbar will change to solid colour along with the text.
Right now I found that this navbar is transparent and on scrolling, everything behind the navbar is visible that seem bad.

[2021-03-11 04:11] anhushree opened #103 "Adjusting Spacings in the footer"
The spacing in the footer is not consistent under three responsive sizes (Laptop, Tablet, Mobile)
![laptop](https://user-images.githubusercontent.com/56672958/110733811-9ee70e00-824c-11eb-8dfc-b3fd6414fad7.PNG)
![tablet](https://user-images.githubusercontent.com/56672958/110733981-ee2d3e80-824c-11eb-8da9-9451edb6c050.PNG)
![mobile](https://user-images.githubusercontent.com/56672958/110733991-f1282

[2021-03-11 04:12] anhushree commented on #103
Can I work on this issue as a GSSoC'21 Participant?

[2021-03-11 04:50] neha-baisane opened #104 "Insert a new section containing list of Programing Language"
I would like to introduce a section named "Sharpen you skills" below About us section, which will include a list of different programming languages for user to make easy choice for practise.

As a GSSOC'21 participant I would like to work on this issue .Please assign me this task.

A brief idea is given in picture.
![Capture](https://user-images.githubusercontent.com/64725427/110737255-0acc7500-82

[2021-03-11 05:06] saaiswetha commented on #32
@Shruti3004 I've made a pull request, could you review it & let me know the changes for the same.

[2021-03-11 05:20] shrishti-c opened #106 "Adding Parallax scrolling effect"
To enhance the home page of Algo Phantom, we can use parallax scrolling effect. Please assign me this issue.

[2021-03-11 05:27] shrishti-c opened #107 "Hover effect in navbar"
Since the colour are dark themed, hover effect can make it more visible whenever we head to any sub-section. Would love to work on it. :)

[2021-03-11 05:47] shrishti-c opened #108 "Certification-Coulmn"
For the time being, we can add certification column where we will provide beginner, intermediate and expert level of certification. I would love to do that.

[2021-03-11 06:16] malavikarajeshvikraman opened #109 "[GSSOC'21] Learn more about Data Structures Section"
Hi ! I am Malavika  , participating in  GSSOC'21 .
I would like to add a learn more about  Data structures section, where I would put the various data structures as cards with a learn more button .
So Kindly please assign me this task.
Something like this .
![Screenshot 2021-03-11 134405](https://user-images.githubusercontent.com/42905287/110756199-e59a2f80-826f-11eb-8d96-7b2404c3ee2e.jpg)

[2021-03-11 06:42] Aditya201551 commented on #89
This website does not use and backend stack so integrating email validation won't be possible but if you have any idea it would be great to work on this issue together!

ThankYou!(GSSOC participant)

[2021-03-11 06:44] Priyanka7011 commented on #77
hii I am a GSSOC 2021 participant
I would love to work on this feature
please assign me this.

Thank You

[2021-03-11 06:46] Himanshu16Singh opened #110 "Toggle button alignment in mobile device"
![image](https://user-images.githubusercontent.com/56081584/110746849-6f8fcb80-8263-11eb-9ba8-232a54673e2b.png)

Toggle Button should be on same line with brand logo & brand name.

Can I work on this ?

[2021-03-11 06:53] Ankkkitt commented on #107
Hello, I am a GSSoc'21 Participant and would like to work on this issue. When we hover on nav links, we can increase the font size and also give it some border to look more attractive and highlighted. If you assigned this issue to make it would be great.

[2021-03-11 07:05] #110 closed

[2021-03-11 07:29] Aakanksha0407 commented on #89
So sir can I add a floating button that will be linked directly to the GitHub profile. So it will be handy for the users and the same time will help in beautification.
Also I want to align this marked paragraph. This needs to be in centre.

![image](https://user-images.githubusercontent.com/63249668/110751064-5c7ffa00-8269-11eb-8ffa-438707f12e7d.png)

[2021-03-11 08:17] malavikarajeshvikraman commented on #109
@Shruti3004 Kindly do assign this task to me

[2021-03-11 08:38] Himika-Mishra opened #111 "Justification of the circles present in teams page"
Hi!
I was going through the project files and the circle in the TEAMS page was going under the navbar and it is somewhat distracting. A change of direction of circle is needed.
Please @dheerajkotwani  assign me this this issue so that I can work on it ASAP.
Looking forward to contribute more in the project.
Thanks

[2021-03-11 09:22] simranbhalla3 commented on #106
I can add parallax scrolling effect in the website. Project mentor @Shruti3004 please assign this issue to me

[2021-03-11 09:25] iamvaishnav opened #112 "Alignment of banner"
The text in the banner is not center aligned. It would look great if it is aligned centrally.
Could you assign this to me?

[2021-03-11 09:31] SiddhantChadha opened #113 "Extra whitespace in the github link"
Hi!
I was going through the project files and found a bug in the UI. There is an unwanted space after the github link and is quite unpleasant. I am a participant of GSSOC'21, I would like to contribute to this issue.
![2021-03-11 (2)](https://user-images.githubusercontent.com/63542625/110765841-96a5c780-827a-11eb-9576-72dc6fdbadda.png)
Please assign it to me. Looking forward to contribute more in

[2021-03-11 10:49] shalmoly79 commented on #74
@Shruti3004 I'm assigned by you for this issue. I am actively working on it and I will complete my task within 12th March, 2021 positively. Please don't assign my issue to anybody else. Thank you.

[2021-03-11 10:56] ritesh1731 commented on #112
I would like to contribute to this issue under GSSOC21. Can you please assign it to me?

[2021-03-11 12:50] Krishan-2000 opened #115 "Email Validation"
In this it is a procedure to check if an email address is deliverable and valid. It catches typos and It also confirms if a particular email address exists with a reliable domain such as Gmail or Yahoo.

@Shruti3004  Please assign this issue to me.

[2021-03-11 13:23] amrzaki2000 commented on #90
@todi-2000 @diyajaiswal11

Can you assign this issues to me, please?
I would like to work on a data structures simulation section.

[2021-03-11 14:56] Shraddha13Jain commented on #71
Hey!! @mridulabatra, I am a participant of GSSoC'21. I would take up this issue.
Can you please assign me this issue.

[2021-03-11 14:57] amangupta37 commented on #54
@Shruti3004 need to discuss few detailed requirements before integrating the bot can we schedule a meeting ???

[2021-03-11 17:12] Deepak-dex opened #117 "Adding Code editor"
## Hey I was  thing of adding two code editors in algo phantom

- Ace editor for all Languages
- Pencode like editor for running html ,css and js in realtime.

I have already made pencode clone and know basic about embedding ace editor so you can assign me for this issue

_#gssoc_

[2021-03-11 18:18] Deepak-dex opened #118 "# Background Video too large"
#### Background image is very large (42mb) it affects the performance and not that good looking in small device

We can replace it with animated background made using js library like particle.js or other backgrounds made with vanilla js and css
which will be much lighter and responsive.

[2021-03-11 18:30] kamalkarolya opened #119 "[gssoc'21] proper alignment of content in footer and hover effects in footer"
proper alignment of content in footer and hover effects in footer
and also footer seems to large.
please assign this work to me.

[2021-03-11 18:32] oneknucklehead commented on #119
Can I please get assigned to this issue as I have prior experience in issues like this already and I hope I can do well

[2021-03-11 18:35] oneknucklehead opened #120 "background animation to be replaced with a gif and changing of the unorganized footer"
replacing the background video of the website with a gif would make the website run much faster and also the footer seems a bit unorganized
Can I please get assigned to this issue?

[2021-03-11 18:37] oneknucklehead opened #121 "Contact us bar is too large"
The styling of the contact us bar seems too large. changing it to a decent size would be okay.
Can I get assigned to this issue?

[2021-03-11 18:41] Aditya201551 commented on #89
yeah, you can do with the aligning thing but how would adding a Github link will help in email authentication?

and btw I am also a gssoc participant m not "sir"😅

anyways hope it helps

[2021-03-12 03:15] TusharRao8334 commented on #119
I'll solve this issue pls assign it to me

[2021-03-12 03:25] aditisingh2412 commented on #74
Hey, can I solve this issue??

[2021-03-12 03:56] maanpatel2492 commented on #121
Hey,I can work on this issue.
(under GSSOC'21).

[2021-03-12 04:37] Fpj-11 commented on #121
I would like to work on this issue.

[2021-03-12 07:50] pushpakumari5117 opened #124 "FOOTER RESPONSIVE ISSUE IN MOBILE VERSION"
@todi-2000 @diyajaiswal11 @Shruti3004 @rudrakshi99 PLEASE LOOK INTO THE ISSUE, AND ALLOW ME TO CONTRIBUTE TO YOUR PROJECT.
.
.
![contact](https://user-images.githubusercontent.com/68471073/110907071-da5c0800-8332-11eb-903f-6bf1b4dd36c3.png)

** **CONTACT US BUTTON IN FOOTER** **
**ISSUE 1:**
I want to make changes to the placeholder "ENTER YOUR EMAIL" in the MOBILE VERSION.
**DESCRIPTION:**
In MOB

[2021-03-12 07:52] devanshi-code commented on #63
@gnikita432 Can I contribute to it

[2021-03-12 10:58] amrzaki2000 commented on #90
@todi-2000 @diyajaiswal11

[2021-03-12 11:02] gritika18 commented on #28
I'm a GSSOC participant and I would like to work on this issue. Could you please assign it to me?

[2021-03-12 11:55] rohank2502 opened #125 "Update TEch stack used with their logos"
I will like to  update the tech stack used with their logo this will make our read me file more attractive !! Will start to work as soon as I get assigned !!

[2021-03-12 11:57] rohank2502 opened #126 "Automatic updating contributor list"
I will like to add a feature of updating contributor list automatically !! This will keep our list updated automatically !! Will start to work on this issue as soon as I get assigned !!

[2021-03-12 16:23] rray14 opened #128 "Page for Quizzes"
Hi my name is Ardra Mohan, a participant of GSSoC'21
Currently, the quiz link redirects you to another page, to make the site more feasible I'll create a page for quiz that'll have various sections with different quiz topics
A page for choosing an interested topic for the quiz from the listed ones.
Please assign me this issue
Thanks!

[2021-03-12 18:05] Abhishek765 commented on #125
Let me handle This @rohank2502 can you recheck whether these are the only tech. stack used in this project:

![image](https://user-images.githubusercontent.com/43133456/110980207-9d702f80-838b-11eb-83a7-9725970a48d0.png)

[2021-03-12 18:16] Devenkapoor7303 commented on #124
Can I work on this issue under GSSOC 2021

[2021-03-12 20:05] Srijan205 commented on #121
i would like to work on this issue

[2021-03-12 20:49] parthpandyappp opened #130 "Greet the issue raisor."
Having your projects featured in huge open-source programs comes with so much responsibility. Primarily when folks open up an issue, a follow-up is much needed to help'em boosted and motivated. So, here we have a bot that will greet the user for opening up an issue and help the creator of the issue stay motivated and patient to get a follow-up for the same.

[2021-03-12 20:50] parthpandyappp commented on #130
Issue stabilized by #129

[2021-03-13 00:44] mdshahansha commented on #104
for each of the language
we use differnrent icon
so it will easy to understanf  and familiar with user
allow me to make the changes

[2021-03-13 03:50] dibyanshu-mohanty commented on #120
The Background video is too large and it affects the rendering of the page, this can be replaced with a gif which would make it faster and the footer needs some extra links for Linkedin and Instagram.
@Shruti3004 Can i work on this issue?

[2021-03-13 03:52] Shruti3004 commented on #120
@dibyanshu-mohanty footer issue have already been created and people are working on it, you can replace the background video with a gif.

[2021-03-13 03:53] Shruti3004 commented on #120
@oneknucklehead and @dibyanshu-mohanty can you guys collectively work on this issue.

[2021-03-13 04:10] ravikr126 commented on #56
you can start now

[2021-03-13 04:30] ravikr126 commented on #55
you can start now @debjani1413

[2021-03-13 05:37] oneknucklehead commented on #120
@Shruti3004 Yeah sure if @dibyanshu-mohanty is okay with working on the issue together. :3

[2021-03-13 05:40] dibyanshu-mohanty commented on #120
@Shruti3004 . Thanks , @oneknucklehead I am okay with it. :)

[2021-03-13 06:48] debjani1413 commented on #55
Okay, sir, I'll do the same!!

[2021-03-13 06:50] tanishq-arya commented on #56
/assign/

[2021-03-13 07:17] oneknucklehead commented on #120
@Shruti3004 Would we be assigned to this issue?

[2021-03-13 07:40] Pranjal-Yadav17 commented on #23
Hey I'm a GSSoc 2021 participant and I would like to solve this issue @Shruti3004 .
![algo phatom](https://user-images.githubusercontent.com/73348609/111023158-6aff1a80-83fd-11eb-9ca9-0f154570e135.JPG)

[2021-03-13 09:01] ayush461 opened #133 "WRONG SPELLING USED IN CONDUCT FILE"
@rudrakshi99 @todi-2000  @Shruti3004
I am participant of GSSOC21.
please allow me to correct the spellings of BEHAVIOUR, in conduct.md  file

[2021-03-13 09:07] rk05-lenavo commented on #102
I'm the Participant in GSSOC'21. Please assign me this issue under GSSOC'21. I would love to work on this.

[2021-03-13 09:10] ayush461 commented on #133
Total 6 spelling mistakes are there.

[2021-03-13 09:18] abstrxtInfinity opened #134 "Scroll bar on the home screen looks out of place."

[2021-03-13 09:45] Bhawana0001 opened #136 "Contact section background is overlapping with some part of the navbar."
Hey, I am a GSSoC'21 participant
I would like to work on adjusting the background-size of the contact section. As I can see the contact section background and half of the navbar are overlapping. If we can fix this issue I think it looks better.
Please assign this issue to me so that I can work on this.

[2021-03-13 09:49] Dimple115 commented on #128
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:50] Dimple115 commented on #124
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:50] Dimple115 commented on #118
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:50] Dimple115 commented on #107
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:51] Dimple115 commented on #103
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:51] Dimple115 commented on #104
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:52] Dimple115 commented on #108
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.

[2021-03-13 09:57] muskaan-ag09 commented on #121
I would like to work on this. Please assign it to me.

[2021-03-13 10:06] Mrinal81 commented on #69
@Shruti3004  I made the pull request. Kindly review my pull request ( #137 )

[2021-03-13 10:28] abstrxtInfinity commented on #134
@rudrakshi99 @todi-2000 @Shruti3004
I have implemented what I said in the issue. I can provide screen shots of the same if asked to do so.
Kindly merge the PR if it seems fine, and guide me for further contributions.

[2021-03-13 10:33] pushpakumari5117 commented on #124
I have just raised the issue... Project maintainers will assign the
project.... Not me.

On Sat, Mar 13, 2021, 3:20 PM Dimple Anmole ***@***.***>
wrote:

[2021-03-13 10:37] Dimple115 commented on #124
Yup I do no that :)

On Sat, Mar 13, 2021, 16:03 Pushpa Kumari ***@***.***> wrote:

[2021-03-13 10:46] Shruti3004 commented on #102
@archanagandhi go ahead

[2021-03-13 11:47] rk05-lenavo commented on #77
I'm the Participant in GSSOC'21. Could you please assign me this .

[2021-03-13 11:48] rk05-lenavo commented on #60
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 11:49] rk05-lenavo commented on #63
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 11:52] rk05-lenavo commented on #82
I'm the participant in GSSOC'21. Could you please assign me this.I would love working on this.

[2021-03-13 12:23] ravikr126 commented on #117
SURE YOU CAN START @Deepak-dex

[2021-03-13 12:29] ravikr126 commented on #121
Sure @oneknucklehead start your work

[2021-03-13 12:39] ravikr126 commented on #83
sure @shubhraagarwal you can start now and add some hover effect on the button also

[2021-03-13 12:52] shriya030 opened #138 "Update README.md"
I am a GSSOC'21 participant and would like to add a feature in README.md where the contributors get automatically updated.
Can you please assign this issue to me?

[2021-03-13 13:43] archanagandhi commented on #102
Thanks for Assigning this to me.

[2021-03-13 13:45] BALASAI1236 commented on #124
I am a GSSOC'21 participant, I want to work on this issue, please assign it to me.

[2021-03-13 15:07] Fpj-11 commented on #107
I am a gssoc'21 participant. I would like to work on this issue.

[2021-03-13 15:10] Fpj-11 commented on #133
I am a gssoc'21 participant. I would like to work on this issue.

[2021-03-13 15:12] Fpj-11 commented on #103
I am a gssoc'21 participant. I would like to work on this issue.

[2021-03-13 16:48] #136 closed

[2021-03-14 04:48] Sweeti-Gupta opened #139 "Adding pointer as a cursor to contact us and do some enhancements"
I want to do some changes in this project that will give  it a better look:
1) I want to add pointer as a cursor and some other hover properties to "contact us"
2) I want to horizontolly align the paragraphs in header in center as it is not looking in the center.
3) I want to add proper margins to the anchor tags in "useful links" and "features" to gibe both a similar look.

Hey @todi-2000 , I wan

[2021-03-14 05:25] Shraddha13Jain commented on #119
/assign
 I am a participant of GSSoC'21. I would take up this issue.
Can you please assign me this issue.

[2021-03-14 06:02] ravikr126 commented on #109
sure you can work on it @malavikarajeshvikraman

[2021-03-14 06:05] ravikr126 commented on #112
you can work on it @iamvaishnav

[2021-03-14 07:56] tanwi1234 commented on #115
In this we can send verifying message to user by adding link option to check email address exist or not using  php or can use javascript for email validation also.
I am participant of GSSOC'21 .Please assign this issue to me.I would like to work on this project.

[2021-03-14 08:30] Manish-kasera commented on #23
I had solved the issue and i am going to sent PR request as @WaderManasi is not active from last 23 days @Shruti3004 ..Hope It will acceptable....

[2021-03-14 09:08] WaderManasi commented on #23
### @Manish-kasera I have already made PR for this issue 14 days ago..Kindly check it out
![add](https://user-images.githubusercontent.com/52437677/111063109-e67ecb80-84d2-11eb-9a1a-8c7104459fdc.PNG)

[2021-03-14 09:41] Pranjal-Yadav17 opened #143 "Footer section is not organized."
The footer section is not organized/ aligned properly. I would like to work on this issue
![issue created](https://user-images.githubusercontent.com/73348609/111063914-38295500-84d7-11eb-9760-6a4b193babb4.JPG)

[2021-03-14 10:22] fatma-sia27 opened #144 "Form for contact page"
Hey, I had visited this Algo Phantoms website. And I think it would  be great if we add a short form type in CONTACT pae, like we can ask users name, email , their issus or suggestions, etc. I found this great, and I want to add this form to CONTACT page so please assign me this issue.
Thank you
Aasia fatma

[2021-03-14 11:01] Manish-kasera commented on #23
Sorry @WaderManasi  i didn't notice.. Extremely Sorry for inconvenience..

[2021-03-14 11:06] WaderManasi commented on #23
No issues.

[2021-03-14 11:54] abhishek96k commented on #144
Hey @todi-2000 I would like to work on this issue. Please `assign` this issue to me.

[2021-03-14 12:17] amrzaki2000 commented on #90
@ravikr126
Can you assign me this issue, please ?

[2021-03-14 13:00] ravikr126 commented on #128
o

you can work now @rray14

[2021-03-14 13:51] aashi2912 opened #145 "When navigate to team section, About section is missing from navbar."
I would like to fix this issue. Whenever we click on team and goes to team.html page about section from navbar is missing. It's kind of bug or not proper structure management of website.

I am from GSSOC'21.
@todi-2000 @diyajaiswal11 @Shruti3004 @rudrakshi99
 assign this issue to me :)

[2021-03-14 13:53] aashi2912 opened #146 "Add Quiz section in navbar."
In Documentation of this project it is written that Quiz section should be there for DSA.
I would like to initiate and try to build this section by starting with adding section in navbar.

@todi-2000 @diyajaiswal11 GSSOC participant.
assign this issue to me :)!

[2021-03-14 13:59] aashi2912 opened #147 "I would like to add this feature Give your DSA journey a proper guide using pathways in the website."
We can add one proper section in home page about this feature and get started to build this one.
I would like to add this section in home page as **RoadMap to your DSA journey.**

and we can further add proper and more details in this section.

GSSOC'21 . If you like it or want to discuss about this topic please assign it to me. @todi-2000 @diyajaiswal11 @Shruti3004 @rudrakshi99

[2021-03-14 14:03] abhinav5481 commented on #117
Hi,
I would like to work on it. If it is still open, could you please assign it to me?

[2021-03-14 14:31] poojitha2002 commented on #79
Hello,can you please assign this issue to me

[2021-03-14 14:39] Diksha-11 commented on #133
I am a GSSOC'21 participant. I would like to work on this issue of correcting the spellings.
@rudrakshi99 @todi-2000 @Shruti3004

[2021-03-14 14:49] Ankita297 commented on #35
Can i work on this ?

[2021-03-14 14:55] Shruti3004 commented on #133
@ayush461 go ahead

[2021-03-14 15:01] grimm989 opened #148 "update the back to top button"
Hi, I am Vishal Sony, GSSoc 21 participant.
**The color format of the back to the top button just doesn't match the color contrast between the 2 pages.**
I want to work on this issue assign to me.

[2021-03-14 15:28] Anupreetadas opened #149 "Quiz Contest section"
Hi,
Hi, I'm a GSSOC'21 participant.
I would like to add a quiz section which would have more detailed questions about the data structure level wise(Easy,medium,hard) .As the quiz will be completed the scores along with the rank in the leaderboard for the person playing the quiz will be displayed.

[2021-03-14 15:45] Astrodevil opened #151 "Updating Github logo"
I am Amitesh Anand, a GSSoC 2021 participant.
**I want to change Github logo in Follow us Section, Color of the logo is not perfectly matching the background**
*Please assign this task to me.*

[2021-03-14 16:36] ayush461 commented on #133
@Shruti3004 done, please review my PR.

[2021-03-14 17:24] Anagha-2000 commented on #109
Hi, I'm a participant at GSSOC'2021. Can you please assign me this issue?

[2021-03-15 03:27] Krishan-2000 commented on #115
To check email address is deliverable and  it's domain is valid using javascript.

[2021-03-15 07:43] ravikr126 commented on #107
since this issue is already raised .see issue #102 so I close this issue and participants are requested to raise issues on a specific type not duplicate.if the issue already raises then you can comment on that issue with your innovative ideas that helps you to get assign.

[2021-03-15 07:43] #107 closed

[2021-03-15 07:59] shubhraagarwal commented on #83
@ravikr126 Please review my earlier PR #96 so that I can create a new PR with the form

[2021-03-15 10:16] Srijan205 opened #152 "Cascading styles of Contact Us button #gssoc21"
I would like to change the CSS styles used in the Contact Us button, by adding the toggle feature when it is being hovered.
@gssoc21

[2021-03-15 10:30] Aryamanz29 opened #153 "[Need] Issue and PR template"
Currently, we haven't any issue and PR template for this repo

[2021-03-15 10:30] Aryamanz29 commented on #153
I would like to contribute to this issue

[2021-03-15 11:26] harjasnagi opened #154 "Add target="_blank" attribute in handpicked hyperlinks."
Almost all the hyperlinks open in the same tab and not new tab due to which if a user wishes to come back to the website he will have to lose his activity on the hyperlinked page and hit back button. It would be better if links open in new tab so as to have **_easy access back to the website_**.
I would be grateful if this issue is found worthy and if I'm assigned this task.

[2021-03-15 13:58] bitaashna opened #155 "adding typer animation to "WE are programmers" using js"
I want to add following typer section.
 I have attached the gif below to show what i want to do  "Building your social brand"
Can u please assign me this issue under the label **GSSOC'21**
I would like to work on it.
@diyajaiswal11 @Shruti3004 @todi-2000 @rudrakshi99
![20210315_192206](https://user-images.githubusercontent.com/57864526/111164841-6fc1fb00-85c4-11eb-8a19-6e62787e559b.gif)

[2021-03-15 14:00] Sweeti-Gupta opened #156 "About section is not showing in the navigation bar when we click on team section"
When we open "team section", the about section vanishes in the navigation bar. I want to improve it show that about section will show there and user could quickly visit to that section from the navigation bar.
Hey @geekquad , I want to solve this issue as a part of GSSOC'21. Please assign me this issue.

![Screenshot (2698)_LI](https://user-images.githubusercontent.com/79096136/111165184-c0395880-

[2021-03-15 14:58] vivek247703 commented on #149
Hii,
I would like to add quiz section in nav bar.
Quiz will be topic wise and also level wise .
Where user can learn and attempt quiz according .

[2021-03-15 14:58] vivek247703 commented on #149
Please assign me this issue

[2021-03-15 14:58] #109 closed

[2021-03-15 15:03] vivek247703 commented on #146
Hii,
I would like to add quiz section in nav bar.
Quiz will be topic wise and also level wise .
Where user can learn and attempt quiz according .Assign This issue To Me :)

[2021-03-15 16:16] ravikr126 commented on #145
hii @aashi2912 someone already raised this issue on the navbar.I think you need to check previous issues first while raised issues.

[2021-03-15 16:16] #145 closed

[2021-03-15 16:18] ravikr126 commented on #146
The same issues raised before and I also assign someone to this type of issues

[2021-03-15 16:18] #146 closed

[2021-03-15 16:19] ravikr126 commented on #147
yes you can work on it .use proper roadmaps for a person who starts their journey from beginner to expert level
@aashi2912

[2021-03-15 16:22] aashi2912 commented on #147
hey, what should I do properly in this? Can u clarify as you put label as documentation?

[2021-03-15 16:23] ravikr126 commented on #149
the issue already raise #128

[2021-03-15 16:23] #149 closed

[2021-03-15 16:29] #128 closed

[2021-03-15 16:31] ravikr126 commented on #156
the duplicate issue already raise #74 see it and please raise relevant issues

[2021-03-15 16:31] #156 closed

[2021-03-15 16:34] ravikr126 commented on #80
yes you can start now @poojitha2002

[2021-03-15 16:36] poojitha2002 commented on #80
Thanks for assigning.

[2021-03-15 16:37] nikhil-Vaibhav opened #158 "Adding details and articles of Data structures and Algorithms"
Hey,
I have seen that the website is redirecting to different platforms for  different purposes.
Instead, we can add the proper articles of each and every Data structure and related problems and test cases which is all being provided in the Algo phantoms backend repository.

We can add that much of information and gradually keep increasing the content.
As a GSSoC participant I want to start workin

[2021-03-15 16:43] ashutosh-cusat commented on #80
hey,i would like to add some quizzes on DSA. please assign me for this issue. @ravikr126

[2021-03-15 17:19] ashutosh-cusat opened #159 "Website [Features] section is not convincing enough."
Hello Algo-phantoms, I am a GSSOC'21 participant. The Features section is not enough to reach users. If you find this issue please assign me to solve this task. thank you @Shruti3004 @ravikr126

[2021-03-15 17:53] amritakesh commented on #83
hello
i'm taking part in gssoc 2021. And i would like work on this creating a form, will you please assign this to me?

[2021-03-15 17:54] amritakesh commented on #80
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 17:54] amritakesh commented on #79
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 17:54] amritakesh commented on #77
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 17:54] amritakesh commented on #82
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 17:56] amritakesh commented on #73
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 17:57] amritakesh commented on #56
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 17:57] amritakesh commented on #53
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 17:57] amritakesh commented on #51
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 18:07] amritakesh commented on #34
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 19:33] harikesh409 commented on #155
Duplicate of #101

[2021-03-15 19:33] #155 closed

[2021-03-15 20:41] #87 closed

[2021-03-15 20:47] #63 closed

[2021-03-15 20:49] harikesh409 commented on #53
Assiging to @Sloth-Panda as it is First Come First Serve basis you can check other issues.

[2021-03-16 04:16] harikesh409 commented on #159
@ashutosh-cusat Can you give a bit more insights on what more you want to add in the features section?

[2021-03-16 04:20] tanishq-arya opened #160 "UI: Adding back to top button"
Adding back to top button to team.html page

[2021-03-16 04:22] ashutosh-cusat commented on #159
@harikesh409 may i change the look and add some features

[2021-03-16 04:34] harikesh409 commented on #159
Go ahead @ashutosh-cusat

[2021-03-16 04:37] harikesh409 commented on #151
Go ahead @Astrodevil

[2021-03-16 04:41] #130 closed

[2021-03-16 04:45] ashutosh-cusat commented on #159
Thank you @harikesh409

[2021-03-16 04:48] Spidy-Coder opened #161 "Updating footer content"
I want to update footer elements for mobile design which will include following:-

- [x]  _**Contact us**_ element
- [x]  **_LOGO_**

[2021-03-16 04:48] #68 closed

[2021-03-16 04:51] harikesh409 commented on #154
Go ahead @harjasnagi

[2021-03-16 04:58] harikesh409 commented on #94
The spellings are correct only no need to change those.

[2021-03-16 04:58] #94 closed

[2021-03-16 05:00] harikesh409 commented on #95
Go ahead @WebVishal

[2021-03-16 05:03] harikesh409 commented on #103
The issue is quite similar to #95.

[2021-03-16 05:03] #103 closed

[2021-03-16 05:08] #56 closed

[2021-03-16 05:09] tanishq-arya commented on #56
#131

[2021-03-16 05:10] surbhi594 commented on #78
The Git hub link and all other social media links at the left side of Algo Phatoms website are not working. Please assign this issue to me as I'm the participant of GSSOC'21.

[2021-03-16 05:13] harikesh409 commented on #124
There are already many issues related to the footer responsiveness. #95 #65

[2021-03-16 05:13] #124 closed

[2021-03-16 05:14] Astrodevil commented on #151
Through PR  #163  I Changed the logo color @harikesh409

[2021-03-16 05:33] harikesh409 commented on #78
create a new issue and ask there @surbhi594

[2021-03-16 05:34] harikesh409 commented on #78
The Contact Us over there is a heading and link is not needed over there.

[2021-03-16 05:34] #78 closed

[2021-03-16 05:45] #160 closed

[2021-03-16 05:47] harikesh409 commented on #161
There are already many issues related to modifying the footer can you choose something else.
#65 #77 #124

[2021-03-16 05:47] #161 closed

[2021-03-16 05:48] #72 closed

[2021-03-16 06:29] surbhi594 opened #164 "The git hub link and all other social media links are not working at the left side of Algo Phatoms website"
****

[2021-03-16 06:44] harikesh409 commented on #164
Go ahead @surbhi594

[2021-03-16 06:45] surbhi594 opened #166 "Adding a 404 page"
To add a 404 error page to keep a visitor on your site even if he/she hits a page that doesn't exist. Please assign this issue to me @rudrakshi99 as I'm the participant of GSSOC'21.

[2021-03-16 06:47] #154 closed

[2021-03-16 06:52] tanishq-arya opened #168 "Load error for index.js file"
There was a small mistake in html script tag src attribute.

[2021-03-16 06:53] tanishq-arya commented on #168
Solved by PR #167

[2021-03-16 07:27] #133 closed

[2021-03-16 08:59] Astrodevil opened #169 "bottom to top button"
Bottom to top slider/button is not working properly. That needs improvement.

[2021-03-16 09:00] #169 closed

[2021-03-16 09:02] paaniik opened #170 "Back to top button is not working"
I am Aman, GSSoC 2021 participant, back to top button is not working. I want to fix that issue, please assign me that task.

[2021-03-16 09:38] #92 closed

[2021-03-16 09:39] tanishq-arya commented on #170
This has been solved PR #167

[2021-03-16 09:48] paaniik commented on #170
okay

[2021-03-16 10:03] Pramit29 commented on #28
I am a GSSoc participant and want to work on this issue. I have started learning HTML and CSS so would be able to contribute to this project.

[2021-03-16 11:00] #168 closed

[2021-03-16 11:02] #170 closed

[2021-03-16 11:06] harikesh409 commented on #28
Issue has been resolved in #56

[2021-03-16 11:06] #28 closed

[2021-03-16 11:09] harikesh409 commented on #166
Go ahead @surbhi594

[2021-03-16 11:22] harikesh409 commented on #35
@maneprajakta go ahead

[2021-03-16 11:23] harikesh409 commented on #153
Duplicate of #53

[2021-03-16 11:23] #153 closed

[2021-03-16 11:26] harikesh409 commented on #158
You can start with it @nikhil-Vaibhav

[2021-03-16 11:28] Aryamanz29 commented on #53
@Sloth-Panda  are you still working on this issue?

[2021-03-16 11:31] harikesh409 commented on #152
Duplicate of #63

[2021-03-16 11:31] #152 closed

[2021-03-16 11:37] harikesh409 commented on #144
Duplicate of #51 #83

[2021-03-16 11:37] #144 closed

[2021-03-16 11:38] harikesh409 commented on #83
Duplicate of #51

[2021-03-16 11:38] #83 closed

[2021-03-16 11:42] harikesh409 commented on #44
Issue already resolved.

[2021-03-16 11:42] #44 closed

[2021-03-16 11:42] harikesh409 commented on #51
@padmajabhol and @shubhraagarwal can work together on this issue if there is no problem for you people.

[2021-03-16 12:01] harikesh409 commented on #138
As per contribution guidelines mentioned we should not updated `README.md`.

[2021-03-16 12:01] #138 closed

[2021-03-16 12:02] harikesh409 commented on #126
As per contribution guidelines mentioned we should not updated `README.md`.

[2021-03-16 12:02] #126 closed

[2021-03-16 12:04] harikesh409 commented on #113
Issue resolved in #163 .

[2021-03-16 12:04] #113 closed

[2021-03-16 12:15] Spardha-hash commented on #166
I also want to contribute to this issue....Can I do??

[2021-03-16 12:27] padmajabhol commented on #51
I d love to. There's no issue.

[2021-03-16 12:31] shubhraagarwal commented on #51
Sure👌

[2021-03-16 12:32] gnikita432 opened #171 "Fixing the about us title"
The about section is not responsive and
The about us title is coming up on the sidebar in mobile view
![aissue1](https://user-images.githubusercontent.com/61223163/111309153-93974680-8681-11eb-9227-e70b93c4ec09.PNG)

[2021-03-16 12:36] gnikita432 opened #173 "Responsive home section"
The home section is not responsive. All the text in the home section is aligned to the right side and the font-size is also too large for mobile view.
![aissue2](https://user-images.githubusercontent.com/61223163/111309516-00124580-8682-11eb-8919-dd65885d9b52.PNG)
I am a GSSOC'21 participant can you please assign me this issue under gssoc.

[2021-03-16 12:36] deeptea22 opened #174 "Two Back to Top Buttons"
Upon opening the team page, when we scroll to the bottom, there is the presence of two back to top buttons. Would like to work on this issue. Please assign this to me as a part of GSSoC'21. Thank you :)

Screenshot:
![image](https://user-images.githubusercontent.com/67323371/111309825-55e6ed80-8682-11eb-86e6-86c48485d05b.png)

[2021-03-16 12:37] gnikita432 commented on #171
I am a GSSOC'21 participant can you please assign me this issue under gssoc

[2021-03-16 12:38] Spardha-hash opened #175 "Changing the background of About Us"
Hey @harikesh409 I want to change the background of the about us as when I was scrolling then it seems to me incomplete and this part was looking different from the whole page so please assign this issue to me.

[2021-03-16 13:08] bishalshaw-164 commented on #166
Hi
I would like to add a 404 page,
Would you please assign me to do this.

[2021-03-16 14:00] harikesh409 commented on #166
@Spardha-hash and @bishalshaw-164 the issues are being assigned on first come first serve basis, you can contribute to other issues.

[2021-03-16 14:22] Sloth-Panda commented on #53
@Aryamanz29 of course I am just got assigned yesterday

[2021-03-16 14:24] Sloth-Panda commented on #53
@Shruti3004  @harikesh409 lol, I have already made or for this please check it's  been nearly a week now and it's a simple pr should not be taking much time

[2021-03-16 14:45] ravikr126 commented on #171
this is a duplicate issue.

[2021-03-16 14:45] #171 closed

[2021-03-16 14:50] #134 closed

[2021-03-16 14:51] ravikr126 commented on #139
already raised issue please check previous issues

[2021-03-16 14:51] #139 closed

[2021-03-16 14:52] ravikr126 commented on #115
you can start now @Krishan-2000

[2021-03-16 14:59] #74 closed

[2021-03-16 15:03] Sweeti-Gupta commented on #156
Hey @ravikr126 , I think these two issues are not same. Issue #74 was about the modification of "About Us" section but I am talking about the bug that the "About" section is not showing in the navigation bar when we are clicking on or visiting "Team" section. Issue #74 has been resolved by the PR #122 but I don't see the improvement which I am talking about.

Please check the image. Here "About" s

[2021-03-16 15:16] apoorva-s1301 opened #176 "Editing the banner text color and grammatical correction."
Hey, I'm a participant of GSSOC'21. I'd like to work on the following changes.
The flashes of the background banner video clashes with the light colored tone of the words "focusses" and "data" in the banner text. Can I try fixing it ?
Also, I really don't want to sound rude correcting the grammar of the website ,but I feel the word "focusses" should be replaced by "focusing" both in the banner tex

[2021-03-16 15:19] saswatsam786 opened #177 "CREATE A SIGN IN / SIGN UP page and an form section"
I am GSSOC'21 participant.

 I want to create a sign-in/sign-up section in the project. Which will allow users to log in.
I will also add how do you get to know about us form just above the footer.

Please assign me this.

[2021-03-16 15:27] #151 closed

[2021-03-16 15:33] harikesh409 commented on #53
I have requested a change in the PR look into it and resolve it.

[2021-03-16 15:39] harikesh409 commented on #174
Go ahead and work on it @deeptea22

[2021-03-16 15:45] ravikr126 commented on #156
hii @Sweeti-Gupta please check the website again https://algo-phantoms.github.io/Algo-Phantoms-Frontend/#about

[2021-03-16 15:47] harikesh409 commented on #173
Go ahead @gnikita432

[2021-03-16 16:03] gnikita432 commented on #173
Thank you for assigning.

[2021-03-16 16:03] harikesh409 commented on #148
Resolved in #56 and #131

[2021-03-16 16:03] #148 closed

[2021-03-16 16:13] abstrxtInfinity opened #179 "The social buttons are overlapping the content."
The social site link icons are overlapping the content on a mobile device. I would like to fix this problem.
There is also the about text which has a blurred background for no reason.
You will find the screen shots attached.
Kindly assign me to this issue to work on.

![Screenshot_2021-03-16-21-35-17-756_com android chrome](https://user-images.githubusercontent.com/55052738/111342567-96556400-86a0

[2021-03-16 17:19] deeptea22 commented on #174
Thank you :)

[2021-03-16 17:24] VishwaRaj-21 opened #182 "Add animation."
I am GSSOC'21 participant.
I would like to add animations.
Please assign this to me

[2021-03-16 18:12] harikesh409 commented on #182
Can you tell us more like where you want to add the animations and what kind of animations you want to add?

[2021-03-16 19:07] Sweeti-Gupta commented on #156
Ok sir

[2021-03-17 04:01] abstrxtInfinity commented on #179
@Shruti3004 I am a participant of GSSOC'21 can you assign me this issue.

[2021-03-17 04:06] abstrxtInfinity commented on #147
The Roadmap to DSA is not styled enough, I would like to work on this.
GSSOC'21 participant  . If you like please assign it to me. @todi-2000 @diyajaiswal11 @Shruti3004 @rudrakshi99

![image](https://user-images.githubusercontent.com/55052738/111413422-401a0c80-8704-11eb-81f7-ec3bbc2a2c94.png)

[2021-03-17 04:16] abstrxtInfinity opened #183 "The Roadmap to DSA page is not styled."
The Roadmap to DSA is not styled enough, I would like to work on this.
GSSOC'21 participant . If you like please assign it to me. @todi-2000 @diyajaiswal11 @Shruti3004 @rudrakshi99

![image](https://user-images.githubusercontent.com/55052738/111414211-95a2e900-8705-11eb-9729-f8c7ebb13f63.png)

[2021-03-17 04:23] aashi2912 commented on #147
This works fine on my browser.
![DSA1](https://user-images.githubusercontent.com/52272710/111414730-79537c00-8706-11eb-955f-b284eebd29af.png)

Maybe check your browser for latest version?

[2021-03-17 04:27] abstrxtInfinity commented on #147
My browser has latest version.

[2021-03-17 04:37] aashi2912 commented on #147
Okay, Maybe there will be some problem. Fix it.

[2021-03-17 05:00] AbhishekSharma-86 commented on #143
Hello @Pranjal-Yadav17 ,
I am a participant of GSSoC, and i would like to work on this issue.
please assign me this issue

[2021-03-17 05:35] abstrxtInfinity commented on #147
I would fix it. Please assign me the issue #183

[2021-03-17 07:25] ravikr126 commented on #179
You can work now @abstrxtInfinity

[2021-03-17 07:30] abstrxtInfinity commented on #179
fixed the social-sidebar overlaping in smaller devices #185

[2021-03-17 07:42] abstrxtInfinity commented on #147
I have fixed this issue. This is how it looks now, hoping its up to the mark. Do share if there is anything else that is to be added or changed.
![image](https://user-images.githubusercontent.com/55052738/111431824-4323f580-8722-11eb-947c-139e4c56ef69.png)

![image](https://user-images.githubusercontent.com/55052738/111431847-48814000-8722-11eb-9cfb-9398b211a3fd.png)

[2021-03-17 07:51] aashi2912 commented on #147
GREAT !!

[2021-03-17 10:05] harshb02 opened #188 "About us section"
I want to make the about us section a little bit more stylish and good looking

[2021-03-17 12:08] preity-p opened #189 "Navigating to "Features" section"
The "Features" section mentioned in the footer includes the code editor, quizzes, DSA guidance and opportunities, but it hasn't been included in the navbar - which is the first section users go to for a site layout.

[2021-03-17 12:08] preity-p commented on #189
I could add the Features section to the navbar under the "More" tab, since it's a drop-down with only the roadmap as a child, as a GSSoC'21 participant.

[2021-03-17 12:32] mirakiii opened #190 "Addition of To-do List"
## To-do list
This Amazing web app lacks a to-do list ! Would love to add a to a To-do list in features or more section. That would add a bit of interaction with the user and make it more engaging and featureful (if thats a word ;) )
If we are on the same page Do assign it to me under Gssoc'21 !

![image](https://user-images.githubusercontent.com/68226051/111467675-b6d9f880-874a-11eb-88d5-32e8b527

[2021-03-17 13:02] ShambhaviSharma0110 commented on #190
Hey! I would really like to work on this please allow me to work on this...
-gssoc'21 participant

[2021-03-17 13:03] ShambhaviSharma0110 commented on #39
Hey! I would really like to work on this please allow me to work on this...
-gssoc'21 participant

[2021-03-17 13:58] oneknucklehead commented on #121
@ravikr126 assign this issue to me :3

[2021-03-17 14:16] tanishq-arya opened #191 "HTML Validation"
![image](https://user-images.githubusercontent.com/77333275/111481814-53a39280-8759-11eb-9339-9387889fe1b2.png)
The lists are not valid according to html along with some other issues. Please assign me this issue.
You can check for yourself by uploading the index.html here.
https://validator.w3.org/#validate_by_input

[2021-03-17 15:10] rajeshpanjiyar opened #192 "add contributors section in readme"
The ***contributors*** section is the best part of any readme. This issue is to add the contributor's section in the readme. It will add contributors' names automatically so no need to update this issue from time to time.
I am a participant in **GSSoC'21**. I request you to assign me this issue so that I can start working.

[2021-03-17 15:37] mirakiii opened #193 "update READme (how to setup project on system)"
## How to setup this project on system?
That's a part every _readme_ should include, and we are missing out on this ! :open_mouth:
To make this project accessible to every newbie  _open source enthusiast_ out there, our _readme_ should include guideline on how to actually set this up at their end !
If you guys let me contribute on this, do assign this to me under Gssoc'21 :four_leaf_clover:
Thanky

[2021-03-17 16:23] Snehakri022 opened #194 "Enhancement of nav-bar"
I want to work on nav bar enhancement as in more section... i want to add some  file which contain all the important DSA questions to practice as well.
@anubhavitis @malavikarajeshvikraman @harikesh409  assign this issue to me

[2021-03-17 16:33] A7abhilash commented on #39
@ShambhaviSharma0110 @subhangi2731 I've already done the revamping and tested thoroughly in localhost.
But when I hosted it(frontend on netlify and backend on heroku) for demo, I wasnt able to get the auth token from backend.
IDK why it is happening so? If you guys know how to resolve that then please help me.
Once it get merged then we all can go ahead with adding more features for this MERN App.

[2021-03-17 16:40] A7abhilash commented on #39
@subhangi2731 @ShambhaviSharma0110 I have been asking the mentors about this but there is no response from them... I asked them even on discord also but still they just ignored my suggestion!!!

[2021-03-17 16:43] #174 closed

[2021-03-17 16:46] #35 closed

[2021-03-17 16:51] LalitMishra1504 opened #196 "On Hovering The Logo It get Blurred"
In About-Us Section On Hovering The Logo it get Blurred
I will Try to resolve this issue
can you please assign me this @harikesh409
![Screenshot (1055)](https://user-images.githubusercontent.com/78636179/111505096-46dd6980-876e-11eb-830a-421cffeddd4e.png)

[2021-03-17 16:55] harikesh409 commented on #196
Duplicate of #179

[2021-03-17 16:55] #196 closed

[2021-03-17 17:04] #49 closed

[2021-03-17 19:18] Adityakarthik18 opened #197 "Add file from pc to execute program"

[2021-03-17 22:02] surajbugade opened #199 "Homepage worsen after merging Pull Request #98"
## The Homepage of the website has changed and worsen after merging of the pull request #98 for the issue #49 .

The Home, About Us, Contact and footer section has been changed and there's a need to revert this.
It can be seen below:

![Screenshot (483)](https://user-images.githubusercontent.com/69011811/111544349-5672a780-879a-11eb-9366-a4d834d75f3b.png)

![Screenshot (485)](https://user-images.g

[2021-03-17 22:36] surajbugade commented on #199
I am Suraj Bugade, a GSSoC '21 participant. It's the first issue that I have raised and also opened a pull request #200 for this issue. Please check it and guide me if I did something incorrect.

[2021-03-18 05:18] Spardha-hash opened #202 "Sweet Alert Message after clicking on the contact us button"
Hey @harikesh409 I want to work on this issue...When the person click on the contact us button after entering the mail then the sweet alert message is provided to the user like as thank you for contacting us....So please assign this issue to me

[2021-03-18 05:25] Snehakri022 commented on #194
Hi @ravikr126 The Homepage of the website has changed and worsen after merging of the pull request #98 for the issue #49 . So I have just created a page regarding dsapractice where all important questions are there along with the link of the problems. please merge it

[2021-03-18 07:04] lipsa199 opened #203 "social-sidebar background color"
Description of issue:
** when the webpage minimizes or open in phone size browser the social sidebar is not properly visible on footer part because of the   background color of social sidebar**
![IMG_20210318_123048](https://user-images.githubusercontent.com/76063097/111585850-ef7ae000-87e5-11eb-863d-2c41b5da795d.jpg)

[2021-03-18 07:49] osamamagdy commented on #90
@todi-2000 @ravikr126 @diyajaiswal11
I also want to be assigned to this issue with @amrzaki2000 if applicable.

[2021-03-18 07:59] harikesh409 commented on #194
The changes of #98 are reverted kindly pull the new code and check. @Snehakri022

[2021-03-18 08:49] satcasm opened #204 "Navbar and footer are merging"
When you click on the the ```contact``` link on the home page. The rendered footer is getting merged with the navbar and it's looking a bit odd.
Would like to improve on it under GSSOC' 21.
Thanks!

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/111598175-f0ffd480-87f4-11eb-86de-d78e4cf89c98.png)

[2021-03-18 10:21] #53 closed

[2021-03-18 12:42] SilverGraph commented on #147
issue: #183

I would like to work on styling the website as well and this is what I came up with:

![Screenshot 2021-03-18 181019](https://user-images.githubusercontent.com/74287708/111627589-37fdc200-8815-11eb-9b46-e2c88e2e625f.png)

Please allow me to contribute to this project  @todi-2000 @diyajaiswal11 @Shruti3004 @rudrakshi99

[2021-03-18 13:11] mdshahansha commented on #104
Hey, I'm also gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me

[2021-03-18 13:14] shonali2600 opened #207 "[GSSOC'21] Some content is hidden behind scroll bar."
## **Describe the bug**

"RoadMap to your DSA" content is not visible  properly on the screen

## **Possible solution**

I'll align it to the correct position.

## **Screenshots**

![algoPhantoms](https://user-images.githubusercontent.com/57946528/111631886-ef94d300-8819-11eb-9fa8-07842ade1575.png)

[2021-03-18 13:19] SilverGraph commented on #207
@shonali2600 Looks fine to me

![Screenshot 2021-03-18 184952](https://user-images.githubusercontent.com/74287708/111632519-90838e00-881a-11eb-89d3-a47b4a40f4aa.png)

[2021-03-18 13:37] shonali2600 commented on #207
Different in different browsers.

[2021-03-18 19:58] Astrodevil opened #208 "click issue in Features section"
## **Describe the bug**

- In the features section the lists are clickable even when cursor is far away.

## **Possible solution**

- May be enhancement in code part by editing bootstrap code/class .
- If anyone wants to solve, go ahead

https://user-images.githubusercontent.com/73425223/111690560-5b476200-8853-11eb-945c-8e093b9647db.mp4

## **Screenshots**

- Here i attached a short video for thi

[2021-03-18 20:24] abhishek96k commented on #208
I would like to work on this issue

[2021-03-18 20:35] paaniik commented on #208
I'm a GSSoC participant, and I want to work on this issue please assign to me!

[2021-03-18 21:06] paaniik commented on #208
Hey @harikesh409 I'm a GSSoC participant and I want to work in this issue, please assign me this issue.

[2021-03-19 03:20] cmulay commented on #204
Yes ! Even I encountered the same on multiple browsers.

[2021-03-19 05:12] ravikr126 commented on #194
Hii @Snehakri022 there is some improvement is required to code

[2021-03-19 05:28] ravikr126 commented on #147
you can work now @abstrxtInfinity

[2021-03-19 05:38] ravikr126 commented on #18
hii @Devenkapoor7303 which link is not working??

[2021-03-19 05:40] ravikr126 commented on #12
hii @dsnehasish74 this issue is already solved so I close this issue .you can work on other issues also

[2021-03-19 05:40] #12 closed

[2021-03-19 08:01] dcs-soni opened #211 "Broken HTML genereates loads of errors"
Hey. I peeked the website and got to know about the broken code at various places. If there is a plan to refactor those code issues in the website then I can help with this one. Please do consider me to assign under **GSSoC'21**.

Below is the screenshots of some of the issues.

![image](https://user-images.githubusercontent.com/52232900/111749164-6b912880-88b7-11eb-8756-a49e8d3988e4.png)

[2021-03-19 11:10] RajatWankhede14 commented on #208
Hey @Astrodevil I'm GSSoC participant and I would like to work on this issue. Please assign me this issue.

[2021-03-19 16:48] cryptofox17 opened #213 "Styling the button on DSA.html"
## Is your feature request related to a problem?

No. It's not necessarily problem. The button on DSA.html is too basic and doesn't match the theme of the website.

## **Describe the solution you'd like**

With just a few css styling it can be stylized without using bootstrap or any other libraries.

Please assign this issue to me

[2021-03-19 17:12] lipsa199 opened #214 "adding navbar in practicedsa.html page"
Hey **There is no navbar in practicedsa.html page ,if some one wants to return to home page then he/she have to click the back button so if you want to add the navbar in practicedsa.html then i can help with that one .please consider me as a partcipant of Gssoc21  **

![IMG_20210319_221033](https://user-images.githubusercontent.com/76063097/111817367-f1d35c00-8903-11eb-8aff-68e030fbc055.jpg)

[2021-03-19 17:17] #47 closed

[2021-03-19 17:29] Shruti3004 opened #215 "Change the colour of scroll bar"

[2021-03-19 17:37] #199 closed

[2021-03-19 17:39] surajbugade commented on #199
Closed the issue as the changes were reverted.

[2021-03-19 17:43] harikesh409 commented on #213
GO ahead @cryptofox17. If you can even change the hyperlink to index.html instead of goback script.

[2021-03-19 17:46] cryptofox17 commented on #213
Thank you for assigning!

[2021-03-19 17:48] harikesh409 commented on #18
The contact link is correctly pointed to the footer only.

[2021-03-19 17:48] #18 closed

[2021-03-19 17:52] satcasm commented on #204
@Shruti3004 can I start working on it?

[2021-03-19 17:57] #173 closed

[2021-03-19 18:00] mohammedjameel24 commented on #32
please assign me this issue

[2021-03-19 18:06] AshuKV commented on #215
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-19 18:22] AshuKV commented on #208
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-19 20:28] ravikr126 commented on #90
you both can work now @osamamagdy @amrzaki2000

[2021-03-20 05:28] abstrxtInfinity commented on #213
@harikesh409 I would like to point out that this is a duplicate issue as I have been working on this one and have staged the changes for review as well. pr: #185
issue numbers: #180 #183

[2021-03-20 05:30] abstrxtInfinity commented on #147
I have completed the task and have staged the changes for review, PR - #185

[2021-03-20 06:35] cryptofox17 commented on #213
@abstrxtInfinity I saw the issue but since it didn't have a level tag I thought it wasn't assigned, I apologise for the same.

@harikesh409 do you think I could just remove the goback script and simply change the hyperlink to index.html page and make some enhancements (if necessary) for this issue?

[2021-03-20 06:53] harikesh409 commented on #213
@cryptofox17 yes just simply change the hyperlink.

[2021-03-20 09:34] Shruti3004 commented on #215
go ahead @AshuKV please make the scroll bar of that gradient which looks subtle with our landing page

[2021-03-20 10:54] shahbazalam07 commented on #215
i also want to work on this issue

[2021-03-20 16:49] bitaashna opened #218 "Adding online compiler"
## **Is your feature request related to a problem? Please describe.**

- code's link can be shared so we can get advice to make appropriate changes .

## **Describe the solution you'd like**

- online compiler for various languages like Java, C++, Python, etc.
- a simple UI in order to store all your codes written in various languages easily at one place.
- You can share the codes' links that you

[2021-03-20 16:51] bitaashna commented on #218
@Shruti3004 @todi-2000 @rudrakshi99 @diyajaiswal11 Please assign me this issue.
I would like to work on it as a GSSOC'21 participant

[2021-03-20 17:54] lipsa199 commented on #214
@Shruti3004 can I work on this issue as a participant of gssoc21?

[2021-03-20 17:56] lipsa199 commented on #203
@Shruti3004  can I work on this issue as a participant of gssoc21?

[2021-03-20 18:16] 123mansha opened #219 "Validating the email in the team page"
In the team's contact us page the email field is not validating whether we entered a plaintext or an email i.e., A valid email must contain '@' symbol.
Here, in the below screenshot we can see that no error message is displayed even if we are entering a plain text in the email field.

![algofr](https://user-images.githubusercontent.com/59260493/111881390-3f1ffe00-89d6-11eb-99e6-2c42a2760448.jpg)

[2021-03-20 18:20] 123mansha commented on #219
@Shruti3004 kindly assign me this issue

[2021-03-21 05:43] preity-p commented on #208
Hi, could I please be assigned this issue as a GSSoC participant?

[2021-03-21 06:05] RahulBansal0502 commented on #175
I also want to work on the same issue.

[2021-03-21 07:12] harikesh409 commented on #214
Go ahead @lipsa199

[2021-03-21 07:17] harikesh409 commented on #218
Go ahead @bitaashna

[2021-03-21 07:27] gayatri517 opened #220 "Adding a project ideas section"
## Proposal

I want to add a project ideas section in the navbar "more" section. I will provide a link to a website that displays various project ideas for college students.

I want to work on this issue as a participant of GSSOC'21, please assign it to me.

[2021-03-21 08:25] lipsa199 commented on #203
@harikesh409 can i work on this as a participant of gssoc21?

[2021-03-21 10:37] sohini3062 opened #222 "Add a suggested Books for DSA webpage under More on nav bar"
## **Is your feature request related to a problem? Please describe.**
Along with tons of online material, learners often search for list of books on to get a clearer idea of DSA
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**
A specified page designated for a list of books.
- A clear and concise description of

[2021-03-21 12:14] ravikr126 commented on #222
YOU CAN WORK ON IT @sohini3062

[2021-03-21 14:07] #183 closed

[2021-03-21 15:12] RoliGautam commented on #220
hello, I want to contribute in this section . I can add a option in 'more' section. And in that page there will be a list of projects ideas for the students related to different tech slack like  web development, android, machine learning and python , java etc.
Can you assign for this issue as a participant of GSSOC'21.

[2021-03-22 04:26] Krishan-2000 commented on #115
@ravikr126  I have raised the pr #195 can you please review it. I have raised the pr 6 days ago.

[2021-03-22 05:04] Astrodevil commented on #208
This issue is not yet solved please assign to someone @ravikr126 @harikesh409

[2021-03-22 07:53] harikesh409 commented on #208
Go ahead @abhishek96k

[2021-03-22 08:19] harikesh409 commented on #219
Duplicate of #115

[2021-03-22 08:19] #219 closed

[2021-03-22 17:48] pallavi00021 commented on #214
can I work on this issue?? @harikesh409

[2021-03-22 17:50] harikesh409 commented on #214
@pallavi00021 it is already assigned to @lipsa199, if she is not working then you can work on it.

[2021-03-22 17:50] kumar-tushar opened #226 "FOOTER CONTENT must be in center for mobile view . Also overlapping FOOTER problem will be solved"
![Screenshot_2021-03-22-23-04-07-737_com android chrome](https://user-images.githubusercontent.com/56949668/112034918-06faf580-8b65-11eb-906f-10d7865b7c96.jpg)

[2021-03-22 17:58] kumar-tushar commented on #203
@Shruti3004
I have added an issue regarding the change of FOOTER CONTENT in CENTER (issue #226).
This will solve all problems.
So, I Can I work on this issue as a GSSOC 21 participant?

[2021-03-22 19:14] abhishek96k opened #228 "Click issue in Features section Our Team Page"
## **Describe the bug**
In the features section the lists are clickable even when cursor is far away.

## **Possible solution**

 I would like to work on this issue as part of GSSOC'21. Please assign me this issue.

## **Video**

https://user-images.githubusercontent.com/54280252/112045165-893ce700-8b70-11eb-9ea0-e2cd62e7f75f.mp4

[2021-03-22 19:47] cryptofox17 opened #229 "Adding a features Section below About Us section."
## **Is your feature request related to a problem? Please describe.**

This is not a major problem but it could improve the User experience. One of the main aspect of the website is that it provides a vast amount of problems to practice on and as well as a roadmap.
However both of these are present not being highlighted as they are only are situated in the footer and the "More" section in the navb

[2021-03-22 20:57] kumar-tushar opened #230 "Query Section or page where users can post their queries"
There must be some Query Section or a separate webpage for that where users can ask their queries related to DSA and they can get a reply through email

[2021-03-22 21:07] kumar-tushar commented on #191
@shruti3004 @harikesh409  Can I work on this and related issues.
I want to resolve all the errors that are shown by Webstorm IDE by Jetbrains.

[2021-03-23 04:02] abstrxtInfinity commented on #230
I guess we can take a .txt file input of their question

[2021-03-23 04:39] sandra9711 commented on #29
I would like to contribute to this issue as a gssoc'21 participant. Kindly assign this to me.

[2021-03-23 05:02] alkatrivedi opened #231 "Margin in DSA Practice page and missing go back button"
## **Describe the bug**

- There is a margin on the right side of the practice problem sheet on the DSA problem page. Also, there is no navbar or any go back button on this page which leaves a bad impact if a user wants to go back on any other page of the website.

## **Possible solution**

- The DSA problem sheet should not have any margin on the left or right side so I am thinking of removing th

[2021-03-23 05:18] bitaashna commented on #218
@harikesh! should i embed separate compiler for each language as I am not able to merge them in one

[2021-03-23 05:25] harikesh409 commented on #218
It will not look nice having separate compiler for each language, we need a dropdown with the list of languages. How are you building the compiler?

[2021-03-23 05:28] bitaashna commented on #218
I am trying to embed it from different website.

[2021-03-23 05:32] #120 closed

[2021-03-23 05:38] bitaashna commented on #218
@harikesh409 Should I build it from scratch?

[2021-03-23 05:40] #121 closed

[2021-03-23 05:47] #115 closed

[2021-03-23 06:11] harikesh409 commented on #218
There are third party APIs you can use, all you need to do is to design the UI part and use AJAX calls to communicate to the site. No need to build the compiler from scratch.

Refs:
https://www.jdoodle.com/compiler-api/
https://www.hackerearth.com/docs/wiki/developers/v3/

[2021-03-23 06:21] harikesh409 commented on #226
Duplicate of #179

[2021-03-23 06:21] #226 closed

[2021-03-23 06:23] harikesh409 commented on #203
The issue is similar to #179 if it is not resolved in that then you can work on it.

[2021-03-23 06:25] harikesh409 commented on #231
Duplicate of #214

[2021-03-23 06:25] #231 closed

[2021-03-23 06:27] #29 closed

[2021-03-23 06:32] harikesh409 commented on #228
Duplicate of #208

[2021-03-23 06:50] bitaashna commented on #218
@harikesh409 ok got it!
Thanks:)

[2021-03-23 06:57] alkatrivedi commented on #231
I apologize for my mistake.

[2021-03-23 07:40] simranbhalla3 commented on #229
Hi i am a gssoc participant , can i work on this issue?

[2021-03-23 07:41] simranbhalla3 commented on #215
Hi i am a gssoc participant , can i work on this issue?

[2021-03-23 07:41] simranbhalla3 commented on #213
Hi i am a gssoc participant , can i work on this issue?

[2021-03-23 07:42] simranbhalla3 commented on #214
Could you please assign me with this issue?  I would love to work on it , I am a gssoc participant

[2021-03-23 07:45] simranbhalla3 commented on #207
Hi i am a gssoc participant , can i work on this issue?

[2021-03-23 07:45] simranbhalla3 commented on #204
could you please assign me this issue? I  am a gssoc participant

[2021-03-23 07:47] simranbhalla3 commented on #194
HII, can i work on this issue? I can make some changes in the nav bar by adding js and css

[2021-03-23 07:48] simranbhalla3 commented on #182
Hii Can i work on this issue? I can add animations like page loading and coming on the screen as we scroll down and many more , i m a gssoc participant @harikesh409

[2021-03-23 07:48] simranbhalla3 commented on #176
Hi i am a gssoc participant , can i work on this issue?

[2021-03-23 07:49] simranbhalla3 commented on #175
Hi i am a gssoc participant , can i work on this issue?

[2021-03-23 15:26] lipsa199 commented on #203
@harikesh409 ok sir

[2021-03-23 16:58] AyushPradhan9 opened #233 "Overlapping of icon and email input field on social-sidebar."
## **Describe the bug**

Overlapping of social-sidebar is creating a unpleasant UI experience. By putting social-sidebar we can fix it. Please assign it to me being a participant of GGSOC.

## **Possible solution**

Adding z-index to social-sidebar solves the problem.

## **Screenshots**

### Current website:-
![bandicam 2021-03-23 22-12-33-503](https://user-images.githubusercontent.com/52281409/1

[2021-03-23 17:24] agamjotsingh18 commented on #82
Hello , GSSoC participanr would love to take this issues , would you like to assign it to me ?

[2021-03-23 17:27] agamjotsingh18 commented on #191
Will you like to assign this issue to me ...Regards!

[2021-03-23 20:23] shitesh2607 commented on #13
I want to work on this issue as participant of gssoc21.

[2021-03-23 21:03] shitesh2607 commented on #13
@Shruti3004 pls review my pull request. so that I can close this issue.

[2021-03-23 21:21] shitesh2607 commented on #177
Hi @Shruti3004, Hitesh here I want work on this issue. So, can you plz assign it to me?
it will not take much time to complete.

[2021-03-24 03:54] SAHU-01 opened #236 "DSA.html does not provide image zoom in feature"
**## **Describe the bug****

On landing at the dsa.html page i.e. the roadmap, its merely a picture , with too many elements , if you intend to keep that image then a zoom into and zoom out of the picture option or feature needs to be added so that its more attractive and legible for users to understand.

**- A clear and concise description of what the bug is.**

the DSA.html page simply contains

[2021-03-24 04:38] 123mansha opened #237 "Changed the alignment of social buttons"
The social buttons were aligned horizontally .

_**Changes done**_

-  Aligned the social buttons vertically.
- Social buttons have appropriate required margins.

_**Before**_

![Screenshot (4)](https://user-images.githubusercontent.com/59260493/112255478-49692300-8c88-11eb-9574-a7b18f6ed1a2.png)

_**After**_

![Screenshot 2021-03-24 095740](https://user-images.githubusercontent.com/59260493/11225

[2021-03-24 05:27] tanishq-arya commented on #211
Repeated issue #191

[2021-03-24 05:49] harikesh409 commented on #211
Duplicate of #191

[2021-03-24 05:49] #211 closed

[2021-03-24 05:51] harikesh409 commented on #237
The buttons look much better horizontally why to change them to a vertical layout?

[2021-03-24 05:51] harikesh409 commented on #191
Go ahead @tanishq-arya

[2021-03-24 05:57] harikesh409 commented on #236
![image](https://user-images.githubusercontent.com/3501554/112262505-c51c9d00-8c93-11eb-84cd-d7c5e74c1e9f.png)
On the bottom right there are already + and - buttons to zoom in and zoom out.

[2021-03-24 05:57] #236 closed

[2021-03-24 06:03] harikesh409 commented on #177
Go ahead @saswatsam786

[2021-03-24 06:30] harikesh409 commented on #82
The issue is already fixed.
![image](https://user-images.githubusercontent.com/3501554/112265481-91904180-8c98-11eb-8e29-e3c5bd65e1ba.png)

[2021-03-24 06:30] #82 closed

[2021-03-24 06:33] harikesh409 commented on #233
Duplicate of #179

[2021-03-24 06:33] #233 closed

[2021-03-24 06:41] AyushPradhan9 commented on #179
The overlapping issue is still not solved, I can solve it if assigned to me. Thanks!

[2021-03-24 06:43] abstrxtInfinity commented on #179
The changes have been staged and the pr is under review.

[2021-03-24 06:57] harikesh409 commented on #231
Not a problem

[2021-03-24 07:34] harikesh409 commented on #207
@shonali2600 can you mention which browser and os you are using to replicate the issue.

[2021-03-24 08:02] shonali2600 commented on #207
@harikesh409 sir, I am using google chrome in windows10, but while opening on opera browser this issue comes, so I made a change to the file so that it'll work on all the browser.

[2021-03-24 08:02] 123mansha commented on #237
The **Useful Links** column and the **Features** column were vertically aligned so I thought that aligning the social buttons vertically would look better.
But if it looks better in horizontal alignment, we can keep them horizontally aligned.

[2021-03-24 08:19] tanishq-arya commented on #191
@harikesh409 You can check my PR #239

[2021-03-24 10:32] harikesh409 commented on #237
In general social icons will be horizontal only no need to change them to vertical alignment.

[2021-03-24 10:32] #237 closed

[2021-03-24 10:35] harikesh409 commented on #213
@simranbhalla3 Already this issue is being worked by @cryptofox17, you can choose some other issue.

[2021-03-24 10:35] arpit456jain opened #240 "Gssoc'21 Bug in Home Page"
## **Describe the bug**
There is a bug in the code because of which in phone view the about us heading is collapsing with social-sidebar.
I am attaching a video for better understanding of my issue.

https://user-images.githubusercontent.com/55352601/112296157-a4b40900-8cba-11eb-87b4-79b082f7adbe.mp4

## **Possible solution**
I have to check the code If it assign to me

[2021-03-24 10:39] harikesh409 commented on #240
Duplicate of #179

[2021-03-24 10:39] #240 closed

[2021-03-24 10:42] harikesh409 commented on #229
Go ahead @cryptofox17

[2021-03-24 11:10] harikesh409 commented on #204
@satcasm you can work on it

[2021-03-24 11:13] harikesh409 commented on #202
As of now there is no functionality for the contact us button once it is added then you can add an alert message.

[2021-03-24 11:15] harikesh409 commented on #51
@padmajabhol and @shubhraagarwal what is the progress of the form as it is already been a week?

[2021-03-24 11:17] harikesh409 commented on #197
@Adityakarthik18 can you elaborate a bit more?

[2021-03-24 11:19] harikesh409 commented on #188
What are you planning to do @harshb02 ?

[2021-03-24 11:25] harikesh409 commented on #175
In #122 the about us section is being modified and with this new change the white background is looking fine only.

[2021-03-24 11:53] agamjotsingh18 commented on #175
would you like to assign this issue to me ? Regards!

[2021-03-24 12:05] RahulBansal0502 commented on #230
Yes, I am also thinking the same. I want to revamp the footer. I want to make the contact us section separately where one can fillup of the form for suggestions and for queries or any message he/she wants to convey?

I wanted to make it like the below image.
![image](https://user-images.githubusercontent.com/56486309/112307753-56593700-8cc7-11eb-805c-fcb15dccb5d0.png)

[2021-03-24 16:54] satcasm opened #242 "Links are directing back to homepage"
The social media icons used in the home page are redirecting back to the homepage as of now.
I think if appropriate end points are not available currently then these icons should be removed from the home page or if they are available I would like to add them.
Would like to work on it under GSSOC' 21.

[2021-03-24 18:17] SrishtiSingh2001 opened #243 "Add Disjoint Set Data Structure topic in Complete DSA Guide"
## Proposal

(A clear and concise description of what the proposal is.)
In Complete RoadMap to DSA, under the section Topics, Disjoint Data Strucrure is not mentioned. It is an important topic and needs to come in the eye of learners so that they can get familiar with it.

I want to work on this issue under GSSOC21. Kindly assign it to me.

[2021-03-24 19:18] rupal121 opened #244 "Want to add link to new page where good free courses related to DSA are available."
## **Is your feature request related to a problem? Please describe.**

- No it's not related to the problem. I want to add a new feature to this web app.

## **Describe the solution you'd like**

- I want to add a link in the footer which redirects to a new page where all the good free courses related to DSA and Development links are available. This will help students to get the idea of good free

[2021-03-24 19:42] Ratnesh4193 opened #245 "Adding FAQ page"
## **Adding a page containing frequently asked questions **

This will improve the visitors experience.
kindly assign me this issue @harikesh409 .I am a gssoc 2021 participant.

[2021-03-25 06:50] somya51p opened #246 "Making Image on DSA.html page responsive"
## **Describe the bug**

The image on the DSA.html page is not responsive.

## **Possible solution**

I wish to make the image responsive so that it fits screens of all sizes.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![1](https://user-images.githubusercontent.com/64978837/112430643-a94ce180-8cfb-11eb-8083-7bdee46d51ec.PNG)

[2021-03-25 06:50] arpit456jain commented on #245
@Ratnesh4193  sir I am a Gssoc'21 participant I want to work on this issue. Kindy assign it to me.

[2021-03-25 06:55] ANSHIKA1806 opened #247 "Update README file"
@todi-2000 @Shruti3004 @ravikr126 @harikesh409 @Adyasha8105
README is the first file one should read when starting a new project. It's a set of useful information about a project, and a kind of manual. A README text file appears in many various places and refers not only to programming. So i want to make your README file more meaningful and more easier to understand the whole project.

[2021-03-25 06:58] somya51p opened #248 "Enhancing the Contact Us section"
## **Is your feature request related to a problem? Please describe.**

-We have a section for email entry only, there should also be a text-area for the users to write messages they wish to send.

## **Describe the solution you'd like**

-Making a text-box for users to write their messages, and also displaying an alert whenever the user clicks the 'Contact Us' button.

I wish to contribute to this

[2021-03-25 06:58] ANSHIKA1806 commented on #247
@todi-2000 @Shruti3004 @ravikr126 @harikesh409 @Adyasha8105
please assign this task to me ,I would love to contribute in your organization .
thank you

[2021-03-25 07:10] ravikr126 commented on #247
You can work now @ANSHIKA1806

[2021-03-25 07:15] ANSHIKA1806 commented on #247
@ravikr126  thank you so much sir .

[2021-03-25 08:00] aanchal-fatwani opened #249 "Sidebar link does not redirect to Github"
ISSUE DETAILS
Currently, the sidebar link for Github does not redirect to the link of the organization's Github.
It should be redirected to a valid Github link similar to the Follow tabs of the footer section.

[2021-03-25 08:00] aanchal-fatwani commented on #249
Hey @ravikr126, @harikesh409, I am a GSSOC 2021 participant. I would like to work on the issue.
Could you please update the issue with relevant tags and assign the same?

[2021-03-25 11:45] ravikr126 commented on #248
already raised issue @somya51p

[2021-03-25 11:45] #248 closed

[2021-03-25 11:47] ravikr126 commented on #245
I don't this is much relevant for this website .you can work on a different issue.

[2021-03-25 11:47] #245 closed

[2021-03-25 11:52] ravikr126 commented on #246
1st this is not an image.
2nd .it is responsive.
I don't this it needed any enhancement and someone already raises this issue so I closed this issue.please raise relevant issue and don't raise duplicate also

[2021-03-25 11:52] #246 closed

[2021-03-25 11:55] ravikr126 commented on #218
in the footer section there is code editor .you can change with your compiler @bitaashna

[2021-03-25 11:57] ravikr126 commented on #243
Under roadmap to dsa ,every data structure is mention .you can check it.if you feel you can add some new one then you can work on it

[2021-03-25 12:01] #243 closed

[2021-03-25 12:03] ravikr126 commented on #242
don't worry about that link will be added in the future .so you can work on different issues .till now there is no social media page available for algo phantom

[2021-03-25 12:03] #242 closed

[2021-03-25 12:05] ravikr126 commented on #244
you can work but first, you need to show me your suggested page then our team will be verified then it will merge so add relevant source and you can msg on the discord server also

[2021-03-25 12:07] ravikr126 commented on #23
are you work on it or not @WaderManasi ???

[2021-03-25 12:08] ravikr126 commented on #230
this is dublicate issue .same issue is  issue#51

[2021-03-25 12:08] #230 closed

[2021-03-25 12:10] RahulBansal0502 commented on #51
I want to work on this issue. Please assign it to me as a GSSOC participant.

[2021-03-25 12:11] ravikr126 commented on #80
what is the progress of quiz @poojitha2002 ???

[2021-03-25 12:14] ravikr126 commented on #77
you can work on iot @Manish-kasera

[2021-03-25 12:14] #77 closed

[2021-03-25 12:15] ravikr126 commented on #79
what sliding image you add @poojitha2002 ???

[2021-03-25 12:16] ravikr126 commented on #73
ok @shalmoly79 you can work and also check all the grammar mistakes in this website

[2021-03-25 12:17] RahulBansal0502 commented on #193
I am also want to work on this issue please assign it to me as a GSSOC participant.

[2021-03-25 12:18] ravikr126 commented on #71
are you completed @mridulabatra    ???

[2021-03-25 12:18] ravikr126 commented on #69
are you completed @Mrinal81 ???

[2021-03-25 12:20] ravikr126 commented on #65
are you completed this isssue @bug-debug-done ???

[2021-03-25 12:21] ravikr126 commented on #64
you like to work on it or not @bug-debug-done ???
so tell me how you are planning to solve it, can you share a glimpse of it???

[2021-03-25 12:23] ravikr126 commented on #60
someone did this issue.

[2021-03-25 12:23] #60 closed

[2021-03-25 12:23] ravikr126 commented on #55
any progress @debjani1413 ???

[2021-03-25 12:25] ravikr126 commented on #52
noo need someone already did it

[2021-03-25 12:25] #52 closed

[2021-03-25 12:26] ravikr126 commented on #51
@padmajabhol and @shubhraagarwal completed ????

[2021-03-25 12:27] ravikr126 commented on #51
if anyone not working on it then next participant will assign

[2021-03-25 12:28] ravikr126 commented on #37
any progress @javpintos ????

[2021-03-25 12:29] RahulBansal0502 opened #250 "Revamp Team page"
@ravikr126 @harikesh409 I wanted to merge the teams' page section with the home page like the About us section. As it's looking weird if all the sections open up on the same page and the teams page opens up separately. Please assign this issue to me as a GSSOC participant.

[2021-03-25 12:29] ravikr126 commented on #34
this issue is not for GSSOC standard.

[2021-03-25 12:29] #34 closed

[2021-03-25 12:30] bug-debug-done commented on #65
@ravikr126  Yes, I have compleated  I'll  make a pull request tonight.

[2021-03-25 12:30] ravikr126 commented on #33
what is your progress @maneprajakta ???

[2021-03-25 12:31] ravikr126 commented on #32
pull request number??

[2021-03-25 12:32] ravikr126 commented on #176
someone already raise this issue before

[2021-03-25 12:32] #176 closed

[2021-03-25 12:33] #175 closed

[2021-03-25 12:36] ravikr126 commented on #164
there is no social media page of algo phantom and someone already raise this issue before. @surbhi594 you can work on a different issue

[2021-03-25 12:36] #164 closed

[2021-03-25 12:40] RahulBansal0502 commented on #143
@harikesh409 @ravikr126 I also want to work on this issue. Please assign it to me.

[2021-03-25 12:40] ravikr126 commented on #143
this is duplicate issue

[2021-03-25 12:40] #143 closed

[2021-03-25 12:41] ravikr126 commented on #95
any progress @WebVishal ???

[2021-03-25 12:42] ravikr126 commented on #86
can you elaborate this file issue ??? @Sloth-Panda

[2021-03-25 12:44] satyampandeygit commented on #25
@Shruti3004 this is resolved I think as all the links are working correctly you may close this issue, if anything is left to be done kindly point out I will try to do that.

[2021-03-25 12:44] ravikr126 commented on #179
any progress @abstrxtInfinity ???

[2021-03-25 12:45] RahulBansal0502 commented on #101
@harikesh409 @ravikr126 I want to work on this issue. Please assign it to me.

[2021-03-25 12:45] ravikr126 commented on #182
are you like to work on it or not @VishwaRaj-21 ???????

[2021-03-25 12:47] #86 closed

[2021-03-25 12:48] ravikr126 opened #251 "MAKE navbar more align"
## **Describe the bug**

- see the
Home(current)
About
Team
Contact
More
Are in the center.

## **Possible solution**

- make it on the right side of the navbar

[2021-03-25 12:59] ravikr126 commented on #101
any progress @sakshigoel19
if you are not do this then i will assign to @RahulBansal0502

[2021-03-25 13:01] ravikr126 commented on #190
you can work on this @ShambhaviSharma0110

[2021-03-25 13:03] RahulBansal0502 opened #252 "Revamp DSA Problems Page"
@harikesh409 @ravikr126 I want to revamp DSA Problems Page. It's so simple in comparison to all the pages. Please assign it to me.

[2021-03-25 13:04] RahulBansal0502 commented on #251
Assign it to me. I want to work on this issue.

[2021-03-25 13:04] saaiswetha commented on #32
#48

[2021-03-25 13:05] saaiswetha commented on #32
#48

[2021-03-25 13:07] sakshigoel19 commented on #101
@ravikr126 I am having my college exams. I will solve this issue by tomorrow. Please do not unassign me. I am really sorry for the delay.

[2021-03-25 13:10] ravikr126 commented on #101
Ok no problem .If any issue you faced then msg in comment section or discord server

[2021-03-25 13:10] Abhishekkr93 commented on #51
I would like to contribute as a Gssoc21 participant. could you please assign me this?

[2021-03-25 13:11] Abhishekkr93 commented on #220
I would like to contribute as a Gssoc21 participant in this project. could you please assign me this?

[2021-03-25 13:12] Abhishekkr93 commented on #188
I would like to contribute as a Gssoc21 participant in this project. could you please assign me this?

[2021-03-25 13:16] Abhishekkr93 commented on #251
I would like to contribute as a Gssoc21 participant in this project. could you please assign me this? i can fix this.

[2021-03-25 13:27] poojitha2002 commented on #80
I am working on it..I will share github link by tomorrow

On Thu, 25 Mar 2021 at 17:42, Ravi Kumar ***@***.***> wrote:

[2021-03-25 14:15] bitaashna commented on #218
@harikesh409 I don't know why its not working on clicking on compile button .
It's showing an error .Please guide me.
![Screenshot from 2021-03-25 19-44-59](https://user-images.githubusercontent.com/57864526/112487310-a22cde80-8da2-11eb-90f1-3fd5a1e6ad2b.png)
![Screenshot from 2021-03-25 19-27-06](https://user-images.githubusercontent.com/57864526/112487335-a5c06580-8da2-11eb-93f0-c633a1492ede.png

[2021-03-25 14:17] ShambhaviSharma0110 commented on #190
thank you I will start working on it and update tomorrow!

[2021-03-25 14:24] cryptofox17 commented on #229
@harikesh409 thank you for assigning!
I wanted to ask this : my PR has been approved but it hasn't been merged yet, so should I work on this issue after it gets merged?

[2021-03-25 14:43] Rajashri14 commented on #251
I want to work on this issue. Please assign this issue to me.
This regarding GSSOC'21.

[2021-03-25 14:52] debjani1413 commented on #55
Hello, @ravikr126, the work is done, just trying to figure out where to put the search-icon so that it looks appealing! I Will upload it
in a day or two.

[2021-03-25 15:07] #25 closed

[2021-03-25 15:15] abstrxtInfinity commented on #179
#185 has been pushed for review **8 Days** Before.

[2021-03-25 15:55] WaderManasi commented on #23
Yes I had commited to the branch

[2021-03-25 15:56] WaderManasi commented on #23
Kindly let me know if still there is improvement needed.

[2021-03-25 16:49] maneprajakta commented on #33
@ravikr126 I had made PR for this #36 . It's merged you can close this issue

[2021-03-25 16:50] #33 closed

[2021-03-25 17:05] Muskan-creator opened #253 "hover effect in follow us section"
In follow us section, there are social media icons .I want to add hover effect in icons that gives a smooth interactivity and also in html file there are inline css used I want to change them to external css in  style/css file as it is a good practice so that icons could load faster .
Please assign this issue to me

[2021-03-25 17:45] Ratnesh4193 commented on #244
I want to work on this issue .
PLEASE ASSIGN THIS ISSUE TO ME @ravikr126

[2021-03-25 17:47] ravikr126 commented on #244
We work on First come first serve @Ratnesh4193 if she didn't like to work then I will assign you.

[2021-03-25 18:07] mridulabatra commented on #71
yes sir I have made the pull request please check sorry for the delay @ravikr126

[2021-03-25 18:49] mirakiii commented on #193
I have completed the work if you guys allow me to send my pr I may send the pr on this issue as soon as you make me assignee :)
Thankyou.

[2021-03-26 03:20] AyushPradhan9 opened #255 "Improve alignment of navbar in responsive and normal view"
## Proposal
I would like to improve the alignment of whole navbar by improving it with bootstrap and making it more symmetrical and aesthetic while in dropdown or in large screens.

## Screenshots
Notice that left side is much to the left and right side is almost in the center making it asymmetrical.
![bandicam 2021-03-26 08-43-14-513](https://user-images.githubusercontent.com/52281409/112572374-1

[2021-03-26 05:08] Muskan-creator opened #256 "bug in practice dsa sheet"
In practice sheet  there is no go back button showing but there is function for that .I want to make styling  go back button for that so that we does not have to close window again and again.Other option is that I can create a new tab for that so that my home page remains in window and I can shift to both.
Please assign this issue to me as a part of gssoc contribution.
Thankyou

[2021-03-26 05:20] nasir-khan01 opened #257 "Open source contribution feature"
**Why this feature is required ?**
This feature will help the open source contributors to browse the projects of Algo phantoms directly from features section. This will greatly help  Those students who not only wants to improve their DSA skills but also want to contribute to the project.

HI, I am a GSSOC21 Participant and i have already implemented this feature in my local machine  , Please assig

[2021-03-26 09:00] ShambhaviSharma0110 commented on #190
hello! I've added it and have created a pr.

[2021-03-26 12:44] debjani1413 commented on #55
Hello, I've created a pull request for this issue, do check and let me know if there is anything else I need to change!

[2021-03-26 13:19] Muskan-creator opened #260 "dropdown menu styling in more section"
## **Is your feature request related to a problem? Please describe.**

The problem is that current  dropdown menu in more section is very simple and not with matching with website theme .

## **Describe the solution you'd like**

-We can add animations and hover effect in  buttons or text which changes when clicked and also matched with UI of website
![algophantoms](https://user-images.githubuserc

[2021-03-26 13:21] Muskan-creator commented on #260
I have made changes in my local machine .Please assign it to me so that I can proceed and make a PR .

[2021-03-26 13:26] atharva21-stack opened #261 "Repository missing community guidelines for contribution"
## Proposal

Add a contribution guideline for the project
![Untitled](https://user-images.githubusercontent.com/70438130/112638105-e385c280-8e64-11eb-9356-eadde0094c96.png)

[2021-03-26 13:38] atharva21-stack commented on #261
I would like to work on this issue.

[2021-03-26 14:03] prayas7102 commented on #251
I want to work on this issue. Please assign this issue to me.

[2021-03-26 17:15] #261 closed

[2021-03-26 17:16] #207 closed

[2021-03-26 17:18] #215 closed

[2021-03-26 17:22] ravikr126 commented on #251
ok @RahulBansal0502 you can start now

[2021-03-26 17:24] ravikr126 commented on #247
hii @ANSHIKA1806 there is some issue that no one can change readme file .So i can't merge you pull request

[2021-03-26 17:24] #247 closed

[2021-03-26 17:26] RahulBansal0502 commented on #251
ok

[2021-03-26 17:56] raks924 commented on #31
@Shruti3004 can i work on it?

[2021-03-27 02:41] Ratnesh4193 commented on #244
Can we work on this together?@ravikr126

[2021-03-27 03:13] Ankita297 commented on #188
Can i work on this ?

[2021-03-27 03:14] Ankita297 commented on #188
we can add svg icon or any image .

[2021-03-27 06:57] #62 closed

[2021-03-27 07:35] harikesh409 commented on #188
there is already the algo phantoms logo and social media icons what other icons or image you want to add?

[2021-03-27 07:47] harikesh409 commented on #31
It is already being worked in #46 by @maanpatel2492, @raks924 you can work on some other issue.

[2021-03-27 07:52] harikesh409 commented on #260
@Muskan-creator can you post some screenshots to show what kind of effects you added. The page already became slow so we don't want any kind of unnecessary load which might increate the weight of the page.

[2021-03-27 07:55] harikesh409 commented on #55
@debjani1413
What is the functionality for the search bar?

[2021-03-27 08:10] harikesh409 commented on #253
Go ahead @malavikarajeshvikraman

[2021-03-27 08:28] harikesh409 commented on #249
Duplicate of #242

[2021-03-27 08:28] #249 closed

[2021-03-27 08:29] harikesh409 commented on #229
Once all the reviewers approve the PR it will be merged, you can start working on the issues parallelly.

[2021-03-27 08:34] harikesh409 commented on #218
Most of the sites block requests from no origin headers for security reasons. Try running the site on a local server so an origin will be sent to the API and make sure in your ajax calls the `crossDomain` is true.

Ref:
https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS
https://medium.com/@baphemot/understanding-cors-18ad6b478e2b
https://zinoui.com/blog/cross-domain-ajax-request

[2021-03-27 08:36] harikesh409 commented on #252
Already changes are being done in #185

[2021-03-27 08:36] #252 closed

[2021-03-27 08:39] harikesh409 commented on #255
Duplicate of #251

[2021-03-27 08:39] #255 closed

[2021-03-27 08:40] harikesh409 commented on #193
As mentioned by the project admins we should not update the `README.MD` file.

[2021-03-27 08:40] #193 closed

[2021-03-27 08:41] harikesh409 commented on #106
Duplicate of #71

[2021-03-27 08:41] #106 closed

[2021-03-27 10:58] Muskan-creator commented on #260
https://user-images.githubusercontent.com/59757988/112718479-518bc180-8f19-11eb-80b6-07a651740596.mp4

[2021-03-27 12:28] Muskan-creator commented on #260
Can i work on this @harikesh409 ?

[2021-03-27 14:04] tier3guy opened #269 "DSA Practice Sheet"
The practice page only includes Babbar's 450 question and even than that  the UI is not so good . I  made changes on my local machine improved the UI of the page and added more resource to practice DSA .
These are the changes that I made :

![2021-03-27 (2)](https://user-images.githubusercontent.com/73595465/112723158-3168fc00-8f33-11eb-9593-826e44189675.png)
![2021-03-27 (3)](https://user-images.

[2021-03-27 14:24] Mrinal81 commented on #69
Yes @ravikr126

[2021-03-27 14:59] RubenFalcao14 opened #270 "The loading feature that comes when you are opening the website."
## Proposal

(A clear and concise description of what the proposal is.)
I believe the loading feature is a little too long which might make people think that their net is slow . I believe we should make the loading feature a bit short.

[2021-03-27 15:00] RubenFalcao14 commented on #270
I'm a GSSOC'21 participate and would love to work on the issue.
Thank You

[2021-03-27 15:10] RubenFalcao14 commented on #270
Sorry I thought the loading feature had a timer that's why I thought it was displaying the loading feature for a long time , the second time I opened it opened quickly. Sorry for the trouble.

[2021-03-27 15:10] #270 closed

[2021-03-27 16:51] frappelatte28 commented on #13
Hey, @shitesh2607 I am not a mentor here! I only reported the issue. You should tag @Shruti3004, I guess she can help. But yeah I saw your commit and I think it should work fine.

[2021-03-27 18:21] padmajabhol commented on #51
I am working on it. Will send pr.

[2021-03-27 18:54] harikesh409 commented on #269
The style is already being changed in #185. If you want you can add the additional questions.

[2021-03-27 19:02] Sonaljain6431 commented on #182
Hey @VishwaRaj-21! I am interested to work on this issue. Would you like to assign it to me?

[2021-03-27 19:36] padmajabhol commented on #51
I thought the other person was about to work on it too as you assigned both of us, sorry if there was any misunderstanding. I have sent the PR, do review it.

[2021-03-28 06:02] harikesh409 commented on #260
Yes go ahead.

[2021-03-28 11:16] ravikr126 commented on #269
Someone already work on this issue and also.adding new questions.so.it not possible for any mentors to assigned this issues to you @tier3guy .So you can work on different areas of this project.

[2021-03-28 11:16] #269 closed

[2021-03-28 11:18] ravikr126 commented on #257
Someone already raised issue on this.
You can work on different issues @nasir-khan01

[2021-03-28 11:18] #257 closed

[2021-03-28 11:20] ravikr126 commented on #256
Someone already raise this issue .Please don't raise duplicate issues . @Muskan-creator .You van work on different issues also

[2021-03-28 11:20] #256 closed

[2021-03-28 11:40] pragati-kumar commented on #202
Hello @harikesh409. I'm a GSSOC'21 participant and I would really like to contribute to this project. Please consider me for assigning this issue.

[2021-03-28 11:43] pragati-kumar commented on #188
Hello @harikesh409 . I'm a GSSOC'21 participant and I believe that I could help with this issue. We could add a carousel introducing the team behind this idea. A dual theme button could also be introduced for the about us section (dark and light- will use javascript).

[2021-03-28 12:37] tier3guy commented on #269
Okay sir

[2021-03-28 13:14] harshb02 commented on #188
I want to make the about us section a little more stylish and neat

[2021-03-28 14:23] harshb02 opened #276 "Adding a marquee above the about us section"
We can add a marquee above the about us section which will display the latest news or updates we have in our website. It would be useful for displaying information

[2021-03-28 14:56] harikesh409 commented on #276
We will see this in future, just don't want to put more load on the website as of now.

[2021-03-28 14:57] harikesh409 commented on #188
It is looking quite clean and classy as of now. If you want to make it more stylish what kind of styles are you planning to do on it.

[2021-03-28 15:30] #213 closed

[2021-03-28 15:43] harikesh409 commented on #69
I think on adding this we can remove the team.html page all together as it is an repetition.

[2021-03-28 16:25] tier3guy opened #277 "Tilt jquery not Working"
In team.html file Tilt effect is not working for "TARUN YADAV" 's card.

[2021-03-28 16:27] harikesh409 commented on #277
It is working for me can you tell me under which OS and browser did you check?

[2021-03-28 16:28] mdshahansha commented on #194
hey im GGsoc21 participant
assign this pr to me
so i can work on it and add some page
that enhances the user to use more

[2021-03-28 16:32] tier3guy opened #278 "SiteMap Enhancement"
The site map of  the project is not so good looking . Even the arrows are not merging properly and in some places arrows defining the map are not present .

@harikesh409 , I want to fix this issue , please assign me this issue , so that I can proceed.

[2021-03-28 16:34] harikesh409 commented on #278
Go ahead @tier3guy

[2021-03-28 16:39] harikesh409 commented on #220
That's a nice idea both can work on it.

[2021-03-28 16:55] tier3guy commented on #277
Sir , I checked it in Brave Browser in Windows OS .

[2021-03-28 17:07] cryptofox17 opened #279 "Improving the UI of cards in teams page"
## Is your feature request related to a problem?

It is not problem, but the colors that are used for cards (just grey for the text)  in teams page doesn't appear striking as the contrast is too low. Even the icons are of the same color. The font size could also be increased for better readability.

## **Describe the solution you'd like**

Increasing the font size and using the the primary color o

[2021-03-28 19:10] ishwari20 opened #281 "Improving the UI of DSA Problems page"
## Proposal

The UI of the DSA problems page should be improved.  Currently, it just displays the excel sheet on the right side.  It can be aligned in the center and some components can be added on that page to make it attractive.

[2021-03-28 19:11] ishwari20 commented on #281
I would like to work on this issue. Please assign me with it.

[2021-03-28 20:05] shitesh2607 commented on #13
Thanks @frappelatte28.

[2021-03-29 04:31] harikesh409 commented on #250
Duplicate of #69

[2021-03-29 04:31] #250 closed

[2021-03-29 04:35] RahulBansal0502 commented on #69
@harikesh409 is this issue completed as @ravikr126 assigned me an issue which will be completed only after this.

[2021-03-29 05:40] #260 closed

[2021-03-29 05:42] #204 closed

[2021-03-29 07:25] #13 closed

[2021-03-29 08:21] ishwari20 commented on #281
@ravikr126 @harikesh409 Please assign it to me. I want to work on this issue. I have made changes in my local computer.

[2021-03-29 08:56] shruti-mayank opened #282 "No Linting rules present."
~~Uniformity in the indentation of the footer section along with the hover effects will make the footer section look more beautiful.~~

Linting rules can be used to maintain a standard indentation across the project.

[2021-03-29 09:57] cryptofox17 opened #283 "Adding Favicon to all pages and including an ico file"
## **Is your feature request related to a problem? Please describe.**

The favicon is not present on two pages namely DSA problems and Roadmap to DSA. This is because the link tag to display the favicon has not been added to these pages. Also, there is no .ico file present which is the recommended file type for most browsers to include favicon.

[Analysis of the issue](https://realfavicongenerator

[2021-03-29 11:07] padmajabhol commented on #214
I want to work on this.

[2021-03-29 11:27] harshb02 commented on #279
I would like to work on this issue

[2021-03-29 11:37] harikesh409 commented on #279
As @cryptofox17 raised the issue he will be given first priority, if he says it is okay for you to work I can assign it.

[2021-03-29 11:47] harikesh409 commented on #283
Go ahead @cryptofox17

[2021-03-29 11:58] satcasm opened #284 "Links missing on some problems"
In the DSA problems section some problems are missing their links.
Would like to add them under GSSOC' 21.
Thanks!

Screenshot Reference:
![image](https://user-images.githubusercontent.com/56315878/112833276-238eb480-90b4-11eb-92a9-f13bfba27ee6.png)
![image](https://user-images.githubusercontent.com/56315878/112833311-2ee1e000-90b4-11eb-8470-9e8dfa622de5.png)

[2021-03-29 12:17] cryptofox17 commented on #279
Ok, he can work on this issue as he wishes to @harikesh409

[2021-03-29 12:29] harikesh409 commented on #279
Go ahead @harshb02

[2021-03-29 13:16] sakshigoel19 commented on #101
https://user-images.githubusercontent.com/61665348/112842160-e67bef80-90be-11eb-87d9-31117d275714.mp4

Can you please review it that is it looking fine or some changes are needed? @ravikr126

[2021-03-29 13:58] Mrinal81 commented on #69
@harikesh409  can I remove the team.html ??

[2021-03-29 16:03] harikesh409 commented on #69
as of now don't remove the page. Why did you close the PR?

[2021-03-29 16:04] Mrinal81 commented on #69
By mistake

[2021-03-29 16:05] Mrinal81 commented on #69
I make pr #137

[2021-03-29 17:12] harshb02 commented on #279
Made the changes kindly review them @harikesh409

[2021-03-29 17:30] bajajanjana opened #287 "[navbar] Bouncing effect in navbar"
I m Gssoc'21 participant. I want to add an effective feature in navbar.
Explanation- On scrolling, the navbar will bounce upside and will disappear for a moment and then will be visible again.
I'll be doing this using javascript.
@Shruti3004  @harikesh409 @ravikr126 please assign this issue to me.

[2021-03-29 17:35] Shruti3004 commented on #287
Sure, go ahead @bajajanjana

[2021-03-29 18:17] kumar-tushar commented on #203
@harikesh409 The issue is still not resolved for mobile devices.
I want to make the text content of the footer in the center to solve the problem of overlapping.
Can I go ahead?

[2021-03-29 18:51] #208 closed

[2021-03-29 18:52] bajajanjana commented on #287
Thanks @Shruti3004

[2021-03-29 18:55] ravikr126 commented on #101
Looking great .Can you make little bit more smooth typing effect.if you can .@sakshigoel19

[2021-03-29 18:57] ravikr126 commented on #281
Hii @ishwari20 someone already work on it.so it hard for me to assign this issue to you.I like your interest toward this issues .May be you can collaborate with that person who work on this issue.

[2021-03-29 18:58] #281 closed

[2021-03-29 19:06] #23 closed

[2021-03-29 19:09] ravikr126 commented on #190
Pr number??

[2021-03-30 04:41] ishwari20 opened #288 "Close navbar when "About" section opens (in phone view)"
## **Is your feature request related to a problem? Please describe.**

- When we open the website on phone and in the navbar click on "About" it scrolls down but the navbar doesn't go away so it overlaps on some of the other elements.

## **Describe the solution you'd like**

- Make the navbar go away when clicked on the "About" section and scroll down to that section.

[2021-03-30 04:42] ishwari20 commented on #288
@ravikr126 @harikesh409 Please assign it to me. I want to work on this issue. I have made changes in my local computer.

[2021-03-30 05:32] sakshigoel19 commented on #101
Okay I will try

[2021-03-30 08:06] bajajanjana commented on #287
@Shruti3004 @harikesh409 @ravikr126 I have made PR #289 to solve this issue #287. Please review it.

[2021-03-30 08:24] sonalisonawane opened #291 "Adding animated social media icons in footer"
I can add animated social media icons in footer section

- social icons used to promote our work on social networks and get in return potential customers. So , I thought there should be something to make it attractive
- You can assign this issue under gssoc  label

[2021-03-30 09:24] ishwari20 opened #292 "Style the button on "Roadmap to your DSA" page"
## **Is your feature request related to a problem? Please describe.**

- The current button is very simple and doesn't go with the theme of the website

## **Describe the solution you'd like**

- Style the button according to the theme of the website

[2021-03-30 09:25] ishwari20 commented on #292
@Shruti3004 Please assign this issue to me. I want to work on it.

[2021-03-30 09:31] abhishek96k commented on #228
They are not a duplicate please check again

[2021-03-30 16:03] Ankita297 commented on #65
@ravikr126 can i work on this ?

[2021-03-30 17:26] Khushi-agarwal opened #295 "Enhancing the About us section"
Hello!
I am a Gssoc 2021 participant and would like to enhance the about us section by adding colors to the panel and also using different fonts.
So @harikesh409  can you please assign it to me.

[2021-03-30 17:32] Khushi-agarwal commented on #295
I can also add flip animation to it.

[2021-03-30 18:07] harikesh409 commented on #228
Okay the description and video are same so I marked as duplicate didn't notice that you were talking about the teams page.
Go ahead @abhishek96k

[2021-03-30 18:20] harikesh409 commented on #292
Duplicate of #185 #206

[2021-03-30 18:20] #292 closed

[2021-03-30 18:23] #251 closed

[2021-03-30 18:35] harikesh409 commented on #288
Go ahead @ishwari20

[2021-03-30 18:38] harikesh409 commented on #203
Already a PR #185 is present for it.

[2021-03-30 18:39] harikesh409 commented on #284
Go ahead @satcasm

[2021-03-30 18:54] #283 closed

[2021-03-31 09:14] #228 closed

[2021-03-31 09:23] harikesh409 commented on #69
@Mrinal81 Okay not a problem we will review the new PR.

[2021-03-31 09:32] harikesh409 commented on #214
It is already done and the PR #221 is being reviewed.

[2021-03-31 09:38] harikesh409 commented on #282
As many participants are new to open source and are participating simultaneously maintaining standard  indentations is difficult. A solution will be having Prettier and ESLint rules and performing an automated check on it. Tell us if you are interested in creating linting configurations, if not I will raise it in a new issue.
Hover effects are already being created in #253

[2021-03-31 10:36] Khushi-agarwal commented on #295
Okay.

[2021-03-31 10:41] Khushi-agarwal opened #304 "Changes in Meet our team section"
The meet our team section can be made more appealing by adding a little bit of flip card animation to it and also by adding a bright color to it.
So can I work on this issue.
Please @Shruti3004 @harikesh409 @ravikr126 assign it to me.

[2021-03-31 15:29] #253 closed

[2021-03-31 15:45] harshb02 commented on #304
I am already working on the meet our team sections and have made some changes in the section. So if you have any more idea we can work together on the section if you want @Khushi-agarwal

[2021-03-31 17:02] satcasm commented on #284
Hey @harikesh409 , can you tell me how do I make changes in the spreadsheet? I am not getting any option.

[2021-03-31 17:49] chait04 opened #307 "Add delay on Hover in Social media links"
When the user hovers on social media icons it should have some delay for animation
![Screenshot (229)](https://user-images.githubusercontent.com/59140343/113188280-76649980-9277-11eb-8bcd-ab182b1efa43.png)

<strong>Assign me this issue </strong>

[2021-03-31 18:10] shruti-mayank commented on #282
Yeah sure, I can work on linting configurations.

[2021-03-31 18:21] harikesh409 commented on #282
Go ahead @shruti-mayank

[2021-03-31 18:25] harshb02 commented on #304
Okay no problem.

[2021-03-31 18:32] harikesh409 commented on #304
@Khushi-agarwal as you are interested to work along with @harshb02 I will be assigning to the issue.

Closing this as it is a duplicate of #279

[2021-03-31 18:32] #304 closed

[2021-03-31 18:34] harikesh409 commented on #279
@Khushi-agarwal you can work along with @harshb02

[2021-03-31 18:44] shruti-mayank commented on #282
Okay, thank you

[2021-03-31 18:59] Khushi-agarwal commented on #279
Yes.

[2021-03-31 20:08] harshb02 commented on #279
Can you please ping me on discord Harsh(P) #8757 @Khushi-agarwal

[2021-04-01 05:39] 123mansha opened #309 "aligning the contents of navbar in the center"
## **Describe the bug**

- The links in the small and medium screen are on the extreme right of the page which does not look good.

## **Possible solution**

-The links can be aligned in the center.

## **Screenshots**

- **BEFORE**
![Screenshot (9)](https://user-images.githubusercontent.com/59260493/113248464-abee9e80-92da-11eb-97f7-5b1103256dc1.png)

**AFTER**
![Screenshot (10)](https://user-ima

[2021-04-01 10:52] tier3guy opened #311 "Follow us button"
@harikesh409 sir in the follow us button , the transition are too fast and its not looking good , can I work on that and enhance the transition effect .

please assign me this so that I can work on that.

[2021-04-01 11:12] tier3guy opened #312 "Social Media Tab"
@harikesh409  The social media tab section is hiding behind the logo in the footer section .

The  Issue
![2021-04-01 (2)](https://user-images.githubusercontent.com/73595465/113285885-18809200-9309-11eb-986a-212d67e22784.png)

Can you please guide that how can I fix this .

[2021-04-01 11:21] tier3guy opened #313 "Responsiveness for Mobile Phones"
@harikesh409 The design is responsive for tablet screen or above devices but not for the mobile phone devices or smaller screens . Please assign me this issue so that I can work on UI of the smaller devices .

issue :
![2021-04-01 (4)](https://user-images.githubusercontent.com/73595465/113286912-72358c00-930a-11eb-8726-7a2eef476362.png)

[2021-04-01 18:57] Khushi-agarwal commented on #279
@harikesh409 created a PR #314, kindly review it.

[2021-04-01 19:02] bug-debug-done commented on #65
Hey @ravikr126 please have a look at the pic do you want me to give even space between usefull links, features and follow us
![Screenshot from 2021-04-02 00-29-02](https://user-images.githubusercontent.com/75927761/113341510-dbd58a80-934a-11eb-9627-12ff9dad8fff.png)

[2021-04-01 19:26] bug-debug-done commented on #64
@Shruti3004 @ravikr126  sorry for the delay. I will reduce the video size and create another video which will be play backward .I will put both the video on loop one after another or can also combine the video and play that on loop.

[2021-04-02 03:42] Nirpendra09 opened #315 "Separate contact us page"
The contact option only has an email option. To increase the scope of contact we can implement a new contact us page where response can be sent through a FORM.
Also there will be social media handle links to contact on specific platform .
 And a bit of animation will make it more awesome.

Please assign me this issue.
 /assign

[2021-04-02 04:11] pro-vider opened #316 "Add a Footer"
## Proposal

Hii, I am a GSSOC'21 participant,I want to add a footer to this page connected with navbar.

[2021-04-02 05:35] ravikr126 commented on #64
can you show that video that you want to add? @bug-debug-done

[2021-04-02 05:40] ravikr126 commented on #315
someone already works on this issue @Nirpendra09 .i like your sprit but you need to choose new issue or create a new one on a different topic

[2021-04-02 05:40] #315 closed

[2021-04-02 06:17] harikesh409 commented on #316
@pro-vider To which page you want to add the footer?

[2021-04-02 06:24] bug-debug-done commented on #64
ok I'll send the video

[2021-04-02 06:29] harikesh409 commented on #313
There are already many issues related to the footer responsiveness. #95 #65

[2021-04-02 06:29] #313 closed

[2021-04-02 06:47] harikesh409 commented on #312
Duplicate of #226 #179

[2021-04-02 06:47] #312 closed

[2021-04-02 06:50] harikesh409 commented on #311
Can you post some screenshots on how you want to change it?

[2021-04-02 06:58] shonali2600 opened #317 "Animation is not working for some cards in the Team page."
## **Describe the bug**
In the team page, some cards tilt on hovering, while some don't.

## **Possible solution**
I'll rectify this problem.

## **Screenshots**

https://user-images.githubusercontent.com/57946528/113389830-4f5cb380-93ae-11eb-82e0-55e6d2de15d0.mp4

[2021-04-02 07:12] bug-debug-done commented on #64
@ravikr126 hey I cannot add video whose size is more than 10 mb

[2021-04-02 07:14] bug-debug-done commented on #64
I have combine the original video and the reverse video and made it one it will play on loop

[2021-04-02 07:30] #194 closed

[2021-04-02 07:31] harikesh409 commented on #284
Ask @Snehakri022 to grant editor permissions for the sheet.

[2021-04-02 07:49] harikesh409 commented on #64
@bug-debug-done
In the live site we are not using `video.mp4` file it has been updated to `background.gif` in #120, this is done to improve the performance of the site and don't add an video which of huge size which will drastically drop the page load speed.

[2021-04-02 07:50] bug-debug-done commented on #64
ok

[2021-04-02 07:50] harikesh409 commented on #317
Duplicate of #277

[2021-04-02 07:50] #317 closed

[2021-04-02 08:42] satcasm commented on #284
Hey @Snehakri022 would be kind enough to give me editor permissions.

[2021-04-02 13:46] shrishti-c opened #319 "Email-id validation"
## **Is your feature request related to a problem? Please describe.**

- Method to validate the email-id in contact us section in order to make sure a legitimate id has been provided.

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-04-02 13:48] shrishti-c opened #320 "Newsletter from Algo-Phantoms subscription column"
A feature to let user subscribe to get monthly newsletter from Algo-Phantoms.

[2021-04-02 14:04] harikesh409 commented on #320
How are you planning to implement it?

[2021-04-02 14:04] #69 closed

[2021-04-02 14:05] #287 closed

[2021-04-02 14:06] harikesh409 commented on #319
Duplicate of #115

[2021-04-02 14:06] #319 closed

[2021-04-02 14:22] pro-vider commented on #316
I want to connect RoadMap to DSA page and DSA problem page by a footer or a button..
It helps the programmer and looks more easy to handle.

[2021-04-02 14:35] pro-vider commented on #316
Or we can add the same footer which is used in home page to Roadmap to DSA page and DSA problem page.

[2021-04-02 15:21] harshb02 commented on #95
Can I work on this issue?

[2021-04-02 19:33] 123mansha commented on #309
@anubhavitis a@harikesh409 please check this and assign me if this isue is relevant

[2021-04-02 19:45] Marim99 opened #321 "adding navbar in DSA page"
There is no navbar in DSA page , there is only one button in down take you bake to home page .I want to add a navbar to this page .as a participant of GSSOC'21. Please assign it to me
![Screenshot (165)](https://user-images.githubusercontent.com/78925756/113448730-ac7f5600-93fc-11eb-9646-575e533024b5.png)

[2021-04-02 21:26] prajjwal1231 commented on #284
Hey @Snehakri022 @harikesh409 i would like to contribute in this issue ? can you assign it to me ?

[2021-04-03 01:08] shrishti-c commented on #320
We can have at section of newsletter in "more"  column which will land to other page. There we will tell people about perks of hearing from us monthly regarding latest technology and ask them to submit email id. Then in backend part we store those id. For the time being with the help of latest softwares, newsletter could be sent then.

[2021-04-03 13:49] amangupta37 opened #323 "google login"
## Proposal

(A clear and concise description of what the proposal is.)

[2021-04-03 13:53] amangupta37 opened #324 "improve nav bar"
## Proposal

(A clear and concise description of what the proposal is.)

[2021-04-03 13:58] Muskan-creator opened #325 "contact us section should be before more section"
## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**
![image](https://user-images.githubusercontent.com/59757988/113480606-bbc0db00-94b2-11eb-820d-d5d835c51a4f.png)

- If applicable, add screenshots to help explain your problem.

[2021-04-03 14:04] harshb02 opened #326 "Creating a FAQ section"
I want to create a FAQ section which contains frequently asked questions regarding Algorithm

[2021-04-03 14:06] #214 closed

[2021-04-03 14:07] ravikr126 commented on #321
someone already raised this issue

[2021-04-03 14:07] #321 closed

[2021-04-03 14:09] ravikr126 commented on #326
you can work now @harshb02

[2021-04-03 14:09] tier3guy opened #327 "Login Page"
##login page
I want create a login page for the site using firebase integration . PLease assign me this issue so that i can work on it.

[2021-04-03 14:10] amangupta37 commented on #218
I want to work on this issue

[2021-04-03 14:21] Muskan-creator opened #328 "Adding quizzes related to ds and algo in quizzes section"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-04-03 14:32] amangupta37 opened #329 "improve UI of road map to dsa"
## Proposal

(A clear and concise description of what the proposal is.)

[2021-04-03 14:33] Muskan-creator opened #330 "navbars are different"
## **Is your feature request related to a problem? Please describe.**
navbar in home and team section is different

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
- I want to make them same

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-04-03 14:43] harikesh409 commented on #218
It is already being worked fi @bitaashna needs help then you can also tag along.

[2021-04-03 14:46] #104 closed

[2021-04-03 14:49] harikesh409 commented on #284
It is already being worked by @satcasm

[2021-04-03 14:52] ravikr126 commented on #327
YOU CAN WORK NOW @ravikr126

[2021-04-03 14:53] ravikr126 commented on #329
YOU CAN WORK NOW @amangupta37

[2021-04-03 14:53] ravikr126 commented on #330
YOU CAN WORK NOW @Muskan-creator

[2021-04-03 14:54] ravikr126 commented on #328
YOU CAN WORK ON IT @Muskan-creator

[2021-04-03 14:56] ravikr126 commented on #309
YOU CAN WORK NOW @123mansha AND USE SOILD BACKGROUND

[2021-04-03 14:56] 123mansha commented on #309
okk

[2021-04-03 15:02] tier3guy commented on #327
Thanks

[2021-04-03 15:03] #220 closed

[2021-04-03 15:08] RoliGautam commented on #220
@harikesh409 Sorry due to exams , I was not able to contribute on this issue , Can I still work on it?

[2021-04-03 15:11] Khushi-agarwal opened #331 "Navbar alignment"
The nabber alignment is different as the contact us and more should have their positions interchanged and also on scrolling the navbar can be made of solid color instead of being transparent.

Please @harikesh409  , @ravikr126 assign this issue to me.

[2021-04-03 15:12] ravikr126 commented on #331
You can work on it @Khushi-agarwal

[2021-04-03 15:14] harshb02 commented on #51
![demo4](https://user-images.githubusercontent.com/58955446/113482657-4575a600-94bd-11eb-9306-d6f7307aec35.gif)

I will make the contact us form like this.
If you feel this is better then please assign this issue to me @harikesh409 @ravikr126

[2021-04-03 15:16] harikesh409 commented on #220
@gayatri517 already added an external link with the list of projects.

[2021-04-03 15:21] harikesh409 commented on #189
All the links present under features are third party links so no need to show them in the navbar.

[2021-04-03 15:21] #189 closed

[2021-04-03 15:22] Muskan-creator commented on #325
Please assign this issue to me @ravikr126

[2021-04-03 15:23] harikesh409 commented on #177
Any progress @saswatsam786

[2021-04-03 15:24] harikesh409 commented on #316
Go ahead @pro-vider
Add the same footer that is present in the home page.

[2021-04-03 15:28] 123mansha commented on #309
@harikesh409  @ravikr126
Should I swap the positions of **MORE** and **CONTACT** ?(should **More** be below the **Contact**)

[2021-04-03 15:28] harikesh409 commented on #51
It is already been built in #300 and review is going on. Work on some other issue.

[2021-04-03 15:30] harshb02 commented on #51
But you had some issues regarding the design of the form. So Ravi Bhaiya said if you like the design of my form then you can assign this issue to me

[2021-04-03 15:44] ravikr126 commented on #309
Yes you can swap and add solid background color to nav bar

[2021-04-03 15:52] saswatsam786 commented on #177
My practicals are going on ....it will be over in a week ... I have completed half of my work .....just give me one or two weeks. I will submit and give my progress in a week or two.

[2021-04-03 15:57] anju218 commented on #73
Hello, I am a GSSOC'21 participant. The typos are still not resolved in the landing page. I also feel the color scheme of the text and the background should be contrast. Please assign this issue to me.

[2021-04-03 16:23] Muskan-creator commented on #177
can i work on this issue @harikesh409

[2021-04-03 17:18] harikesh409 commented on #309
If the dropdown values are not being hidden inside the scroll bar you can swap them.

[2021-04-03 17:20] harikesh409 commented on #177
already 2 weeks are gone and again 2 weeks time is very huge make a PR with your changes and as @Muskan-creator she can continue as you are having exams you can work parallelly whenever possible, are you okay like this?

[2021-04-03 17:26] harikesh409 commented on #331
It is already being worked at https://github.com/Algo-Phantoms/Algo-Phantoms-Frontend/issues/309#issuecomment-812882718

[2021-04-03 17:26] #331 closed

[2021-04-03 17:28] ravikr126 commented on #51
@harshb02 if @padmajabhol not working on it then you will work.till now she work on it so we can't assign you

[2021-04-03 17:28] anshika208 commented on #323
Adding google login options to the website for every user and track their already taken courses and add those courses in their user's home page

[2021-04-03 17:29] anshika208 commented on #323
can i work on the issue @amangupta37

[2021-04-03 17:31] saswatsam786 commented on #177
OKK please give me 4-5 days. I will try if not Muskan can continue. I am new to all this ... I have to learn, and that's why it takes time. Please give me 4-5 days then after that  Muskan can carry on.

[2021-04-03 17:34] harshb02 commented on #51
Okay not a problem @ravikr126

[2021-04-03 17:46] harikesh409 commented on #177
Okay sure.

[2021-04-03 17:50] anshika208 opened #333 "third party authorization and home page"
adding third party authorization for users and adding the taken courses in the user's home page

(A clear and concise description of what the proposal is.)

[2021-04-03 17:53] Krishnapro commented on #324
Hello I am participant in GSSoc21 please assign this issue I want to contribute in this project.

[2021-04-03 18:02] #279 closed

[2021-04-03 18:06] harikesh409 commented on #95
are you still working on it @WebVishal? or else we will assign it to @harshb02

[2021-04-03 18:20] Sejal260 commented on #79
I  would like to work on it. Please provide me this issue so that I can start working on it.

[2021-04-03 18:24] harikesh409 commented on #320
As of now it is not needed.

[2021-04-03 18:24] #320 closed

[2021-04-03 18:33] harikesh409 commented on #323
Elaborate your idea.

[2021-04-03 18:47] WebVishal commented on #95
Hey @harikesh409  I have already give a pr #67 please Review the code

[2021-04-03 19:02] Khushi-agarwal commented on #311
Can I work on this issue.I will create a hover effect on the icons.
@harikesh409 @ravikr126

[2021-04-03 20:13] 123mansha commented on #309
Please review #335 and tell me if any changes are required.

I did not swapped the **MORE** and **CONTACT** as the contents of the dropdown were being hidden by the scroll bar.

[2021-04-04 07:41] Khushi-agarwal opened #337 "Follow us hover effect"
The follow us section has icons which do not have any hover effect and I would like to add it.
The hover effect will be that the icons will change color.
So please @ravikr126 @harikesh409 can you assign it to me.

[2021-04-04 07:59] 123mansha commented on #309
![Screenshot (13)](https://user-images.githubusercontent.com/59260493/113502390-b5ca0900-9549-11eb-81a8-eb986e490373.png)

Is this OK or any changes are required

[2021-04-04 12:45] harshb02 commented on #326
Assign me this issue @ravikr126 @harikesh409

[2021-04-04 14:38] Snehakri022 commented on #284
yeah sure

[2021-04-04 14:54] harikesh409 commented on #337
Already a hover effect is present for the icons too many effects will not look good.

[2021-04-04 14:54] #337 closed

[2021-04-04 14:55] harikesh409 commented on #218
Go ahead, already some changes are requested in #274 look into those.

[2021-04-04 15:35] harikesh409 commented on #166
@Surabhi0910 make a single PR not multiple PRs for each file.

[2021-04-04 15:52] harikesh409 commented on #333
Let the sign in and sign up be implemented first then we can think of these.

[2021-04-04 16:03] harikesh409 commented on #324
What do you want to improve?

[2021-04-04 16:08] harikesh409 commented on #325
@Muskan-creator it was kept like that coz if we swap those in few resolutions the dropdown is going behind the scroll bar, if you have a solution for that then you can resolve and post few screenshots then we can assign it to you.

[2021-04-04 17:05] Muskan-creator commented on #325
![image](https://user-images.githubusercontent.com/59757988/113516035-b8eae680-9595-11eb-8690-707ef3336593.png)
I can create like this
At right place left we can add login or sign up button

[2021-04-04 17:08] Krishnapro commented on #330
Hello I am participant  in GSSoC21 and I want to improve navigation bar ( in navigation bar underline is not at right place and same size.

so please assign me this issue

[2021-04-04 17:15] Muskan-creator commented on #325
@harikesh409 like this
![image](https://user-images.githubusercontent.com/59757988/113516348-627ea780-9597-11eb-8e6c-634535e97190.png)

[2021-04-04 17:15] Krishnapro commented on #324
I want to improve navigation menu underline. This is not at right size and
belongs to each other
So it's not look fine.

On Sun, 4 Apr, 2021, 9:34 pm Harikesh Pallantla, ***@***.***>
wrote:

[2021-04-04 18:46] amangupta37 commented on #324
I have raised this issue as " more option " should come at the last of  navbar instead of  "contact us" option  and also the opacity of nav bar should be 0 while scrolling the webpage but currently its opacity remains same while scrolling and i want to work on this issue under GSSOC

[2021-04-04 19:48] sandipswain commented on #327
@ravikr126  I am a participant of GSSoC . I would like to take this issue and design a login page. Can you please assign me this issue

[2021-04-05 02:43] Krishnapro commented on #324
Ok, I will check.

On Mon, 5 Apr, 2021, 12:16 am Aman Gupta, ***@***.***> wrote:

[2021-04-05 03:30] ravikr126 commented on #327
Someone already work on it so I can't assign you @sandipswain if you like to collaborate then ask to @tier3guy for collaboration.

[2021-04-05 08:33] DEEPIKA-SUK opened #343 ""Go Back" button not present in DSA Problems page"
## **Describe the bug**

**Go Back** button is not present in **DSA Problems** page, in rest of the pages it is present. I would like to add this button so that user can Go Back to homepage directly by clicking on that button.
## **Possible solution**

I would like to add this button so that user can Go Back to homepage directly by clicking on that button.

Kindly assign me this issue as a part of

[2021-04-05 08:40] DEEPIKA-SUK opened #344 "Custom Scroll-Bar absent in DSA Problems page"
## **Describe the bug**

Custom Scroll bar is absent in **DSA Problems** page, in rest of the pages it is present. I would like to add the same custom scroll bar(feature) in this page also.

## **Possible solution**
I would like to add the same custom scroll bar(feature) in this page also.

## **Screenshots**

![Screenshot (141)_LI](https://user-images.githubusercontent.com/64724039/113555421-8930

[2021-04-05 14:04] vedant-jain03 commented on #344
I want to work on this issue.

[2021-04-05 14:08] vedant-jain03 opened #345 "Want to Change designing of Pre-Loader"
I visit the website and I guess preloader should be have some different style as this is the first impression user will see when visit the site.
I want to change
-> Around Loading section want to add "<>" as symbolize coding tags replacing rounding bar

[2021-04-05 15:20] amangupta37 commented on #324
@harikesh409 what's your opinion on this issue and if it's okay then please assign me this issue under GSSOC .

[2021-04-05 15:37] vedant-jain03 opened #346 "Skills Enhancement Table is not aligned Center"
## **Describe the bug**

- Skills Enhancement Table is not aligned Center

## **Possible solution**

- I have inspect website and it should changed its margin-left to 100px

## **Screenshots**

![bandicam 2021-04-05 21-01-52-038](https://user-images.githubusercontent.com/76901313/113592522-e77ac700-9652-11eb-963b-2fdea2d562df.jpg)

[2021-04-05 15:42] vedant-jain03 opened #347 "Responsiveness of Home Page"
## **Is your feature request related to a problem? Please describe.**

- Home Page is not responsive. I want to make home page responsive using HTML,CSS,JS.

## **Describe the solution you'd like**

- I will make table of Skills from 3x3 to 1x9
- Will also enhance footer
- Also make About us responsive

[2021-04-05 16:14] #343 closed

[2021-04-05 16:17] #344 closed

[2021-04-05 16:23] srishtij2000 commented on #327
Can I work on this issue?

[2021-04-05 16:23] srishtij2000 commented on #326
Can I work on this issue?

[2021-04-05 16:24] srishtij2000 commented on #316
Can I work on this issue?

[2021-04-05 16:24] srishtij2000 commented on #347
Can I work on this issue?

[2021-04-05 16:24] srishtij2000 commented on #330
Can I work on this issue?

[2021-04-05 16:24] srishtij2000 commented on #329
Can I work on this issue?

[2021-04-05 16:43] harikesh409 commented on #326
It is already being worked by @harshb02, you can choose some other issue.

[2021-04-05 16:51] vedant-jain03 commented on #347
@harikesh409 @anubhavitis @parthpandyappp
If you think it is valid issue
Please assign me

[2021-04-05 17:12] harikesh409 commented on #346
Go ahead @vedant-jain03.

Suggestion: Try to use rem instead of px, I think so 5rem will be sufficient.

[2021-04-05 17:14] vedant-jain03 commented on #346
Ya sure @harikesh409 thankyou for suggestion
If you dont mind can you please make me assigned so that other participant will not get confused
And I have also listed more issue if you think it is valid please review it and give me feedback

[2021-04-05 17:15] vedant-jain03 commented on #346
Thankyou for assingning @harikesh409

[2021-04-05 17:29] #316 closed

[2021-04-05 17:32] harikesh409 commented on #324
This issue is already present and the more is kept before coz if it is at the end in few resolutions the dropdown content is being hidden inside the scrollbar.

[2021-04-05 17:32] harikesh409 commented on #324
Its not needed.

[2021-04-05 17:32] #324 closed

[2021-04-05 17:33] harikesh409 commented on #345
If possible show us some screenshots so that we can decide if that UI change is needed or not.

[2021-04-05 17:34] harikesh409 commented on #325
We don't want the navbar to be offsetted.

[2021-04-05 17:34] harikesh409 commented on #325
do you mean an horizontal bar?

[2021-04-05 17:55] harikesh409 commented on #311
Duplicate of #307

[2021-04-05 17:55] #311 closed

[2021-04-05 17:57] harikesh409 commented on #277
Okay go ahead and as mentioned in #317 there might be issue in opera also so check that one also.

[2021-04-05 17:59] harikesh409 commented on #182
Closing due to inactive.

[2021-04-05 17:59] #182 closed

[2021-04-06 04:10] Muskan-creator commented on #325
At right end we can create a login /signup tab matches to our color schema
Also I have idea of signup and login form If you allow me I can create issue for that.

[2021-04-06 04:46] #326 closed

[2021-04-06 05:48] vedant-jain03 commented on #345
OK I will provide you with an example by tonight

[2021-04-06 05:49] vedant-jain03 commented on #345
Ok, I will provide my Screenshot by Tonight

[2021-04-06 08:30] Muskan-creator commented on #325
No I can create a toggle bar type or like other navbar options

[2021-04-06 09:22] 123mansha commented on #309
updated PR #335  please check
@harikesh409

[2021-04-06 10:33] Diksha-11 opened #354 "Adding a meta tag to /index.html"
## Proposal

I'm a GSsoc'21 participant and i would like to add a meta tag that conatains http-equiv and content attribute.

As "http-equiv" attribute set  is similar to the  http header. Thus, It should be there in /index.html

Thus I request maintainers to please assign me this issue

[2021-04-06 11:09] nandita658 opened #355 "Blue circle in teams section"
## **Describe the bug**

There is this big blue circle in team section, which is not looking nice. I don't know its purpose, but I think that it would look nice without it.

## **Possible solution**

I have use inspection tool and it can be removed by removing division with class round1.

## **Screenshots**
![Algo Phantoms_Team - Google Chrome 06-04-2021 16_20_14](https://user-images.githubusercon

[2021-04-06 12:43] cryptofox17 opened #356 "Changing the height and color of teams section"
## **Is your feature request related to a problem? Please describe.**
The teams section is way too big and occupies much of the screen even though the content doesn't require it. Also the background colors blends in with the footer color so there is no seperation between the two.

## **Describe the solution you'd like**

- Changing the height of the section
- Choosing different background color to

[2021-04-06 12:48] srisatya1197 opened #357 "Improve techstack with logos in readme file"
I want to improve tech stack in readme file with logos . I'm a participant of GSSOC'21 please assign this issue to me.

[2021-04-06 17:21] #222 closed

[2021-04-06 17:24] ravikr126 commented on #357
no need to improvement in readme

[2021-04-06 17:24] #357 closed

[2021-04-06 17:25] ravikr126 commented on #355
someone already create this issue

[2021-04-06 17:25] #355 closed

[2021-04-06 17:26] ravikr126 commented on #356
someone already work on it .please work on different issues.

[2021-04-06 17:26] #356 closed

[2021-04-06 17:27] ravikr126 commented on #347
in about us what you change?? please share your changes @vedant-jain03

[2021-04-06 17:29] ravikr126 commented on #330
someone already work on it @srishtij2000  and @Krishnapro

[2021-04-06 17:30] ravikr126 commented on #329
Aman already work on it .please find issues that someone not working on or create a new issue that is not duplicate and essential for website @srishtij2000

[2021-04-06 17:57] ravikr126 opened #358 "remove team section from home page"
## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

[2021-04-06 17:58] harshb02 commented on #358
I want to work on this issue @ravikr126

[2021-04-06 17:58] ravikr126 commented on #358
you can work now @harshb02

[2021-04-06 18:00] #117 closed

[2021-04-06 18:08] harshb02 opened #359 "Aligning of the Sharpen Your Skills Section"
The content of the Sharpen Your Skills section is not aligned properly in the center and is looking very bad

Kindly assign me this issue so that I can fix that @harikesh409 @ravikr126

[2021-04-07 06:34] shonali2600 opened #361 "Hover effect to Sharpen your skills section"
## **Is your feature request related to a problem? Please describe.**

The Hovering effect added to sharpen your skills section is not looking good and may irritate the user.

## **Describe the solution you'd like**

I would like to make it look better.

[2021-04-07 06:38] shonali2600 opened #362 "FAQs are very much congested"
## Proposal

The FAQs written are very much congested and not looking good with a very large font and not so good font style.

I would like to improve its appearance by designing it good, changing font style and size.

[2021-04-07 07:31] 123mansha commented on #309
resolved the conflicts PR #335
please check @harikesh409  and @ravikr126

[2021-04-07 09:43] sohini3062 opened #363 "Links to be added on the Sharpen your skills section"
## Proposal
currently the sharpen your skills sections contains data structure, algorithms,python sections etc which on being clicked revert back to the home page. Topic Specific GeekforGeeks links can be added to them, for example [Link](https://www.geeksforgeeks.org/data-structures) be added for data structures.
(A clear and concise description of what the proposal is.)

[2021-04-07 11:11] #291 closed

[2021-04-07 12:44] simranbhalla3 commented on #358
I am a Gssoc participant, Can i work on this issue?

[2021-04-07 12:44] simranbhalla3 commented on #354
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:44] simranbhalla3 commented on #276
I am a Gssoc participant , please assign me this issue.

[2021-04-07 14:39] #346 closed

[2021-04-07 14:53] sakshigoel19 opened #365 ""Suggested Books" in the "More" tab of navbar not showing on the Teams page"
## **Describe the bug**
Navbar contents should be consistent on all pages but on the navbar of teams page - on the more tab - suggested books option is not showing as it is on the home page. I want to fix this. Please assign me this under GSSOC'21.

## **Possible solution**
I will add "Suggested Books" on the More tab of teams page that will redirect to the booklist page.

## **Screenshots**
On Ho

[2021-04-07 16:53] satcasm commented on #284
@Snehakri022 apologies for late response.
I am not getting how to edit it exactly , I mean I am guessing that I would have to go to the URL of the spreadsheet and edit from there, but I am not getting any edit option there. So can you tell me the exact link?

[2021-04-07 17:26] Snehakri022 commented on #284
https://docs.google.com/spreadsheets/d/1h-RYH9fw98Ls4HpFOSuBQGdyPMY-ZSU3/edit#gid=21324302

use this link

[2021-04-07 17:51] satcasm commented on #284
@Snehakri022 thanks , I have made the changes. As no PR can be made for this, I guess that's it for this issue or is there anything else?

[2021-04-07 18:13] Muskan-creator commented on #365
I want to work on this issue please assign me this issue @harikesh409

[2021-04-08 08:16] #309 closed

[2021-04-08 08:19] #191 closed

[2021-04-08 08:21] ravikr126 commented on #359
already someone raise this issue @harshb02

[2021-04-08 08:21] #359 closed

[2021-04-08 08:35] tanishq-arya opened #368 "UI: Links in team open in the same page"
## Proposal

It would be better if the links open in a new page. Please assign me this under gssoc.

[2021-04-08 08:39] tanishq-arya opened #369 "Links added twice"
## **Describe the bug**
Please assign it to me under gssoc
Project ideas link is added twice
## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Screenshot (1126)_LI](https://user-images.githubusercontent.com/77333275/113995654-10c66d80-9874-11eb-8e95-4b4dc400db8d.jpg)

[2021-04-08 09:48] ritesh1731 commented on #358
I would like to work on this issue as a GSSOC21 Participant. Can you please assign it to me?

[2021-04-08 14:00] kanishka8276 opened #370 "Adding arrows to the scroll bar."
## **Is your feature request related to a problem? Please describe.**
There are no arrows on the scrollbar. Arrows make the scrollbar more user friendly.
## **Describe the solution you'd like**
I would like to add arrows.
Please assign this to me.

[2021-04-08 14:29] kanishka8276 opened #371 "About text is not linked correctly in booklist.html"
## **Describe the bug**
About option under useful links in booklist.html is not linked to the About section of index.html.
Please assign this to me.

[2021-04-08 14:37] kanishka8276 opened #372 "Adding link to homepage in booklist.html"
There is no link to home page in booklist.html.
I will like to add the link to the home page under useful links in booklist.html.
Please assign this to me.

[2021-04-08 16:32] tarunsinghofficial opened #373 "Aligning the Sharpen Your Skills Section to center"
## Bug

The alignment of the Sharpen Your Skills is not centered.

## **Solution**

I can fix this issue. Please assign this issue to me! I am a GSSoC participant

## **Screenshots**

![image](https://user-images.githubusercontent.com/62840625/114063048-d2ea3900-98b5-11eb-82cd-a92a1eac59bc.png)

[2021-04-08 17:29] sakshigoel19 commented on #365
@ravikr126 Please assign it to me.

[2021-04-08 20:04] harsh725 commented on #358
I want to work on this project.

[2021-04-09 05:47] ishwari20 opened #374 "About section overlapping the social sidebar (phone view)"
## **Describe the bug**

- The about section overlapping the social sidebar in phone view

## **Possible solution**

- Work on the z-index

## **Screenshots**

![Screenshot (167)](https://user-images.githubusercontent.com/56400099/114134327-2d6eae00-9925-11eb-9799-ffebc2b3e144.png)

[2021-04-09 05:49] ishwari20 commented on #374
@harikesh409 @ravikr126 Please assign it to me, I have made changes in my local computer

[2021-04-09 06:08] ravikr126 commented on #374
Please come to discord server and tag me

[2021-04-09 06:54] ishwari20 commented on #374
@ravikr126 Done!

[2021-04-09 09:51] divyanshkhatana opened #376 "Want to add Theme Change Button in Navigation menu"
Hello, I want to add a sliding theme changing button to navigation bar ,which can be changed to black theme or white theme.

Given below is sliding button for your reference .
![image](https://user-images.githubusercontent.com/44130452/114162590-dda0de80-9946-11eb-8224-08428c914c24.png)

I want to work on this issue @ravikr126

[2021-04-09 11:05] iaryangoyal commented on #376
kindly assign this work to me

[2021-04-09 15:15] shonali2600 commented on #361
Please assign this issue to me as a gssoc participant.

[2021-04-09 15:15] shonali2600 commented on #362
Please assign this issue to me as a gssoc participant

[2021-04-10 07:53] Shivangi-ch commented on #376
Assign this to me.

[2021-04-10 12:23] #101 closed

[2021-04-10 12:27] ravikr126 commented on #376
why you think about darks theme .there is already a website in the dark color @divyanshkhatana

[2021-04-10 12:31] ravikr126 commented on #370
ok, you can work on it. @kanishka8276

[2021-04-10 12:33] ravikr126 commented on #372
no need for this issue . @kanishka8276

[2021-04-10 12:33] #372 closed

[2021-04-10 12:34] ravikr126 commented on #371
do work on this issue that I told on discord server . @kanishka8276

[2021-04-10 12:35] ravikr126 commented on #371
and adding navbar on book section also.i will mark as this issue level 3 so you can work both in this issue

[2021-04-10 12:39] ravikr126 commented on #374
you need to do too many changes in mobile view there is a lot of bugs in the mobile view
see some ss that i have taken .you can raise extra issues or join today meeting at 7 .link will provide on discord server
![algo-phantoms github io_Algo-Phantoms-Frontend_booklist html](https://user-images.githubusercontent.com/53082978/114270037-c4239380-9a27-11eb-88e3-f83f7532982e.png)

[2021-04-10 12:41] ravikr126 commented on #365
ok @sakshigoel19 you can work on this

[2021-04-10 12:42] #19 closed

[2021-04-10 12:43] #27 closed

[2021-04-10 12:45] #31 closed

[2021-04-10 12:47] #32 closed

[2021-04-10 12:49] ravikr126 commented on #361
you can work now and also align this section at the center @shonali2600

[2021-04-10 12:56] ravikr126 commented on #363
we are planning to add some own content .so adding third parties links will not require.
this is future enhancement so I think it will need some time to implementation

[2021-04-10 12:59] ravikr126 commented on #362
this section will further enhance by assign participant so I think you need to work on a different issues. @shonali2600

[2021-04-10 12:59] #362 closed

[2021-04-10 13:01] ravikr126 commented on #354
I think someone already opens this issue. but you can work on this because they didn't respond so work on it.

[2021-04-10 13:02] ravikr126 commented on #345
where is the ss @vedant-jain03 ??

[2021-04-10 13:04] ravikr126 commented on #333
this issue already raise by someone.please work on different issue.  @anshika208

[2021-04-10 13:04] #333 closed

[2021-04-10 13:05] vedant-jain03 commented on #345
Sorry for the delay sir I will provide you by tonight for sure

Implementation:
I will be using theme background color of algo-phantome
And for loading part I will use " <>"  as symbolise coding and will animate it until loading is done

[2021-04-10 13:07] shonali2600 commented on #362
@ravikr126 so sorry but I didn't get you what you are trying to say, no one has created similar issue.

[2021-04-10 13:07] ravikr126 commented on #284
sorry, @satcasm our PA said that no need for this page .we will remob=ving this page from the website .so you can work on a different issues.

[2021-04-10 13:07] #284 closed

[2021-04-10 13:08] ravikr126 commented on #362
come to discord server @shonali2600

[2021-04-10 13:15] shonali2600 commented on #361
Thanks for assigning me this issue, but it's already aligned at the center

[2021-04-10 13:54] vedant-jain03 commented on #345
![bandicam 2021-04-10 19-21-45-252](https://user-images.githubusercontent.com/76901313/114272045-0ce04a00-9a32-11eb-88c3-a8c0dc4c9807.jpg)

This is the sample ss
* I will make background color changing every 5s of theme colors
* For "</>" it will animate till preload to and forth "<>"

If you want any enhancement I will provide you with that also

[2021-04-10 13:56] shonali2600 opened #378 "add back to home page button"
## **Is your feature request related to a problem? Please describe.**

after opening "Roadmap to DSA" or "DSA Problem" there is no button that provides the functionality to go back to the home page.

## **Describe the solution you'd like**

I would like to add a back button to all these sections or adding the header can also do the needful, please suggest me the best way.

Please assign me this is

[2021-04-10 14:00] shonali2600 opened #379 "In team section there is one option missing in the dropdown box"
## **Describe the bug**

In the Team section, on clicking more option, there is one option "Suggested book" missing, while it is present in home page.

## **Possible solution**

I would like to rectify this problem

Please try to assign me this issue as a gssoc participant.

[2021-04-10 14:05] shonali2600 opened #380 "In suggested book page, book name gets hidden on hovering."
## **Describe the bug**

While hovering on the name of books, a label appears containing information of that book, It hides the name of the book.

## **Possible solution**

I will align the label to the correct place so that it never overlaps with the name of books

Please assign this issue to me as a gssoc participant.

[2021-04-10 14:10] #379 closed

[2021-04-10 15:47] divyanshkhatana commented on #376
@ravikr126  there will be option between dark and light theme not just only dark.

[2021-04-10 16:31] sohini3062 commented on #363
Okay sure!

[2021-04-10 16:31] #363 closed

[2021-04-10 18:37] Harshit-Pathak opened #383 "Adding the colour of social media icons on hover in the footer of the home page"
<h3>The Issue </h3>
In the footer section the color change on hover over social media icons is same

<h3>Enhancement</h3>
 Adding the respective colors on hovering over social media icons in the footer of the homepage

Please assign me this issue as a gssoc'21 participant

[2021-04-10 18:42] Harshit-Pathak commented on #383
/assign

[2021-04-10 19:11] kanishka8276 opened #385 "Adding navbar and adding styling in go back button in DSA.html"
I will like to add navbar to dsa.html and remove the go back button.
Please assign this to me.

[2021-04-10 19:14] kanishka8276 opened #386 "Making dsa.html responsive."
Iframe in dsa.html is not responsive as it has absolute dimensions. I will like to make it responsive.
Please assign this to me.

[2021-04-11 05:58] shonali2600 opened #387 "Style suggested books page"
## **Is your feature request related to a problem? Please describe.**

Suggested books page looks dull.

## **Describe the solution you'd like**
I would like to  improve its UI.
Please assign this issue to me as a gssoc participant.

[2021-04-11 13:21] harshb02 opened #390 "Aligning and improving the view of FAQ section in mobile view"
The FAQ section in the mobile view in not good and needs to get alligned.

Kindly assign this issue to me @harikesh409 @ravikr126

[2021-04-11 13:24] harshb02 opened #391 "Aligning and improving the Sharpen your skills section in the mobile view"
The Sharpen your skills section in the mobile view is not aligned properly and is creating a problem in the mobile view

I want to make it correct so kindly assign this issue to me @ravikr126 @harikesh409

[2021-04-11 14:08] Jagannath8 commented on #369
Assign it to me.

[2021-04-12 10:06] raks924 commented on #373
hey i would like to work on this issue. Please assign this to me.

[2021-04-12 10:53] aditidewangan commented on #327
I would like to work on this issue I m GSSOC'21 participant.

[2021-04-12 10:53] aditidewangan commented on #327
I would like to work on this issue I m GSSOC'21 participant.

[2021-04-13 17:31] ravikr126 commented on #376
the webpage is already dark video .so i don't think for dark mode @divyanshkhatana

[2021-04-13 17:31] #376 closed

[2021-04-13 17:57] ravikr126 commented on #385
same as issue #378

[2021-04-13 18:00] ravikr126 commented on #386
you can work on it @kanishka8276

[2021-04-13 18:01] ravikr126 commented on #378
you can work on it @shonali2600

[2021-04-13 18:03] ravikr126 commented on #385
@kanishka8276 work on it

[2021-04-13 18:06] ravikr126 commented on #387
someone work on it @shonali2600

[2021-04-13 18:06] #387 closed

[2021-04-13 18:07] ravikr126 commented on #380
someone already work on it

[2021-04-13 18:07] #380 closed

[2021-04-13 18:08] #385 closed

[2021-04-13 18:08] shonali2600 commented on #378
@ravikr, please suggest me should I add a header(nav bar) or only a back to home page button?

[2021-04-13 18:14] ravikr126 commented on #378
please join meet @shonali2600

[2021-04-13 18:14] ravikr126 commented on #391
@harshb02 you can work now

[2021-04-13 18:16] ravikr126 commented on #390
you can work now @harshb02

[2021-04-13 18:20] #358 closed

[2021-04-13 18:22] ravikr126 opened #392 "removal of social media option on mobile view"
## **Describe the bug**

- A clear and concise description of what the bug is.

## **Possible solution**

- Describe the solution you thought of.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![20210413_235022](https://user-images.githubusercontent.com/53082978/114601625-59868800-9cb3-11eb-9293-baa85dc1e358.jpg)

[2021-04-13 18:23] harshb02 commented on #392
I want to work on this issue @ravikr126

[2021-04-13 18:23] ravikr126 commented on #392
ok work on it @harshb02

[2021-04-13 18:25] ravikr126 commented on #374
you can work now @ishwari20

[2021-04-13 18:26] #370 closed

[2021-04-13 18:26] ravikr126 commented on #378
add navbars on all pages @shonali2600

[2021-04-13 18:28] ravikr126 commented on #373
you can work on it and also add hover effect on c,c++ and java section @tarunsinghofficial

[2021-04-13 18:31] ravikr126 commented on #369
you can work on it and also remove DSA Guidance link @tanishq-arya

[2021-04-13 18:46] #39 closed

[2021-04-13 18:47] #55 closed

[2021-04-13 18:50] harshb02 commented on #80
I want to work on this issue @ravikr126 @harikesh409

[2021-04-13 18:50] ravikr126 commented on #80
@harshb02 you can work on it

[2021-04-13 18:52] #65 closed

[2021-04-13 18:53] #79 closed

[2021-04-13 19:00] arpit456jain commented on #386
@kanishka8276 will you work on this issue?

[2021-04-13 19:01] kanishka8276 commented on #386
@arpit456jain yes.

[2021-04-13 19:30] ishwari20 opened #394 "Social media icons in footer of home page and team page not same"
## **Describe the bug**

- The social media icons in the footer section of home page and team page not the same

## **Possible solution**

- Make them same

## **Screenshots**

![Screenshot (172)](https://user-images.githubusercontent.com/56400099/114609766-c5212300-9cbc-11eb-8235-f05d53ba3320.png)
![Screenshot (173)](https://user-images.githubusercontent.com/56400099/114609778-c81c1380-9cbc-11eb-

[2021-04-13 19:31] ishwari20 commented on #394
@ravikr126 @harikesh409 Please assign it to me. I want to work on this issue

[2021-04-13 19:33] ravikr126 commented on #394
Ok and check all pages if needed try to improve all pages.@ishwari20

[2021-04-14 05:16] tanya070820 opened #395 "Their should be a sign in\register option in home page."
## **Is your feature request related to a problem? Please describe.**

- Yes as by this everyone can make their id and whenever they leave they can again start from their.

Please assign this issue to me

[2021-04-14 05:29] tanishq-arya commented on #368
Hey @ravikr126 I guess a someone solved this in a recent PR. Now there are target="_blank" in the links in team page. SHould I close this issue ?

[2021-04-14 05:51] tanishq-arya opened #397 "JavaScript Error"
## **Describe the bug**

- There is an issue with the script for navbar

## **Possible solution**
- Add an id nav to the nav element

## **Screenshots**
![Screenshot (1205)](https://user-images.githubusercontent.com/77333275/114660324-bf562c80-9d12-11eb-9b3f-2af4a4423011.png)

[2021-04-14 05:51] tanishq-arya commented on #397
Please assign me this issue under gssoc.

[2021-04-14 09:36] arpit456jain opened #400 "[Gssoc'21] Back to home button on booklist.html"
## **Is your feature request related to a problem? Please describe.**

There is no back to home button on booklist.html

## **Describe the solution you'd like**
I can add a button at top left on booklist.html

[2021-04-14 13:53] sreetu opened #401 "Overlapping text"
## **Describe the bug**

- A clear and concise description of what the bug is.
- Text overlaps in mobile view

## **Possible solution**

- Describe the solution you thought of.
- To make text responsive using bootstrap.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.
![Screenshot (497)](https://user-images.githubusercontent.com/72204621/114721326-72944500-9d56-1

[2021-04-14 15:03] AmanBisht01 opened #402 "Making "sharp your skill" section in homepage more interactive ."
## **Is your feature request related to a problem? Please describe.**

Only the text is clickable in the skill section .

## **Describe the solution you'd like**

Make the block of skill section clickable rather than just the text.

[2021-04-14 15:03] AmanBisht01 commented on #402
please assign this issue to me under gssoc

[2021-04-14 16:05] harshb02 commented on #80
I am already working you can colab with me if you want to @manasvvi1

[2021-04-14 16:07] #361 closed

[2021-04-14 16:41] manasvvi1 commented on #80
@harshb02 yaa sure, would love to work with you!!

[2021-04-15 05:46] 1vivekanand opened #403 "Improving practicedsa.html page"
## Proposal

We can have cards for different topics and  under that there will be list of problems.

[2021-04-15 05:47] 1vivekanand commented on #403
assign this issue to me under GSSOC'21

[2021-04-15 06:14] shrishti-c opened #404 "Email validation in contact us"
Email validation part for contact us and cursor also needs to be changed.

[2021-04-15 06:19] shrishti-c opened #405 "Aligning the subtitle part"
The subtitle part "Algo Phantom is an open source........" needs to be aligned in with respect to heading in center.

[2021-04-15 06:45] shrishti-c commented on #391
![Screenshot (157)](https://user-images.githubusercontent.com/73748606/114825684-298ad200-9de4-11eb-9f78-72d21743e0ca.png)
Where is these section that you are working on? I couldn't find them

[2021-04-15 07:04] ishwari20 opened #406 "Close Navbar when clicked on any button in it (in phone view)"
## **Is your feature request related to a problem? Please describe.**

- When we click on the buttons/links in the navbar like contact/about, it just scrolls down in the page but the navbar doesn't close and thus overlaps on the other elements. (in phone view)

## **Describe the solution you'd like**

- Close the navbar on click

[2021-04-15 07:05] ishwari20 commented on #406
@ravikr126 @harikesh409 Please assign it to me. I want to work on this issue

[2021-04-15 07:21] RaveenaBhasin opened #407 "Adding links of free pdf of books in booklist.html"
I would like to add links of the free pdf of books along with the amazon link present currently. In this user can explore the book before buying or can learn from the free pdf only.
Please assign this issue to me under GSSOC.

[2021-04-15 14:38] #394 closed

[2021-04-15 15:31] #102 closed

[2021-04-16 01:24] archanagandhi opened #409 "hr tag is different in each sections"
## Proposal
Hey @Shruti3004,
(A clear and concise description of what the proposal is.)
hr tag ( underlined content) border is different in each section. Please assign this to me to make it even in all sections

[2021-04-16 05:52] aditidewangan opened #411 "Filter Labels and Footer text are not visible in dark mode"

[2021-04-16 06:02] #411 closed

[2021-04-16 06:09] #368 closed

[2021-04-16 11:46] aditidewangan opened #413 "The Slidebar Icon of Instagram is not correct"
## **Describe the bug**

- The Slidebar Icon of Instagram is not correct.

## **Possible solution**

- I want to change the icon to its correct Instagram icon.

## **Screenshots**

- If applicable, add screenshots to help explain your problem.

![WhatsApp Image 2021-04-16 at 5 11 33 PM](https://user-images.githubusercontent.com/76042201/115019610-0ee55580-9ed7-11eb-8d7c-d1e5ff8f2874.jpeg)

[2021-04-16 11:46] aditidewangan commented on #413
Please assign me this issue.

[2021-04-17 06:03] shrishti-c opened #414 "Making "more" option in navbar expand on hovering"
We need to click on on more option to expand and collapse. We can enhance it by adding hover effect. This will give a smooth effect to page.

[2021-04-17 06:07] shrishti-c opened #415 "Proper Positioning of Go Back button"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.
![Screenshot (166)](https://user-images.githubusercontent.com/73748606/115103650-2709b300-9f71-11eb-8976-3b32979182a3.png)

[2021-04-17 06:09] shrishti-c opened #416 "Adding "Back to Home" in practice Questions page"
## **Is your feature request related to a problem? Please describe.**

- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**

- A clear and concise description of what you want to happen.

[2021-04-17 06:37] shrishti-c opened #417 "Enhancing Book List Page"
On hovering over links, link text doesn't contrast with the background. I'll modify color contrast between background and foreground content to ensure legibility
![Screenshot (167)](https://user-images.githubusercontent.com/73748606/115104320-4571ad80-9f75-11eb-81a4-d8bbe0865316.png)

[2021-04-17 07:10] sohini3062 opened #418 "Add navigator bar to the BookList page"
## **Is your feature request related to a problem? Please describe.**
The booklist page does not have a navigation bar.
- A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

## **Describe the solution you'd like**
I want to add the one present on the main website on booklist page as well.
- A clear and concise description of what you want to happen.